<style>
.red{color:#ff0000;}
.self_label{display:inline-block;margin-right:17px;margin-bottom:11px;}
</style>
<div>
    <div class="col-sm-12 col-md-12">
        <h3 class="heading">栏目增加</h3>
		<?php $action = $info['column_id'] > 0 ? U('edit',array('id'=>$info['column_id'])) : U('add'); ?>
			<form class="form-horizontal cs_ajax_form" method="post" action="{$action}">
				<fieldset>
					<div class="form-group">
						<label for="u_fname" class="control-label col-sm-2">栏目名称</label>
						<div class="col-sm-3">
							<input name="column_name" class="input-xlarge form-control" type="text" value="{$info.column_name}">
						</div>
					</div>
					<div class="form-group">
						<label for="u_fname" class="control-label col-sm-2">排序</label>
						<div class="col-sm-3">
							<input name="sort_order" class="input-xlarge form-control" type="text" value="{$info.sort_order|default=50}">
						</div>
					</div>
					<div class="form-group">
						<label for="u_fname" class="control-label col-sm-2">菜单</label>
						<div class="col-sm-9">
							<foreach name="menu_list" key="ko" item="vo">
								<div class="col-sm-12 purviewwrap" style="padding:5px 0;">
									<div class="col-sm-2">
										<span style="display:inline-block;width:120px;">
										<input class="purviewgroup" type="checkbox">{$vo.txt}</span>
									</div>
									<div class="col-sm-10">
										<foreach name="vo.itm" key="kp" item="vp">
												<span style='display:inline-block;width:130px;'>
													<input {:m_checked($vp[menu_id], $info['menu_list'])} class="purview" type="checkbox" name="menu_list[]" value="{$vp.menu_id}">
													{$vp.txt}
												</span>
										</foreach>
									</div>
								</div>
							</foreach>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-2">
							<button href="" class="btn btn-default" type="submit">确认并保存</button>
						</div>
					</div>
				</fieldset>
			</form>
    </div>
</div> 

<script type="text/javascript">
function purviewgroupchk(obj){
	var prt = $(obj).parents('.purviewwrap');
	var chk = prt.find('input.purview').length == prt.find('input.purview:checked').length;
	var grp = prt.find('.purviewgroup');
	if(chk) grp.attr('checked', 'checked');
	else grp.removeAttr('checked');
}
$('.purviewgroup').each(function(){
	purviewgroupchk(this);
	$(this).bind('click', function(){
		var obj = $(this);
		var pls = obj.parents('.purviewwrap').find('.purview');
		if(obj.is(':checked')) pls.attr('checked', 'checked');
		else pls.removeAttr('checked');
	});
});
$('.purview').bind('click', function(){
	purviewgroupchk(this);
});
</script>
	