<div class="vip_nav">
	<ul class="top">
		<li><a href="{:U('user/index/index')}"><em>个人中心</em><i class="i1"></i></a></li>
		<!--<li><a href="{:U('mall/cart/index')}"><em>购物车</em><i class="i2"></i></a></li>-->
		<li><a href="{:U('user/collect/index')}"><em>我的关注</em><i class="i3"></i></a></li>
		<!--<li><a href="#"><em>我的足迹</em><i class="i4"></i></a></li>-->
		<li><a href="{:U('user/message/index')}"><em>我的消息</em><i class="i5"></i></a></li>
		<li><a href="http://wpa.qq.com/msgrd?v=3&uin={$sysconfig.qq}&site={$sysconfig.qq}&menu=yes" target="_blank"><em>在线客服</em><i class="i6"></i></a></li>
	</ul>
	<ul class="bot">
		<li><a href="javascript:;" class="top"><em>顶部</em><i class="i7"></i></a></li>
		<li><a href="{:U('user/feedback/index')}"><em>反馈</em><i class="i8"></i></a></li>
	</ul>
</div>
<script>
	$(function(){
		$(".vip_nav ul.top li a").hover(function(){
			$(this).addClass("on")
			$(this).find("em").animate({left:"-60px"})
		},function(){
			$(this).removeClass("on")
			$(this).find("em").animate({left:"0"})	
		})
		
		$(".vip_nav ul.bot li a").hover(function(){
			$(this).addClass("on")
			$(this).find("em").animate({left:"-50px"})
		},function(){
			$(this).removeClass("on")
			$(this).find("em").animate({left:"0"})	
		})
		
		//返回顶部
		$(".vip_nav ul.bot li a.top").click(function(){
			$('body,html').animate({scrollTop:0},1000);
			return false;
		});
	})
</script>