<div class="work_target_rate_tabs">
	<div id="slider" class="mui-slider mui-fullscreen">
		<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
			<a class="mui-control-item <eq name="get.type" value="1">mui-active</eq>" href="#item1mobile">余额明细</a>
			<a class="mui-control-item <eq name="get.type" value="2">mui-active</eq>" href="#item2mobile">积分明细</a>
		</div>
		<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>
		<div class="mui-slider-group">
			<div id="item1mobile" class="mui-slider-item mui-control-content <eq name="get.type" value="1">mui-active</eq>">
				<div id="scroll1" class="mui-scroll-wrapper">
					<php>$list = $account_list;</php>
					<empty name="list">
						<p style="text-align:center;color:#999999;padding:20px;">暂无相关记录</p>
					<else/>
						<div class="mui-scroll" type="1" p="2">
							<div class="account_details_list">
								<include file="Finance/Capital/_info"/>
							</div>
						</div>
					</empty>
				</div>
			</div>
			<div id="item2mobile" class="mui-slider-item mui-control-content <eq name="get.type" value="2">mui-active</eq>">
				<div id="scroll2" class="mui-scroll-wrapper">
					<php>$list = $point_list;</php>
					<empty name="list">
						<p style="text-align:center;color:#999999;padding:20px;">暂无相关记录</p>
					<else/>
						<div class="mui-scroll" type="2" p="2">
							<div class="account_details_list">
								<include file="Finance/Capital/_info"/>
							</div>
						</div>
					</empty>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	mui.init();
	(function($) {
		//阻尼系数
		var deceleration = mui.os.ios?0.003:0.0009;
		$('.mui-scroll-wrapper').scroll({
			bounce: true,
			indicators: true, //是否显示滚动条
			deceleration:deceleration
		});			
	})(mui);						
</script>

<script src="__PUBLIC__/home/js/mui.pullToRefresh.js"></script>
<script src="__PUBLIC__/home/js/mui.pullToRefresh.material.js"></script>
<script>
    document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
    mui.init();
	
	var user_id = "{$info.user_id}";
	
    (function($) {
        //阻尼系数
        var deceleration = mui.os.ios?0.003:0.0009;
        $('.mui-scroll-wrapper').scroll({
            bounce: true,
            indicators: true, //是否显示滚动条
            deceleration:deceleration
        });
        
        $.ready(function() {
            //循环初始化所有下拉刷新，上拉加载。
            $.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
                $(pullRefreshEl).pullToRefresh({
                    up: {
                        callback: function() {
                            var self = this;
							var jqobj = jQuery(pullRefreshEl);
							
							var type = jqobj.attr('type');
							var p = jqobj.attr('p');
							
							var data = {
								user_id:user_id,
								type:type,
								p:p
							};
							if(type == 1){
								var url = "{:U('account')}";
							}else{
								var url = "{:U('point')}";
							}
							mui.post(url,data,function(data){
									//服务器返回响应，根据响应结果，分析是否登录成功；
									if(data.html != ''){
										jqobj.attr('p', data.p);
										var list = jqobj.find('.account_details_list');
										list.append(data.html);
										self.endPullUpToRefresh();
									}else{
										self.endPullUpToRefresh(true);
									}
								},'json'
							);
                        }
                    }
                });
            });
        });
        
    })(mui);						
</script>