<!-------头部开始----->
<include file="Public/header"/>
<!-------头部结束----->

<!-- Save for Web Slices (赠品专区.psd) -->
<table id="__01" width="1920" height="4373" border="0" cellpadding="0" cellspacing="0">
	<!--<tr>
		<td colspan="11">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_01.png" width="1920" height="216" alt=""></td>
	</tr>-->
	<tr>
		<td colspan="11">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_02.png" width="1920" height="399" alt=""></td>
	</tr>
	<tr>
		<td colspan="11">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_03.png" width="1920" height="28" alt=""></td>
	</tr>
	<tr>
		<td colspan="4" rowspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_04.png" width="708" height="167" alt=""></td>
		<td colspan="3">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_05.png" width="504" height="134" alt=""></td>
		<td colspan="4" rowspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_06.png" width="708" height="167" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_07.png" width="504" height="33" alt=""></td>
	</tr>
	<tr>
		<td rowspan="20">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_08.png" width="360" height="3562" alt="" style="margin-top:-83px"></td>
		<td>
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/492.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_09.png" width="293" height="402" border="0" alt=""></a></td>
		<td rowspan="20">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_10.png" width="9" height="3562" alt="" style="margin-top:-83px"></td>
		<td colspan="2">
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/481.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_11.png" width="293" height="402" border="0" alt=""></a></td>
		<td rowspan="4">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_12.png" width="10" height="857" alt=""></td>
		<td colspan="2">
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/440.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_13.png" width="293" height="402" border="0" alt=""></a></td>
		<td rowspan="20">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_14.png" width="9" height="3562" alt="" style="margin-top:-83px"></td>
		<td>
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/489.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_15.png" width="293" height="402" border="0" alt=""></a></td>
		<td rowspan="20">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_16.png" width="360" height="3562" alt="" style="margin-top:-83px"></td>
	</tr>
	<tr>
		<td>
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_17.png" width="293" height="10" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_18.png" width="293" height="10" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_19.png" width="293" height="10" alt=""></td>
		<td>
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_20.png" width="293" height="10" alt=""></td>
	</tr>
	<tr>
		<td>
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/488.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_21.png" width="293" height="402" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/487.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_22.png" width="293" height="402" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/479.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_23.png" width="293" height="402" border="0" alt=""></a></td>
		<td>
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/476.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_24.png" width="293" height="402" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_25.png" width="293" height="210" alt="" style="margin-bottom:-7px"></td>
		<td colspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_26.png" width="293" height="43" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_27.png" width="293" height="43" alt=""></td>
		<td rowspan="3">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_28.png" width="293" height="210" alt="" style="margin-bottom:-7px"></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_29.png" width="46" height="167" alt=""></td>
		<td colspan="3">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_30.png" width="504" height="134" alt=""></td>
		<td rowspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_31.png" width="46" height="167" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_32.png" width="504" height="33" alt=""></td>
	</tr>
	<tr>
		<td>
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/445.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_33.png" width="293" height="402" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/446.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_34.png" width="293" height="402" border="0" alt=""></a></td>
		<td rowspan="4">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_35.png" width="10" height="851" alt=""></td>
		<td colspan="2">
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/444.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_36.png" width="293" height="402" border="0" alt=""></a></td>
		<td>
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/447.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_37.png" width="293" height="402" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_38.png" width="293" height="10" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_39.png" width="293" height="10" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_40.png" width="293" height="10" alt=""></td>
		<td>
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_41.png" width="293" height="10" alt=""></td>
	</tr>
	<tr>
		<td>
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/448.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_42.png" width="293" height="402" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/437.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_43.png" width="293" height="402" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/482.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_44.png" width="293" height="402" border="0" alt=""></a></td>
		<td>
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/483.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_45.png" width="293" height="402" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_46.png" width="293" height="210" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_47.png" width="293" height="37" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_48.png" width="293" height="37" alt=""></td>
		<td rowspan="3">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_49.png" width="293" height="210" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_50.png" width="46" height="173" alt=""></td>
		<td colspan="3">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_51.png" width="504" height="140" alt=""></td>
		<td rowspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_52.png" width="46" height="173" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_53.png" width="504" height="33" alt=""></td>
	</tr>
	<tr>
		<td>
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/433.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_54.png" width="293" height="402" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/432.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_55.png" width="293" height="402" border="0" alt=""></a></td>
		<td rowspan="4">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_56.png" width="10" height="855" alt=""></td>
		<td colspan="2">
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/460.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_57.png" width="293" height="402" border="0" alt=""></a></td>
		<td>
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/454.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_58.png" width="293" height="402" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_59.png" width="293" height="10" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_60.png" width="293" height="10" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_61.png" width="293" height="10" alt=""></td>
		<td>
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_62.png" width="293" height="10" alt=""></td>
	</tr>
	<tr>
		<td>
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/453.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_63.png" width="293" height="402" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/459.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_64.png" width="293" height="402" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/459.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_65.png" width="293" height="402" border="0" alt=""></a></td>
		<td>
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/459.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_66.png" width="293" height="402" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_67.png" width="293" height="210" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_68.png" width="293" height="41" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_69.png" width="293" height="41" alt=""></td>
		<td rowspan="3">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_70.png" width="293" height="210" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_71.png" width="46" height="169" alt=""></td>
		<td colspan="3">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_72.png" width="504" height="136" alt=""></td>
		<td rowspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_73.png" width="46" height="169" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_74.png" width="504" height="33" alt=""></td>
	</tr>
	<tr>
		<td>
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/431.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_75.png" width="293" height="402" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/430.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_76.png" width="293" height="402" border="0" alt=""></a></td>
		<td rowspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_77.png" width="10" height="490" alt=""></td>
		<td colspan="2">
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/458.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_78.png" width="293" height="402" border="0" alt=""></a></td>
		<td>
			<a href="http://www.gaj100.com/index.php/mall/goods/info/id/471.html">
				<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_79.png" width="293" height="402" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_80.png" width="293" height="88" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_81.png" width="293" height="88" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_82.png" width="293" height="88" alt=""></td>
		<td>
			<img src="__PUBLIC__/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;_83.png" width="293" height="88" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="__PUBLIC__/gift/images/&#x5206;&#x9694;&#x7b26;.gif" width="360" height="1" alt=""></td>
		<td>
			<img src="__PUBLIC__/gift/images/&#x5206;&#x9694;&#x7b26;.gif" width="293" height="1" alt=""></td>
		<td>
			<img src="__PUBLIC__/gift/images/&#x5206;&#x9694;&#x7b26;.gif" width="9" height="1" alt=""></td>
		<td>
			<img src="__PUBLIC__/gift/images/&#x5206;&#x9694;&#x7b26;.gif" width="46" height="1" alt=""></td>
		<td>
			<img src="__PUBLIC__/gift/images/&#x5206;&#x9694;&#x7b26;.gif" width="247" height="1" alt=""></td>
		<td>
			<img src="__PUBLIC__/gift/images/&#x5206;&#x9694;&#x7b26;.gif" width="10" height="1" alt=""></td>
		<td>
			<img src="__PUBLIC__/gift/images/&#x5206;&#x9694;&#x7b26;.gif" width="247" height="1" alt=""></td>
		<td>
			<img src="__PUBLIC__/gift/images/&#x5206;&#x9694;&#x7b26;.gif" width="46" height="1" alt=""></td>
		<td>
			<img src="__PUBLIC__/gift/images/&#x5206;&#x9694;&#x7b26;.gif" width="9" height="1" alt=""></td>
		<td>
			<img src="__PUBLIC__/gift/images/&#x5206;&#x9694;&#x7b26;.gif" width="293" height="1" alt=""></td>
		<td>
			<img src="__PUBLIC__/gift/images/&#x5206;&#x9694;&#x7b26;.gif" width="360" height="1" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<!-------头部开始----->
<include file="Public/footer"/>
<!-------头部结束----->