<!-------头部开始----->
<include file="Public/header"/>
<!-------头部结束----->

<!-- Save for Web Slices (index.psd) -->
<!--<img src="__PUBLIC__/ytl/pc/images/index_01.jpg" width="100%" alt="">-->
<img src="__PUBLIC__/ytl/pc/images/index_02.jpg" width="100%" alt="">
<img src="__PUBLIC__/ytl/pc/images/index_03.jpg" width="100%" alt="">
<img src="__PUBLIC__/ytl/pc/images/index_04.jpg" alt="" width="100%" usemap="#Map" border="0">
<map name="Map">
  <area shape="rect" coords="387,17,620,329" href="http://www.gaj100.com/index.php/mall/goods/info/id/539.html" target="_blank">
  <area shape="rect" coords="672,18,908,319" href="http://www.gaj100.com/index.php/mall/goods/info/id/491.html" target="_blank">
  <area shape="rect" coords="969,16,1211,325" href="http://www.gaj100.com/index.php/mall/goods/info/id/481.html" target="_blank">
  <area shape="rect" coords="1271,14,1508,325" href="http://www.gaj100.com/index.php/mall/goods/info/id/481.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/pc/images/index_05.jpg" alt="" width="100%" usemap="#Map2" border="0">
<map name="Map2">
  <area shape="rect" coords="383,16,621,311" href="http://www.gaj100.com/index.php/mall/goods/info/id/484.html" target="_blank">
  <area shape="rect" coords="677,14,920,322" href="http://www.gaj100.com/index.php/mall/goods/info/id/488.html" target="_blank">
  <area shape="rect" coords="979,12,1219,319" href="http://www.gaj100.com/index.php/mall/goods/info/id/490.html" target="_blank">
  <area shape="rect" coords="1274,14,1510,323" href="http://www.gaj100.com/index.php/mall/goods/info/id/489.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/pc/images/index_06.jpg" alt="" width="100%" usemap="#Map3" border="0">
<map name="Map3">
  <area shape="rect" coords="377,9,621,312" href="http://www.gaj100.com/index.php/mall/goods/info/id/487.html" target="_blank">
  <area shape="rect" coords="686,6,932,312" href="http://www.gaj100.com/index.php/mall/goods/info/id/486.html" target="_blank">
  <area shape="rect" coords="991,8,1233,312" href="http://www.gaj100.com/index.php/mall/goods/info/id/479.html" target="_blank">
  <area shape="rect" coords="1282,8,1519,310" href="http://www.gaj100.com/index.php/mall/goods/info/id/476.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/pc/images/index_07.jpg" width="100%" alt="">
<img src="__PUBLIC__/ytl/pc/images/index_08.jpg" alt="" width="100%" usemap="#Map4" border="0">
<map name="Map4">
  <area shape="rect" coords="363,21,606,328" href="http://www.gaj100.com/index.php/mall/goods/info/id/425.html" target="_blank">
  <area shape="rect" coords="684,25,936,329" href="http://www.gaj100.com/index.php/mall/goods/info/id/426.html" target="_blank">
  <area shape="rect" coords="986,20,1231,324" href="http://www.gaj100.com/index.php/mall/goods/info/id/429.html" target="_blank">
  <area shape="rect" coords="1288,19,1528,330" href="http://www.gaj100.com/index.php/mall/goods/info/id/427.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/pc/images/index_09.jpg" alt="" width="100%" usemap="#Map5" border="0">
<map name="Map5">
  <area shape="rect" coords="367,7,605,303" href="http://www.gaj100.com/index.php/mall/goods/info/id/428.html" target="_blank">
  <area shape="rect" coords="696,5,939,304" href="http://www.gaj100.com/index.php/mall/goods/info/id/482.html" target="_blank">
  <area shape="rect" coords="1001,7,1246,299" href="http://www.gaj100.com/index.php/mall/goods/info/id/483.html" target="_blank">
  <area shape="rect" coords="1303,7,1553,304" href="http://www.gaj100.com/index.php/mall/goods/info/id/571.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/pc/images/index_10.jpg" width="100%" alt="">
<img src="__PUBLIC__/ytl/pc/images/index_11.jpg" alt="" width="100%" usemap="#Map6" border="0">
<map name="Map6">
  <area shape="rect" coords="375,18,613,323" href="http://www.gaj100.com/index.php/mall/goods/info/id/451.html" target="_blank">
  <area shape="rect" coords="695,17,932,317" href="http://www.gaj100.com/index.php/mall/goods/info/id/457.html" target="_blank">
  <area shape="rect" coords="990,19,1244,326" href="http://www.gaj100.com/index.php/mall/goods/info/id/460.html" target="_blank">
  <area shape="rect" coords="1304,18,1542,325" href="http://www.gaj100.com/index.php/mall/goods/info/id/454.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/pc/images/index_12.jpg" alt="" width="100%" usemap="#Map7" border="0">
<map name="Map7">
  <area shape="rect" coords="387,21,624,324" href="http://www.gaj100.com/index.php/mall/goods/info/id/453.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/pc/images/index_13.jpg" width="100%" alt="">
<img src="__PUBLIC__/ytl/pc/images/index_14.jpg" alt="" width="100%" usemap="#Map8" border="0">
<map name="Map8">
  <area shape="rect" coords="399,33,639,335" href="http://www.gaj100.com/index.php/mall/goods/info/id/456.html" target="_blank">
  <area shape="rect" coords="675,32,919,338" href="http://www.gaj100.com/index.php/mall/goods/info/id/455.html" target="_blank">
  <area shape="rect" coords="974,30,1217,337" href="http://www.gaj100.com/index.php/mall/goods/info/id/458.html" target="_blank">
  <area shape="rect" coords="1283,31,1524,339" href="http://www.gaj100.com/index.php/mall/goods/info/id/471.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/pc/images/index_15.jpg" width="100%" alt="">
<img src="__PUBLIC__/ytl/pc/images/index_16.jpg" alt="" width="100%" usemap="#Map9" border="0">
<map name="Map9">
  <area shape="rect" coords="379,42,614,327" href="http://www.gaj100.com/index.php/mall/goods/info/id/459.html" target="_blank">
  <area shape="rect" coords="666,42,908,333" href="http://www.gaj100.com/index.php/mall/goods/info/id/459.html" target="_blank">
  <area shape="rect" coords="962,43,1204,332" href="http://www.gaj100.com/index.php/mall/goods/info/id/459.html" target="_blank">
  <area shape="rect" coords="1271,42,1509,343" href="http://www.gaj100.com/index.php/mall/goods/info/id/459.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/pc/images/index_17.jpg" alt="" width="100%" usemap="#Map10" border="0">
<map name="Map10">
  <area shape="rect" coords="380,20,618,322" href="http://www.gaj100.com/index.php/mall/goods/info/id/575.html" target="_blank">
  <area shape="rect" coords="668,20,904,322" href="http://www.gaj100.com/index.php/mall/goods/info/id/577.html" target="_blank">
  <area shape="rect" coords="960,20,1206,322" href="http://www.gaj100.com/index.php/mall/goods/info/id/576.html" target="_blank">
  <area shape="rect" coords="1275,19,1511,321" href="http://www.gaj100.com/index.php/mall/goods/info/id/574.html" target="_blank">
</map>

<!-- End Save for Web Slices -->

<!-------头部开始----->
<include file="Public/footer"/>
<!-------头部结束----->