<div class="row">
	<div class="col-sm-12 col-md-12">
		<form class="form-horizontal cs_ajax_form" action="{:U('')}" method="post">
			<fieldset>
				<div class="tabbable">
					<div class="tab-content">
						<div class="tab-pane active" id="tab1">
							<div class="form-group">
								<div class="col-sm-4">
									<table ellpadding="3" cellspacing="1"  class="table table-striped table-bordered" id="table_list">
										<thead>
											<tr>
												<th>规格值</th>
												<th style="width:30px;"><a href="javascript:;" class="btn btn-info btn-sm cs_row_add_button"  cs_id="tblc">添加</a></th>
											</tr>
										</thead>
										<tbody id="tblc">
											<empty name="list">
												<tr>
													<td><input type="text" name="sku_value[]" class="form-control value_clear"></td>
													<td><a href="javascript:;" class="btn btn-danger btn-sm btn_row_del">删除</a></td>
												</tr>
											<else/>
												<volist name="list" id="vo" key="k">
													<tr>
														<td><input type="text" name="sku_value[]" class="form-control value_clear" value='{$vo}'></td>
														<td><a href="javascript:;" class="btn btn-danger btn-sm btn_row_del" style="display:none">删除</a></td>
													</tr>
												</volist>
											</empty>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-2">
						<button class="btn btn-default" type="button" id="btn_submit">确认并保存</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<script type="text/javascript">

$(document).ready(function(){
	$('.cs_row_add_button').unbind('click').bind('click', function(){
		var refobj = $('#'+$(this).attr('cs_id'));
		if(refobj == undefined) return;
		
        var row = refobj.children(':last-child').clone().appendTo(refobj);
		
		row.find('.value_clear').each(function(){
			$(this).val('');
			$(this).attr('name', 'sku_value[]');
		});
		
		row.find('.btn_row_del').css('display', 'block');
		
		//删除事件
		row.find('.btn_row_del').bind('click',function(){
			var obj = $(this).parent().parent();
			if(obj.parent().children().length > 1){
				obj.remove();
			}
			return false;
		});
	});
    
	//删除事件
	$('.btn_row_del').unbind('click').bind('click', function(){
		var obj = $(this).parent().parent();
		if(obj.parent().children().length > 1){
			obj.remove();
		}
		return false;	
	});
});
</script>

<script type="text/javascript">
var index = parent.layer.getFrameIndex(window.name); //获取窗口索引

$('#btn_submit').on('click', function(){
	//给父页面传值
	var sku_value_id = "{$sku_value_id}";
	var sku_value_obj = parent.$('#'+sku_value_id);
	var sku_value = $(".value_clear");
	var sku_value_str = '';
	sku_value.each(function(index,elem){
		if(elem.value != ''){
			sku_value_str += elem.value+',';
		}
	});
	sku_value_str = sku_value_str.substr(0,sku_value_str.length-1);
	sku_value_obj.val(sku_value_str);
	
	//取值
	var sku_value = parent.$(".hy_select_id");
	var sku_value_arr = new Array();
	var sku_id_arr = new Array();
	sku_value.each(function(index,elem){
		sku_value_arr.push(elem.value);
		sku_id_arr.push($(this).attr('skuid'));
	});
	
	var goodsid = "{$get.goodsid}";
	var data = {'sku_value':sku_value_arr, 'goodsid':goodsid, 'sku_id':sku_id_arr};
	var product_list_obj = parent.$('#product_list');
	$.post("{:U('sku')}", data, function(d){
		if(d.status == 0){
			layer.msg(d.info);
			return false;
		}
		product_list_obj.html(d.product_list);
		parent.layer.close(index);
	},'json');
});
</script>