<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading">详情</h3>
			<form class="form-horizontal cs_ajax_form">
				<fieldset>
					<input type="hidden" name="id" value="{$info.id}">
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">申请详情</label>
						<div class="col-sm-8">
							<textarea id="ueditor" name="content" style="height:200px;" disabled>{$info.content}</textarea>
						</div>
					</div>
                    
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">区域审批人</label>
						<div class="col-sm-8">
							<input name="examine_name_area" class="input-xlarge form-control" type="text" value="{$info.examine_name_area}" required readonly>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">区域审批状态</label>
						<div class="col-sm-8">
                        	<?php
                            if($info['examine_status_area'] == '0')
                            { 
 							?>
                            <input name="examine_name_area" class="input-xlarge form-control" type="text" value="待审批" required readonly>
                            <?php
                            }
                            else
                            {
                            ?>
							<label class="control-label col-sm-3" style="width:auto;padding-left:0"><input name="examine_status_area" type="radio" value="1" disabled required <?php if($info['examine_status_area'] == 1){?>checked<?php }?>> 同意</label>
                            <label class="control-label col-sm-3" style="width:auto;padding-left:0"><input name="examine_status_area" type="radio" value="2" disabled required <?php if($info['examine_status_area'] == 2){?>checked<?php }?>> 驳回</label>
                           <?php
                           }
                           ?> 
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">批示内容或者驳回理由</label>
						<div class="col-sm-8">
							<input name="examine_note_area" class="input-xlarge form-control" type="text" value="{$info.examine_note_area}" required readonly>
						</div>
					</div>
                    
                    <?php
                    if($info['type'] > 1)
                    {
                    ?>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">平台审批人</label>
						<div class="col-sm-8">
							<input name="examine_name_platform" class="input-xlarge form-control" type="text" value="{$info.examine_name_platform}" required readonly>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">平台审批状态</label>
						<div class="col-sm-8">
							<?php
                            if($info['examine_status_platform'] == '0')
                            { 
 							?>
                            <input name="examine_name_area" class="input-xlarge form-control" type="text" value="待审批" required readonly>
                            <?php
                            }
                            else
                            {
                            ?>
                            <label class="control-label col-sm-3" style="width:auto;padding-left:0"><input name="examine_status_platform" type="radio" value="1" disabled required <?php if($info['examine_status_platform'] == 1){?>checked<?php }?>> 同意</label>
                            <label class="control-label col-sm-3" style="width:auto;padding-left:0"><input name="examine_status_platform" type="radio" value="2" disabled required <?php if($info['examine_status_platform'] == 2){?>checked<?php }?>> 驳回</label>
                            <?php
                            }
                            ?>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">批示内容或者驳回理由</label>
						<div class="col-sm-8">
							<input name="examine_note_platform" class="input-xlarge form-control" type="text" value="{$info.examine_note_platform}" required readonly>
						</div>
					</div>
                    <?php
                    }
                    ?>
                    
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">短信/留言</label>
						<div class="col-sm-8">
							<input name="remind" class="input-xlarge form-control" type="text" value="{$info.remind}" readonly>
						</div>
					</div>
				</fieldset>
			</form>
    </div>
</div> 
<script type="text/javascript">
$(document).ready(function(){
	var ue = UE.getEditor('ueditor',{maximumWords:15000,elementPathEnabled :false});
});
</script>