<div class="apply_management_form">
        <form action="{:U('')}" method="post" enctype="multipart/form-data">
        	<div class="mui-input-group">
                <div class="mui-input-row right-after">
                    <label>申请类型</label>
                    <select name="apply_type">
                    	<option value="">请选择</option>
                    	<volist name="apply_type" id="v">
                    		<option value="{$v.id}">{$v['apply_name']}</option>
                    	</volist>
                    </select>
                </div>
                <div class="mui-input-row right-after">
                    <label>审批人</label>
                    <select name="verify_admin_id">
                    	<option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="mui-input-group" id="apply_ext">
                
            </div>
            <div class="apply_management_textarea">
            	<textarea name="content" cols="" rows="3" placeholder="详细描述"></textarea>
            	<input type="hidden" name="pics"/>
                <div id="pic" class="fileUploadContent mui-clearfix"></div>
            </div>
             <div class="apply_management_file">
            	<h2>添加附件</h2>
            	<input type="hidden" name="attachments"/>
                <div id="attachment" class="fileUploadContent mui-clearfix"></div>
            </div>
            <div class="btn">
                <a href="javascript:apply()" class="mui-btn mui-btn-primary mui-btn-block">发送申请</a>
            </div>
        </form>
    </div>
<script type="text/javascript">
window.apply_type_list = {:json_encode($apply_type)};
</script>
<link rel="stylesheet" href="__PUBLIC__/home/css/mui.picker.min.css">
<script src="__PUBLIC__/home/js/mui.picker.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/fileUpload.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('select[name="apply_type"]').bind('change', function(){
		var data = {apply_type:$(this).val()};
		$.post('{:U("admins")}', data, function(d){
			if(d.status != 1) return;
			var select = $('select[name="verify_admin_id"]');
			select.html('<option value="0">请选择</option>');
			for(var i in d.list){
				var item = d.list[i];
				var txt = item.admin_name;
				if(item.label != '') txt = txt + '-' + item.label;
				$('<option></option>').attr('value', item.admin_id).html(txt).appendTo(select);
			}
			$('#apply_ext').html(d.htm_ext);
		}, 'json');
	});
})
	function addfujian()
	{ 
		$('.apply_management_file').find('.file').append('<input type="file" name="fujian[]">');
		var len = $('.apply_management_file').find('input[type=file]').length;
		$('.apply_management_file input:eq('+(len-1)+')').click();
		$('.apply_management_file input:eq('+(len-1)+')').change(function(){ 
			$('.apply_management_file ul').append('<li>图标'+$(this).val()+'</li>');
			
		});
	}


    $("#pic").initUpload({
        "uploadUrl":"{:U('index/upload/files')}",//上传文件信息地址
        //"progressUrl":"#",获取进度信息地址，可选，注意需要返回的data格式如下（{bytesRead: 102516060, contentLength: 102516060, items: 1, percent: 100, startTime: 1489223136317, useTime: 2767}）
        //"showSummerProgress":false,//总进度条，默认限制
        //"size":350,//文件大小限制，单位kb,默认不限制
        "maxFileNumber":5,//文件个数限制，为整数
        //"filelSavePath":"",//文件上传地址，后台设置的根目录
        //"beforeUpload":beforeUploadFun,//在上传前执行的函数
        "onUpload":onUploadFun,//在上传后执行的函数
        autoCommit:true,//文件是否自动上传
        "fileType":['png','jpg','gif'] //文件类型限制，默认不限制，注意写的是文件后缀
    })

	$("#attachment").initUpload({
        "uploadUrl":"{:U('index/upload/files')}",//上传文件信息地址
        //"progressUrl":"#",获取进度信息地址，可选，注意需要返回的data格式如下（{bytesRead: 102516060, contentLength: 102516060, items: 1, percent: 100, startTime: 1489223136317, useTime: 2767}）
        //"showSummerProgress":false,//总进度条，默认限制
        //"size":350,//文件大小限制，单位kb,默认不限制
        //"maxFileNumber":3,//文件个数限制，为整数
        //"filelSavePath":"",//文件上传地址，后台设置的根目录
        //"beforeUpload":beforeUploadFun,//在上传前执行的函数
        "onUpload":onUploadFun,//在上传后执行的函数
        autoCommit:true,//文件是否自动上传
        //"fileType":['png','jpg','docx','doc']，//文件类型限制，默认不限制，注意写的是文件后缀
    })
    function beforeUploadFun(opt){
        opt.otherData =[{"name":"你要上传的参数","value":"你要上传的值"}];
    }
    function onUploadFun(opt,data){
    	var ox = $('input[name="'+opt.uploadId+'s"]');
    	ox.val(ox.val()+','+data.list);
        //alert(JSON.stringify(this));
        uploadTools.uploadError(opt);//显示上传错误
    }
	
	// 提交表单
	function apply()
	{ 
		var apply_type = $('select[name=apply_type]');
		if(apply_type.length > 0 && !apply_type.val()){ 
			mui.toast('请选择申请类型');
			apply_type.focus();
			return;
		}
		var verify_admin_id = $('select[name=verify_admin_id]');
		if(verify_admin_id.length > 0 && !verify_admin_id.val()){ 
			mui.toast('请选择审批人');
			verify_admin_id.focus();
			return;
		}
		var start = $('input[name=start]');
		if(start.length > 0 && !start.val()){ 
			mui.toast('请选择开始时间');
			start.focus();
			return;
		}
		var end = $('input[name=end]');
		if(end.length > 0 && !end.val()){ 
			mui.toast('请选择结束时间');
			end.focus();
			return;
		}
		var price = $('input[name=price]');
		if(price.length > 0 && !price.val()){ 
			mui.toast('请输入价格');
			price.focus();
			return;
		}
		var content = $('textarea[name=content]');
		if(!content.val())
		{ 
			mui.toast('请输入详细描述');
			content.focus();
			return;
		}
		$.post($('form').attr('action'), $('form').serialize(), function(res){
			if(res.status == 1){
				mui.alert('', res.info, function(){
					$.get('{:U("history")}', function(d){
						$('body').html(d.info);
					}, 'json');
				});
			} else {
				mui.toast(res.info);
			}
		}, 'json');
	}
</script>