<div class="platform_staff_management_deta">
	<div class="platform_staff_management_deta_hd">
		<dl>
			<dt><img src="{$adminFind[avatar]}"></dt>
			<dd>
				<h2><b>{$adminFind[admin_name]}</b><span>{$adminFind[role_name]}</span></h2>
				<p><a href="#">{$info.mobile}</a></p>
				<p><span>负责品牌:伊特莱</span><span>负责区域:华东地区</span></p>
			</dd>
		</dl>
	</div>
	<div class="platform_staff_management_deta_bd">
		<volist name="wageList" id="vo">
			<h2><span>{$key}年<img src="__PUBLIC__/home/images/icon18.png"></span><em>薪酬情况</em></h2>
			<ul>
				<volist name="vo" id="v">
					<li>
						<h3>
							<i><img src="__PUBLIC__/home/images/{$v[status_image]}"></i>
							<span>{$v[month]}月</span>
							<em>{:sprintf("%.2f", $v[post_salary]+$v[commission]+$v[reward]+$v[travel_expenses]+$v[office_expenses])}元</em>
						</h3>
						<div class="platform_staff_management_deta_sub">
							<p><span>基本工资</span><em>{$v[post_salary]}元</em></p>
							<p><span>提成奖励</span><em>{:sprintf("%.2f", $v[commission] + $v[reward])}元</em></p>
							<p><span>差旅费</span><em>{$v[travel_expenses]}元</em></p>
							<p><span>办公费</span><em>{$v[office_expenses]}元</em></p>
						</div>
					</li>
				</volist>
			</ul>
		</volist>
	</div>
	<script>
		$(function(){
			$(".platform_staff_management_deta_bd ul li h3").on("tap",function(){
				$(this).siblings().slideToggle()	
			})	
			$(".platform_staff_management_deta_bd ul li .platform_staff_management_deta_sub p.btn a").on("tap",function(){
				var btnArray = ['否', '是'];
				mui.confirm('是否立即结算薪酬？', '温馨提示', btnArray, function(e) {
					if (e.index == 1) {
						//是
					} else {
						//否
					}
				})
			})
		})
	</script>
</div>

<if condition='$count gt count($list)'>
    <script src="__PUBLIC__/home/js/mui.pullToRefresh.js"></script>
    <script src="__PUBLIC__/home/js/mui.pullToRefresh.material.js"></script>
    <script type="text/javascript">
        var page = 2;
        var admin_id = "{$admin_id}";
        mui.init({
            pullRefresh: {
                container: '#pullrefresh',
                up: {
                    contentrefresh: '正在加载...',
                    contentnomore: '没有更多数据了',
                    callback: pullupRefresh
                }
            }
        });

        function pullupRefresh() {
            var $this = this;
            mui.ajax("{:U('')}", {
                type: 'post',
                data: {p: page,admin_id: admin_id},
                dataType: 'json',
                success: function (res) {
                    if (res.html != '') {
                        $(".load-data").append(res.html);
                        page++;
                        $this.endPullupToRefresh();
                    } else {
                        $this.endPullupToRefresh(true);
                    }
                }
            })
        }
    </script>
<else/>
    <script type="text/javascript">
        mui('.mui-scroll-wrapper').scroll({});
    </script>
</if>