<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading">vr模块列表
			<a id="rec_add" href="{:U('add')}" class="btn btn-info btn-sm alink_r">添加vr模块</a>
			<div style="clear:both"></div>
		</h3>
		<div class="row sepH_c">
			<div class="col-sm-12 col-md-12">
				<table class="table_vam table table-striped table-bordered">
                    <thead>
                        <tr>
							<th>图片</th>
							<th>名称</th>
							<th>链接</th>
							<th>添加时间</th>
							<th>排序(*从小到大排列)</th>
							<th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
						<volist name="list" id="vo">
							<tr class="rowlink">
								<td><if condition="$vo[vr_image] neq null"><img src="__UPLOAD__/{$vo.vr_image}" alt="" style="width:100px;height:100px;"></if></td>
								<td>{$vo.vr_title}</td>								
							    <td>{$vo.vr_url}</td>
								<td>{$vo.add_time|date="Y-m-d",###}</td>
								<td>{$vo.sort_order}</td>
								<td>
									<a href="{:U('edit', array('id'=>$vo[vr_id]))}">编辑</a>
									<a href="{:U('del', array('id'=>$vo[vr_id]))}" class="cs_del_confirm" cs_tip="确定删除？">删除</a>
								</td>
							</tr>
						</volist>
                    </tbody>
                </table>
				<div id="pwrap">{$pager}</div>
			</div>
		</div>
		
		
	</div>
</div>