<div class="row search_page">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading">区域设置
			<a id="rec_add" href="{:U('add')}" class="btn btn-info btn-sm alink_r cs_ajax_link">添加区域设置</a>
			<div style="clear:both"></div>
		</h3>
		<div class="row sepH_c">
			<div class="col-sm-12 col-md-12">
				<table class="table table-striped table-bordered">
                    <thead>
                        <tr>
							<th>模板名称</th>
							<th width="300">配送区域</th>
							<th>计费模式</th>
							<th>首重量</th>
							<th>首费用</th>
							<th>续重量</th>
							<th>续费用</th>
							<th>免邮条件</th>
							<th>状态</th>
							<th class="center">操作</th>
                        </tr>
                    </thead>
                    <tbody id="tblc">
						<volist name="list" id="vo">
							<tr class="rowlink">
								<td>{$vo.shipping_area_name}</td>
								<td>
									<?php $area_array = explode(',', $vo['region_code_list']);?>
									<volist name="area_array" id="vp">
										{$province_list[$vp]}&nbsp;
									</volist>
								</td>
								<td><eq name="vo.fee_mode" value="1">按件计<else/>按重量计</eq></td>
								<td>
									<eq name="vo.fee_mode" value="1">
										{:intval($vo[item_value])} 件
										<else/>
										{$vo[item_value]} kg
									</eq>
								</td>
								<td>{$vo[item_fee]} 元</td>
								<td>
									<eq name="vo.fee_mode" value="1">
										{:intval($vo[step_value])} 件
										<else/>
										{$vo[step_value]} kg
									</eq>
								</td>
								<td>{$vo[step_fee]} 元</td>
								<td><gt name="vo.free_shipping" value="0">满{$vo[free_shipping]}元</gt></td>
								<td><eq name="vo.status" value="1">启用</eq></td>
								<td>
									<a class="cs_ajax_link" href="{:U('edit', array('shipping_area_id'=>$vo[shipping_area_id]))}">编辑</a>
									<a href="{:U('del', array('shipping_area_id'=>$vo[shipping_area_id]))}" class="cs_del_confirm" cs_tip="确定删除？">删除</a>
								</td>
							</tr>
						</volist>
					</tbody>
                </table>
				<div id="pwrap">{$pager}</div>
			</div>
		</div>
	</div>
</div>