<!-------头部开始----->
<include file="Public/store_header"/>
<!-------头部结束----->





<!-------店铺品牌介绍开始----->
<div class="main w1200">
	<div class="shop_about clearfix">
		<div class="shop_about_l fl">
			<div class="shop_about_l_1">
				<dl class="clearfix">
					<dt><img src="__PUBLIC__/main/images/pic82.png"></dt>
					<dd>
						<h2>公司简介</h2>
						<p>谷安居品牌中国区总部创立于2003年，设立于广州市，隶属于广州市柜族家具有限公司。十多年来一直致力于家居对人类居住环境影响的探索与研发，并专注于定制健康家居领域，以定制健康衣柜、书柜、酒柜等健康家具为谷安居核心产品，旗下产品领域包括：家居设计、饰墙板、整体天花、灯具、家居电器等，集家居研发、生产、销售、安装、服务为一体的大型全屋定制企业。谷安居始终以构筑健康人居新环境为使命，立志让所有使用谷安居健康家居的家庭拥有健康舒适的尊贵生活，为社会创造价值：健康+家+爱。</p>
					</dd>
				</dl>
			</div>
			<div class="shop_about_l_2">
				<h2>公司文化</h2>
				<div class="culture">
					<p><img src="__PUBLIC__/main/images/pic83.jpg"></p><br>
					<p><span style="color:#e3002c;">品牌理念：</span>健康、潮流（时尚）、舒适、高科技、人性化、自豪感</p>
					<p><span style="color:#e3002c;">品牌核心价值：</span>严格保障居家健康，定制时尚大家居，引领家居潮流。</p>
					<p><span style="color:#e3002c;">品牌定位：</span>健康家居，尊贵生活</p>
					<p><span style="color:#e3002c;">品牌口号：</span>健康无价，爱护家人。</p>
					<p><span style="color:#e3002c;">品牌使命：</span>从我做起，定制时尚大家居，传播家居健康文化，保障人类居家健康为使命而奋斗。</p>
					<p><span style="color:#e3002c;">品牌格言：</span>"人只有健康了，才能享受快乐、尊贵的幸福生活！"</p>
					<p><span style="color:#e3002c;">品牌责任：</span>我们要做世界最健康的家居产品！</p>
					<p><span style="color:#e3002c;">品牌愿景：</span>谷安居是家居时尚的代表者！是居家健康的代表者！是中国大家居走向世界的代表者！是国际家居健康标准制定者与保护者！</p>
					<p><span style="color:#e3002c;">健康9大系统：</span>① 板材环保    ② 防霉抗菌  ③ 防尘  ④ 静音好睡眠  ⑤ 易清洁   ⑥ 安全舒适   ⑦ 防水防潮   ⑧ 干燥除螨     ⑨ 无害</p>
				</div>
			</div>
			<div class="shop_about_l_3">
				<h2>品牌历史</h2>
				<div class="history"><img src="__PUBLIC__/main/images/pic84.jpg"></div>
			</div>
		</div>
		<div class="shop_about_r fr">
			<div class="shop_about_r_item">
				<h2>新闻中心</h2>
				<h3>NEWS</h3>
				<p><a href="#"><img src="__PUBLIC__/main/images/pic85.jpg"></a></p>
			</div>
			<div class="shop_about_r_item">
				<h2>业务领域</h2>
				<h3>Our Business</h3>
				<p><a href="#"><img src="__PUBLIC__/main/images/pic85.jpg"></a></p>
			</div>
			<div class="shop_about_r_item">
				<h2>关于谷安居</h2>
				<h3>About Elect</h3>
				<p><a href="#"><img src="__PUBLIC__/main/images/pic85.jpg"></a></p>
			</div>
		</div>
	</div>
</div>
<!-------店铺品牌介绍结束----->



<!-------底部开始----->
<include file="Public/footer"/>
<!-------底部结束----->