<!-------头部开始----->
<include file="Public/store_header"/>
<!-------头部结束----->





<!-------店铺定金特权开始----->
<div class="main w1200">
	<div class="deposit_privilege">
		<div class="deposit_privilege_list">
			<ul class="clearfix">
				<li>
					<a href="#"><img src="__PUBLIC__/main/images/pic69.jpg" width="275"></a>
					<h2><span>99</span>抵<span>500</span></h2>
					<p><a href="#">进口家居品牌GLOBAL VIEWS致力于服务高端人群.为您</a></p>
					<p><span><a href="#">加入购物车 ></a></span></p>
				</li>
				<li>
					<a href="#"><img src="__PUBLIC__/main/images/pic69.jpg" width="275"></a>
					<h2><span>99</span>抵<span>500</span></h2>
					<p><a href="#">进口家居品牌GLOBAL VIEWS致力于服务高端人群.为您</a></p>
					<p><span><a href="#">加入购物车 ></a></span></p>
				</li>
				<li>
					<a href="#"><img src="__PUBLIC__/main/images/pic69.jpg" width="275"></a>
					<h2><span>99</span>抵<span>500</span></h2>
					<p><a href="#">进口家居品牌GLOBAL VIEWS致力于服务高端人群.为您</a></p>
					<p><span><a href="#">加入购物车 ></a></span></p>
				</li>
				<li>
					<a href="#"><img src="__PUBLIC__/main/images/pic69.jpg" width="275"></a>
					<h2><span>99</span>抵<span>500</span></h2>
					<p><a href="#">进口家居品牌GLOBAL VIEWS致力于服务高端人群.为您</a></p>
					<p><span><a href="#">加入购物车 ></a></span></p>
				</li>
				<li>
					<a href="#"><img src="__PUBLIC__/main/images/pic69.jpg" width="275"></a>
					<h2><span>99</span>抵<span>500</span></h2>
					<p><a href="#">进口家居品牌GLOBAL VIEWS致力于服务高端人群.为您</a></p>
					<p><span><a href="#">加入购物车 ></a></span></p>
				</li>
				<li>
					<a href="#"><img src="__PUBLIC__/main/images/pic69.jpg" width="275"></a>
					<h2><span>99</span>抵<span>500</span></h2>
					<p><a href="#">进口家居品牌GLOBAL VIEWS致力于服务高端人群.为您</a></p>
					<p><span><a href="#">加入购物车 ></a></span></p>
				</li>
				<li>
					<a href="#"><img src="__PUBLIC__/main/images/pic69.jpg" width="275"></a>
					<h2><span>99</span>抵<span>500</span></h2>
					<p><a href="#">进口家居品牌GLOBAL VIEWS致力于服务高端人群.为您</a></p>
					<p><span><a href="#">加入购物车 ></a></span></p>
				</li>
				<li>
					<a href="#"><img src="__PUBLIC__/main/images/pic69.jpg" width="275"></a>
					<h2><span>99</span>抵<span>500</span></h2>
					<p><a href="#">进口家居品牌GLOBAL VIEWS致力于服务高端人群.为您</a></p>
					<p><span><a href="#">加入购物车 ></a></span></p>
				</li>
				<li>
					<a href="#"><img src="__PUBLIC__/main/images/pic69.jpg" width="275"></a>
					<h2><span>99</span>抵<span>500</span></h2>
					<p><a href="#">进口家居品牌GLOBAL VIEWS致力于服务高端人群.为您</a></p>
					<p><span><a href="#">加入购物车 ></a></span></p>
				</li>
				<li>
					<a href="#"><img src="__PUBLIC__/main/images/pic69.jpg" width="275"></a>
					<h2><span>99</span>抵<span>500</span></h2>
					<p><a href="#">进口家居品牌GLOBAL VIEWS致力于服务高端人群.为您</a></p>
					<p><span><a href="#">加入购物车 ></a></span></p>
				</li>
				<li>
					<a href="#"><img src="__PUBLIC__/main/images/pic69.jpg" width="275"></a>
					<h2><span>99</span>抵<span>500</span></h2>
					<p><a href="#">进口家居品牌GLOBAL VIEWS致力于服务高端人群.为您</a></p>
					<p><span><a href="#">加入购物车 ></a></span></p>
				</li>
				<li>
					<a href="#"><img src="__PUBLIC__/main/images/pic69.jpg" width="275"></a>
					<h2><span>99</span>抵<span>500</span></h2>
					<p><a href="#">进口家居品牌GLOBAL VIEWS致力于服务高端人群.为您</a></p>
					<p><span><a href="#">加入购物车 ></a></span></p>
				</li>
			</ul>
			<script>
				$(function(){
					$(".deposit_privilege_list ul li:nth-child(4n)").addClass("mr")	
				})
			</script>
		</div>
		<div class="pages1">{$pages}</div>
	</div>
</div>
<!-------店铺定金特权结束----->



<!-------底部开始----->
<include file="Public/footer"/>
<!-------底部结束----->