<!-------头部开始----->
<include file="Public/header"/>
<!-------头部结束----->





<!-------谷安居商家入驻开始----->
    
<div class="business_settled_process">
	<div class="w1200 clearfix">
		<div class="settled_process_tit fl">入驻须知</div>
		<div class="settled_process_bar fr">
			<ul class="clearfix">
				<li class="on">
					<span><i>1</i></span>
					<p>入驻须知</p>
				</li>
				<li>
					<span><i>2</i></span>
					<p>公司信息</p>
				</li>
				<li>
					<span><i>3</i></span>
					<p>店铺信息</p>
				</li>
				<li>
					<span><i>4</i></span>
					<p>入驻审核</p>
				</li>
				<li>
					<span><i>5</i></span>
					<p>开店任务</p>
				</li>
				<li class="last">
					<span><i>6</i></span>
					<p>店铺上线</p>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="business_settled_1 w1200">
	<div class="settled_1">
		<p>谷安居秉承"客户为先，诚信至上"的宗旨、 "让天下品牌没有难做的生意"为我们的最终目标，为广大用户提供最优质的商品及服务。 谷安居开放平台欢迎国际国内知名品牌、拥 有特色货品及垂直电商入驻。</p>
	</div>
	<div class="settled_2">
		<h2>一、请认真查阅入驻相关说明，准备入驻资质：</h2>
		<ul class="clearfix">
			<li>
				<p><a href="{:U('article/page/info', array('id'=>9))}" target="_blank"><img src="__UPLOAD__/thumbs/w250h200/{$pages.9.page_picture}"></a></p>
				<p><a href="{:U('article/page/info', array('id'=>9))}" target="_blank">{$pages.9.page_title}</a></p>
			</li>
			<li>
				<p><a href="{:U('article/page/info', array('id'=>10))}" target="_blank"><img src="__UPLOAD__/thumbs/w250h200/{$pages.10.page_picture}"></a></p>
				<p><a href="{:U('article/page/info', array('id'=>10))}" target="_blank">{$pages.10.page_title}</a></p>
			</li>
			<li>
				<p><a href="{:U('article/page/info', array('id'=>11))}" target="_blank"><img src="__UPLOAD__/thumbs/w250h200/{$pages.11.page_picture}"></a></p>
				<p><a href="{:U('article/page/info', array('id'=>11))}" target="_blank">{$pages.11.page_title}</a></p>
			</li>
			<li>
				<p><a href="{:U('article/page/info', array('id'=>12))}" target="_blank"><img src="__UPLOAD__/thumbs/w250h200/{$pages.12.page_picture}"></a></p>
				<p><a href="{:U('article/page/info', array('id'=>12))}" target="_blank">{$pages.12.page_title}</a></p>
			</li>
		</ul>
	</div>
	<div class="settled_2">
		<h2>二、以下规则，对于进驻谷安居开放平台的商家至关重要,请务必仔细阅读：</h2>
		<ul class="clearfix">
			<li>
				<p><a href="{:U('article/page/info', array('id'=>13))}" target="_blank"><img src="__UPLOAD__/thumbs/w250h200/{$pages.13.page_picture}"></a></p>
				<p><a href="{:U('article/page/info', array('id'=>13))}" target="_blank">{$pages.13.page_title}</a></p>
			</li>
			<li>
				<p><a href="{:U('article/page/info', array('id'=>14))}" target="_blank"><img src="__UPLOAD__/thumbs/w250h200/{$pages.14.page_picture}"></a></p>
				<p><a href="{:U('article/page/info', array('id'=>14))}" target="_blank">{$pages.14.page_title}</a></p>
			</li>
			<li>
				<p><a href="{:U('article/page/info', array('id'=>15))}" target="_blank"><img src="__UPLOAD__/thumbs/w250h200/{$pages.15.page_picture}"></a></p>
				<p><a href="{:U('article/page/info', array('id'=>15))}" target="_blank">{$pages.15.page_title}</a></p>
			</li>
			<li>
				<p><a href="{:U('article/page/info', array('id'=>16))}" target="_blank"><img src="__UPLOAD__/thumbs/w250h200/{$pages.16.page_picture}"></a></p>
				<p><a href="{:U('article/page/info', array('id'=>16))}" target="_blank">{$pages.16.page_title}</a></p>
			</li>
		</ul>
	</div>
	<div class="settled_3">
		<h2>三、为协助新商家顺利入驻，谷安居开放平台为新入驻商家提供了丰富的基础培训教程：</h2>
		<p><a href="{:U('article/page/info', array('id'=>17))}" target="_blank"><img src="__UPLOAD__/{$pages.17.page_picture}"></a></p>
		<p><a href="{:U('merchant/apply/step2_1')}" class="next">开始提交</a></p>
	</div>
</div>

<!-------谷安居商家入驻结束----->



<!-------底部开始----->
<include file="Public/footer"/>
<!-------底部结束----->

<style type="text/css">
.deta_text{word-wrap:break-word !important;}
</style>