<!-------头部开始----->
<include file="Public/header"/>
<!-------头部结束----->





<!-------谷安居商家入驻开始----->
<div class="business_settled_process">
	<div class="w1200 clearfix">
		<div class="settled_process_tit fl">店铺信息提交</div>
		<div class="settled_process_bar fr">
			<ul class="clearfix">
				<li class="pass">
					<span><i>1</i></span>
					<p>入驻须知</p>
				</li>
				<li class="pass">
					<span><i>2</i></span>
					<p>公司信息</p>
				</li>
				<li class="on">
					<span><i>3</i></span>
					<p>店铺信息</p>
				</li>
				<li>
					<span><i>4</i></span>
					<p>入驻审核</p>
				</li>
				<li>
					<span><i>5</i></span>
					<p>开店任务</p>
				</li>
				<li class="last">
					<span><i>6</i></span>
					<p>店铺上线</p>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="business_settled_2">
	<div class="w1200">
	
		<div class="alert-notice">
			<a href="{:U('article/page/info', array('id'=>21))}" target="_blank" class="alert-notice-btn">审核通过秘诀 >></a>
			<p>1、信息提交前。请务必了解<a href="{:U('article/page/info', array('id'=>19))}" target="_blank">谷安居开放平台招商资质标准细则；</a></p>
			<p>2、公司类信息需填项较多，建议先查看<a href="{:U('article/page/info', array('id'=>20))}" target="_blank">公司信息注意事项</a>再进行填写；</p>
			<p>3、以下所需要上传电子版资质仅支持JPG、CIF、PNG格式 的图片，大小不超过1M。且必须加盖企业彩色公章。</p>
		</div>
		
		<form action="{:U('')}">
			<input type="hidden" name="id" value="{$info.merchant_id}" />
			<div class="public_form">
				<h2>添加品牌信息</h2>
				<ul>
					<li class="clearfix">
						<div class="public_form_r">
							<p><em><button type="button" onclick="location.href='{:U('step3_3')}'">添加品牌</button></em></p>
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<th>序号</th>
									<th>品牌ID</th>
									<th>品牌中文名</th>
									<th>品牌英文名</th>
									<th>品牌首字母</th>
									<th>品牌LOGO</th>
									<th>品牌类型</th>
									<th>经营类型</th>
									<th>操作</th>
								</tr>
								<volist name="brand_list" id="vo" key="k">
									<tr>
										<td>{$k}</td>                                                                        
										<td>{$vo.brand_id}</td>
										<td>{$vo.brand_name}</td>
										<td>{$vo.en_name}</td>
										<td>{:Getzimu($vo[brand_name])}</td>
										<td><img src="__UPLOAD__/thumbs/b400/{$vo.brand_logo}"></td>
										<td>{$vo.register_type}</td>
										<td>{$vo.manage_type}</td>
										<td><a href="{:U('step3_3', array('id'=>$vo[brand_id]))}">修改</a><a href="{:U('branddel', array('id'=>$vo[brand_id]))}" class="del">删除</a></td>
									</tr>
								</volist>
							</table>
							<p><em>最多可添加10条品牌信息，更多品牌可以在入驻成功后继续申请开通</em></p>
						</div>
					</li>
				</ul>
			</div>
			
			<div class="public_btn">
				<a href="{:U('article/page/info', array('id'=>22))}" target="_blank">撤销申请？</a>
				<span><a href="{:U('merchant/apply/step3_1')}" class="prev">上一步</a><a href="javascript:;" class="next">下一步，完善店铺信息</a></span>
			</div>
		</form>
	</div>
</div>

<!-------谷安居商家入驻结束----->



<!-------底部开始----->
<include file="Public/footer"/>
<!-------底部结束----->

<!----日期选择---->
<link href="__PUBLIC__/main/css/jquery.datetimepicker.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__PUBLIC__/main/js/jquery.datetimepicker.js"></script>
<script type="text/javascript">
	$(".data").each(function(index, element) {
		$(this).datetimepicker({
			lang:'ch',
			timepicker:false,
			format:'Y/m/d',
			formatDate:'Y/m/d',
			timepicker:false
		});
	});
</script>

<style type="text/css">
.deta_text{word-wrap:break-word !important;}
</style>

<script type="text/javascript">
$(document).ready(function(){
	var region_list = {:json_encode($region_list)};
	<php>$province = intval($info[region_code] / 10000) * 10000;</php>
	var province = {$province};
	<php>$city = intval($info[region_code] / 100) * 100;</php>
	var city = {$city};
	var district = {:intval($info[region_code])};
	var cobj = $('.region_sel');
	function build_sitem_select(thisobj){
		var region_id = thisobj.val();
		var obj = thisobj.next();
		obj.html('<option value="">请选择</option>');
		if(!(region_id == 0 && thisobj.attr('type') != 'hidden')){
			for(var i in region_list){
				var bbc = region_list[i];
				test_region_id = parseInt(bbc.region_code);
				if(region_id == test_region_id){
					continue;
				}
				if(region_id == 0){
					if(test_region_id % 10000 > 0) continue;
				} else if(region_id % 10000 == 0) {
					if(test_region_id % 100 > 0 || parseInt(test_region_id / 10000) != parseInt(region_id / 10000)) continue;
				} else if(region_id % 100 == 0) {
					if(parseInt(test_region_id / 100) != parseInt(region_id / 100)) continue;
				} else {
					break;
				}
				var opt = $('<option></option').html(bbc.region_name).val(test_region_id);
				if(province == test_region_id || city == test_region_id || district == test_region_id) opt.attr('selected', true);
				opt.appendTo(obj);
			}
		}
		if(obj.hasClass('region_sel')) build_sitem_select(obj);
	}
	cobj.bind('change', function(){
		build_sitem_select($(this));
	});
	$('input.region_sel').each(function(){
		build_sitem_select($(this));
	});
	
	//提交咨询
	$('.next').click(function(){
		var form = $(this).parents('form');
		$.post(form.attr('action'), form.serialize(), function(d){
			layer.open({time:1,content:d.info});
			if(d.url){
				window.location.href = d.url;
			}
		}, 'json');
	});
	
	//删除品牌
	$('.del').click(function(){
		var obj = $(this);
		layer.open({
			content: '确认取消吗？',
			btn: ['确认', '取消'],
			shadeClose: false,
			yes: function(index){
				$.post(obj.attr('href'), {}, function(d){
					layer.open({time:1,content:d.info});
					if(d.status == 1){
						window.location.reload();
					}
				}, 'json');
				layer.close(index)
			}, no: function(index){
				layer.close(index)
			}
		});
		return false;
	});
});
</script>

<script src="__PUBLIC__/singleupload.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('.hy_upload_single').hySingleUpload("{:U('site/upload/index')}", '__UPLOAD__');
});
</script>