<style>
.case_list .hib_con,.desigenr_list .hib_con{display:none;}
.case_list .hib_con.active{display:block;}
.home_item_sort ul li.on{background:#ff3452;}
.home_item_sort ul li.on a{color:#fff;}
.home_big_sort .swiper-slide a{line-height:24px;height:22px; box-sizing:content-box;}
.home_big_sort{position:relative;}
.nav_icon{position:absolute;background-image:url(__PUBLIC__/wap/images/asd_2.png);background-size:100% 100%;height:18px;width:10px;display:inline-block;right:5px;top:0;bottom:0;margin:auto; transform:rotate(180deg); -webkit-transform:rotate(180deg);}

</style>

<div class="warp">	
	<div class="home">
		<header>
        	<span><a href="{:U('index/index')}" style="margin-left:0;"><img src="__PUBLIC__/wap/images/logo_2.png" style="width:80px;"></a></span>
			<form action="{:U('mall/goods/index')}" method="post"><input name="keyword" type="search" placeholder="产品搜索"><button type="submit"></button></form>
		</header>
		
		<div class="home_big_sort">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<volist name="nav_list" id="vo">
						<div class="swiper-slide"><a href="<if condition='$vo[build_url] eq ""'>{$vo.url}<else/>{$vo.build_url}</if>">{$vo.name}<eq name="vo.is_hot" value="1"><i><img src="__PUBLIC__/main/images/icon8.png"></i></eq></a></div>
					</volist>
				</div>
			</div>
			<div class='nav_icon'><i></i></div>
		</div>
	</div>
</div>

<!-- Save for Web Slices (大牌明星产品区-无线.png) -->
<img src="__PUBLIC__/ytl/wap/images/index_01.jpg" width="100%" alt="">
<img src="__PUBLIC__/ytl/wap/images/index_02.jpg" width="100%" alt="">
<img src="__PUBLIC__/ytl/wap/images/index_03.jpg" alt="" width="100%" usemap="#Map" border="0">
<map name="Map">
  <area shape="rect" coords="22,10,475,699" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/539.html" target="_blank">
  <area shape="rect" coords="501,13,962,702" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/491.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/wap/images/index_04.jpg" alt="" width="100%" usemap="#Map2" border="0">
<map name="Map2">
  <area shape="rect" coords="15,8,480,670" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/481.html" target="_blank">
  <area shape="rect" coords="498,12,962,658" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/481.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/wap/images/index_05.jpg" alt="" width="100%" usemap="#Map3" border="0">
<map name="Map3">
  <area shape="rect" coords="18,53,477,729" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/484.html" target="_blank">
  <area shape="rect" coords="507,52,957,728" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/488.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/wap/images/index_06.jpg" alt="" width="100%" usemap="#Map4" border="0">
<map name="Map4">
  <area shape="rect" coords="22,35,481,691" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/440.html" target="_blank">
  <area shape="rect" coords="506,35,957,705" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/489.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/wap/images/index_07.jpg" alt="" width="100%" usemap="#Map5" border="0">
<map name="Map5">
  <area shape="rect" coords="31,51,484,707" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/487.html" target="_blank">
  <area shape="rect" coords="506,49,956,707" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/486.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/wap/images/index_08.jpg" alt="" width="100%" usemap="#Map6" border="0">
<map name="Map6">
  <area shape="rect" coords="18,46,477,716" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/479.html" target="_blank">
  <area shape="rect" coords="500,46,960,723" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/476.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/wap/images/index_09.jpg" width="100%" alt="">
<img src="__PUBLIC__/ytl/wap/images/index_10.jpg" alt="" width="100%" usemap="#Map7" border="0">
<map name="Map7">
  <area shape="rect" coords="18,44,486,718" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/425.html" target="_blank">
  <area shape="rect" coords="500,38,954,726" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/426.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/wap/images/index_11.jpg" alt="" width="100%" usemap="#Map8" border="0">
<map name="Map8">
  <area shape="rect" coords="21,16,480,687" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/429.html" target="_blank">
  <area shape="rect" coords="501,20,959,696" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/427.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/wap/images/index_12.jpg" alt="" width="100%" usemap="#Map9" border="0">
<map name="Map9">
  <area shape="rect" coords="24,40,468,712" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/428.html" target="_blank">
  <area shape="rect" coords="501,37,950,723" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/482.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/wap/images/index_13.jpg" alt="" width="100%" usemap="#Map10" border="0">
<map name="Map10">
  <area shape="rect" coords="24,34,472,739" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/483.html" target="_blank">
  <area shape="rect" coords="500,37,951,737" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/571.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/wap/images/index_14.jpg" width="100%" alt="">
<img src="__PUBLIC__/ytl/wap/images/index_15.jpg" alt="" width="100%" usemap="#Map11" border="0">
<map name="Map11">
  <area shape="rect" coords="21,56,480,711" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/451.html" target="_blank">
  <area shape="rect" coords="503,52,957,720" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/457.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/wap/images/index_16.jpg" alt="" width="100%" usemap="#Map12" border="0">
<map name="Map12">
  <area shape="rect" coords="21,49,475,735" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/460.html" target="_blank">
  <area shape="rect" coords="503,48,953,738" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/454.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/wap/images/index_17.jpg" alt="" width="100%" usemap="#Map13" border="0">
<map name="Map13">
  <area shape="rect" coords="21,15,474,697" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/453.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/wap/images/index_18.jpg" width="100%" alt="">
<img src="__PUBLIC__/ytl/wap/images/index_19.jpg" alt="" width="100%" usemap="#Map14" border="0">
<map name="Map14">
  <area shape="rect" coords="24,104,481,759" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/456.html" target="_blank">
  <area shape="rect" coords="504,102,953,762" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/455.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/wap/images/index_20.jpg" alt="" width="100%" usemap="#Map15" border="0">
<map name="Map15">
  <area shape="rect" coords="24,61,475,732" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/458.html" target="_blank">
  <area shape="rect" coords="496,55,953,736" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/471.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/wap/images/index_21.jpg" width="100%" alt="">
<img src="__PUBLIC__/ytl/wap/images/index_22.jpg" alt="" width="100%" usemap="#Map16" border="0">
<map name="Map16">
  <area shape="rect" coords="18,60,469,695" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/459.html" target="_blank">
  <area shape="rect" coords="501,57,960,707" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/459.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/wap/images/index_23.jpg" alt="" width="100%" usemap="#Map17" border="0">
<map name="Map17">
  <area shape="rect" coords="22,60,471,724" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/459.html" target="_blank">
  <area shape="rect" coords="503,57,956,722" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/459.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/wap/images/index_24.jpg" alt="" width="100%" usemap="#Map18" border="0">
<map name="Map18">
  <area shape="rect" coords="25,51,475,671" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/575.html" target="_blank">
  <area shape="rect" coords="498,48,954,681" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/577.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/wap/images/index_25.jpg" alt="" width="100%" usemap="#Map19" border="0">
<map name="Map19">
  <area shape="rect" coords="19,91,474,774" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/576.html" target="_blank">
  <area shape="rect" coords="504,82,953,799" href="http://www.gaj100.com/wap/index.php?s=/mall/goods/info/id/574.html" target="_blank">
</map>
<img src="__PUBLIC__/ytl/wap/images/index_26.jpg" width="100%" alt="">
<!-- End Save for Web Slices -->