<!-- Save for Web Slices (赠品专区-无线.psd) -->
<style>
	table{ border-collapse:collapse; width:100% !important;}
	table tr td{ width:50%;}
	table tr td img{ width:100% !important; height:auto !important;}
</style>
<table id="__01" width="750" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="3">
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_01.png" width="750" height="1" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_02.png" width="375" height="308" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_03.png" width="375" height="308" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_04.png" width="375" height="21" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_05.png" width="375" height="21" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_06.png" width="375" height="93" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_07.png" width="375" height="16" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_08.png" width="291" height="77" alt=""></td>
		<td>
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_09.png" width="84" height="47" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_10.png" width="84" height="30" alt=""></td>
	</tr>
	<tr>
		<td>
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/439.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_11.png" width="375" height="545" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/481.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_12.png" width="375" height="545" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/440.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_13.png" width="375" height="555" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/489.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_14.png" width="375" height="555" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/488.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_15.png" width="375" height="555" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/487.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_16.png" width="375" height="555" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/479.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_17.png" width="375" height="566" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/476.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_18.png" width="375" height="566" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_19.png" width="375" height="20" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_20.png" width="375" height="20" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_21.png" width="375" height="94" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_22.png" width="375" height="17" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_23.png" width="291" height="77" alt=""></td>
		<td>
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_24.png" width="84" height="47" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_25.png" width="84" height="30" alt=""></td>
	</tr>
	<tr>
		<td>
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/425.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_26.png" width="375" height="545" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/426.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_27.png" width="375" height="545" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/429.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_28.png" width="375" height="555" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/427.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_29.png" width="375" height="555" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/428.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_30.png" width="375" height="555" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/484.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_31.png" width="375" height="555" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/482.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_32.png" width="375" height="566" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/483.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_33.png" width="375" height="566" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_34.png" width="375" height="20" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_35.png" width="375" height="20" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_36.png" width="375" height="94" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_37.png" width="375" height="30" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_38.png" width="291" height="64" alt=""></td>
		<td>
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_39.png" width="84" height="47" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_40.png" width="84" height="17" alt=""></td>
	</tr>
	<tr>
		<td>
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/451.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_41.png" width="375" height="545" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/457.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_42.png" width="375" height="545" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/460.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_43.png" width="375" height="555" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/454.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_44.png" width="375" height="555" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/453.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_45.png" width="375" height="555" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/459.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_46.png" width="375" height="555" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/459.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_47.png" width="375" height="565" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/459.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_48.png" width="375" height="565" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_49.png" width="375" height="22" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_50.png" width="375" height="22" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_51.png" width="375" height="93" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_52.png" width="375" height="19" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_53.png" width="291" height="74" alt=""></td>
		<td>
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_54.png" width="84" height="47" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_55.png" width="84" height="27" alt=""></td>
	</tr>
	<tr>
		<td>
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/456.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_56.png" width="375" height="545" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/455.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_57.png" width="375" height="545" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/458.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_58.png" width="375" height="575" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="http://gaj100.com/wap/index.php?s=/mall/goods/info/id/471.html">
				<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_59.png" width="375" height="575" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_60.png" width="375" height="82" alt=""></td>
		<td colspan="2">
			<img src="__PUBLIC__/wap/gift/images/&#x8d60;&#x54c1;&#x4e13;&#x533a;-&#x65e0;&#x7ebf;_61.png" width="375" height="82" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->