 <div class="col-sm-12 col-md-12">
        <h3 class="heading">状态修改</h3>
			<php>$action = $info['order_id'] > 0 ? U('zhuang', array('id'=>$info['order_id'])) : U('add');</php>
		<form class="form-horizontal" action="{$action}" method="post" enctype="multipart/form-data">
			<fieldset>
				
					<div class="form-group">
						<label for="u_email" class="control-label col-sm-2">预约状态</label>
						<div class="col-sm-6 col-md-6">
							<select class="form-control" name="status_id">
								<volist name="statuslist" id="vo">
									<option  {:m_selected($info[status_id], $vo[status_id])} value="{$vo.status_id}">
											{$vo.status_name}
									</option>
								</volist>
							</select>
						</div>
					</div>

				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-2">
						<button class="btn btn-default" type="submit">确认并保存</button>
					</div>
				</div>
			</fieldset>
		</form>
    </div>
</div>