<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading">会员管理
			<div style="clear:both"></div>
		</h3>
		<div class="well clearfix">
			<div class="pull-left">
				<form class="form-horizontal cs_ajax_form form-inline" method="get" action="{:U('')}">
					昵称：
					<input type="text" name="nick_name" value="{$get.nick_name}" class="form-control input-sm" style="display:inline-block;width:auto;" placeholder="昵称/手机号" />
					注册时间：
					<input type='text' name='start_time' value="{$get.start_time}" class='form-control input-sm hy_dp' style='width:100px;display:inline;' placeholder="开始时间" /> - 
					<input type='text' name='end_time' value="{$get.end_time}" class='form-control input-sm hy_dp' style='width:100px;display:inline;' placeholder="结束时间" />
					<button type="submit" class="btn btn-default btn-sm" style='margin-left:20px;'>搜索</button>
				</form>
			</div>
        </div>
		<div class="row sepH_c">
			<div class="col-sm-12 col-md-12">
				<table class="table table-striped table-bordered">
                    <thead>
                        <tr>
							<th>头像</th>
							<th>昵称</th>
							<th>真实姓名</th>
							<th>手机号</th>
							<th>邮箱</th>
							<th>账户余额</th>
							<th>消费积分</th>
							<th>类型</th>
							<th>等级积分</th>
							<th>等级</th>
							<th>性别</th>
							<th>生日</th>
							<th>注册时间</th>
							<th width='100'>增值充值记录</th>
							<th width='70'>充值记录</th>
							<th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
						<volist name="list" id="vo">
							<tr class="rowlink top_action">
								<td><if condition="$vo.user_img neq ''"><img src="__UPLOAD__/{$vo.user_img}" height='40' /><elseif condition="$vo.headimgurl neq ''" /><img src="{$vo.headimgurl}" height='40' /></if></td>
								<td>{$vo.nick_name}</td>
								<td>{$vo.real_name}</td>
								<td>{$vo.mobile}</td>
								<td>{$vo.email}</td>
								<td>{$vo.user_money|default=0.00}</td>
								<td><a href="{:U('point/index/index', array('user_id'=>$vo[user_id]))}">{$vo.pay_points|default=0}</a></td>
								<td>{$user_type[$vo[user_type]]}</td>
								<td>{$vo.rank_points}</td>
								<td>{$rank_list[$vo[rank_id]][rank_name]}</td>
								<td>{$sex[$vo[sex]]}</td>
								<td>{$vo.birthday}</td>
								<td>{$vo.reg_time|date="Y-m-d H:i",###}</td>
								<td align='center'>
									<a class='cs_ajax_link hy_show_modal' hy_add_id='recharege_box' hy_w='1000' hy_h='600' href="{:U('recharge_revalue_log',array('user_id'=>$vo['user_id']))}">查看</a>
								</td>
								<td align='center'>
									<a class='cs_ajax_link hy_show_modal' hy_add_id='recharege_box' hy_w='1000' hy_h='600' href="{:U('recharge_log',array('user_id'=>$vo['user_id']))}">查看</a>
								</td>
								<td>
									<a href="{:U('order/index/index', array('user_id'=>$vo[user_id]))}">查看订单</a>
								</td>
							</tr>
						</volist>
                    </tbody>
                </table>
				<div id="pwrap">{$pager}</div>
			</div>
		</div>
	</div>
</div>