<div class="apply_management_form">
	<form action="{:U('')}">
		<!--<input type="hidden" name="sex" value="1" id="sex" />-->
		<div class="mui-input-group">
			<div class="mui-input-row right-after">
				<label><font color="#FF0000">* </font>姓名</label>
				<input type="text" name="real_name" placeholder="请输入">
			</div>
			<div class="mui-input-row right-after">
				<label><font color="#FF0000">* </font>手机号</label>
				<input type="text" name="mobile" placeholder="请输入">
			</div>
			<div class="mui-input-row right-after">
				<label>密码</label>
				<input type="password" name="password" placeholder="请输入">
			</div>
			<div class="mui-input-row right-after">
				<label>确认密码</label>
				<input type="password" name="repassword" placeholder="请输入">
			</div>
			<div class="mui-input-row right-after">
				<label>城市</label>
				<input value="" type="text" class="text" readonly placeholder="省/市/区" id="city">
				<input name="province" type='hidden' id='province' value=''>
				<input name="city" type='hidden' id='city2' value=''>
				<input name="region_code" type='hidden' id='region_code' value=''>
			</div>
			<div class="mui-input-row right-after">
				<label>性别</label>
				<!--<a href="#actionsheet" class="mui-btn" id="sex_text">男</a>-->
				<select name="sex">
					<option value="">请选择</option>
					<option value="1">男</option>
					<option value="2">女</option>
				</select>
			</div>
		</div>
		<div class="btn">
			<a href="javascript:;" class="mui-btn mui-btn-primary mui-btn-block" id="btn_submit">提交</a>
		</div>
	</form>
</div>

<div id="actionsheet" class="mui-popover mui-popover-action mui-popover-bottom">
	<ul class="mui-table-view">
		<li class="mui-table-view-cell">
			<a href="#" value="1">男</a>
		</li>
		<li class="mui-table-view-cell">
			<a href="#" value="2">女</a>
		</li>
	</ul>
	<ul class="mui-table-view">
		<li class="mui-table-view-cell">
			<a href="#actionsheet"><b>取消</b></a>
		</li>
	</ul>
</div>

<script>
	var sex = document.getElementById("sex");
	var sex_text = document.getElementById("sex_text");
	mui('body').on('tap', '.mui-popover-action li>a', function() {
		var a = this,
			parent;
		//根据点击按钮，反推当前是哪个actionsheet
		for (parent = a.parentNode; parent != document.body; parent = parent.parentNode) {
			if (parent.classList.contains('mui-popover-action')) {
				break;
			}
		}
		//关闭actionsheet
		mui('#' + parent.id).popover('toggle');
		if(a.getAttribute('value')){
			sex.value = a.getAttribute('value');
			sex_text.innerHTML = a.innerHTML;
		}
	})
</script>

<!---选择--->
<link rel="stylesheet" href="__PUBLIC__/home/css/mui.picker.min.css">
<script src="__PUBLIC__/home/js/mui.picker.min.js"></script>
<script src="__PUBLIC__/home/js/mui.poppicker.js"></script>
<script src="__PUBLIC__/home/js/city.data-3.js"></script>
<script>
	document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
	mui.init();
	(function($, doc) {
		$.init();
		$.ready(function() {
			var cityPicker = new $.PopPicker({
				layer: 3
			});
			
			cityPicker.setData(cityData3);
			var cityPickerButton = doc.getElementById('city');
			cityPickerButton.addEventListener('tap', function(event) {
				cityPicker.show(function(items) {
					cityPickerButton.value = (items[0] || {}).text + " " + (items[1] || {}).text + " " + (items[2] || {}).text;
					doc.getElementById('province').value = (items[0] || {}).text;
					doc.getElementById('city2').value = (items[1] || {}).text;
					doc.getElementById('region_code').value = (items[2] || {}).value;
					//返回 false 可以阻止选择框的关闭
					//return false;
				});
			}, false);
		});
	})(mui, document);
</script>

<script type="text/javascript">
$(document).ready(function(){
	$('#btn_submit').bind('click', function(){
		var form = $(this).parents('form')
		mui.post(form.attr('action'),form.serialize(),function(data){
				mui.toast(data.info);
				if(data.url){
					window.location.href = data.url
				}
			},'json'
		);
	})
});
</script>