<!-------头部开始----->
<include file="Public/cart_header"/>
<!-------头部结束----->



<!-------支付订单开始----->
<div class="main w1200">
	<form action="{:U('')}" method="post">
		<div class="pay_order">
			<h1>选择支付方式</h1>
			<div class="pay_way">
				<ul>
					<li>
						<label><input type="radio" class="pay_id" name="pay_id" id="RadioGroup1_0" checked value="1">账户余额支付：当前账户余额 <span>{$user.user_money}</span> 元</label>
					</li>
					<li>
						<label><input type="radio" class="pay_id" name="pay_id" id="RadioGroup1_1" value="2">支付宝/微信</label>
						<div class="pay_list">
							<ol class="clearfix">
								<!--<li pay_id="3"><a href="javascript:;"><img src="__PUBLIC__/main/images/pic79.jpg"></a></li>-->
								<li class="on" pay_id="2"><a href="javascript:;"><img src="__PUBLIC__/main/images/pic80.jpg"></a></li>
							</ol>
						</div>
					</li>
					<!--<li class="last">
						<label><input type="radio" class="pay_id" name="pay_id" id="RadioGroup1_2" value="">网上银行</label>
						<div class="pay_list">
							<ol class="clearfix">
								<li pay_id="3"><a href="javascript:;"><img src="__PUBLIC__/main/images/pic81.jpg"></a></li>
							</ol>
						</div>
					</li>-->
				</ul>
			</div>
			<script>
				//支付方式切换
				$(function(){
					$(".pay_list ol li").click(function(){
						$(this).addClass("on").siblings().removeClass("on")
						$(this).parent().parent().parent().siblings().find(".pay_list ol li").removeClass("on")
						
						var pay_id = $(this).attr('pay_id');
						$(this).parents('li').find('.pay_id').val(pay_id);
					})
				})
				
				$(function(){
					$(".pay_way ul li label").click(function(){
						$(this).siblings().show()
						$(this).parent().siblings().find(".pay_list").hide()
						//$(this).parent().siblings().find(".pay_list ol li").removeClass("on")
					})
				})
			</script>
			<empty name='teamp_post_info'>
			<h1>确认支付项目</h1>
			<else/>
			<h1>拼团信息({$teamp_post_info[member_num]}-{$teamp_post_info[member_limit]}人团)</h1>
			</empty>
			
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th align="left">
						<if condition="$info[orders][0][order_type] neq 1">
						店铺宝贝
						<else/>
						宝贝
						</if>
					</th>
					<th align="left">商品属性</th>
					<th align="center">赠送积分</th>
					<th align="center">单价</th>
					<th align="center">数量</th>
					<!--<th align="center">优惠方式</th>-->
					<th align="center">小计</th>                                                                                                                         
				</tr>
				<volist name="info.orders" id="vo">
					<tr>
						<td class="shop_tit" colspan="6" height="30">
						<if condition="$info[orders][0][order_type] neq 1">
							店铺：<strong>{$vo.distributor.distributor_name}</strong>
						<else/>
						</if>
						</td>
					</tr>
					<volist name="vo.order_goods" id="vo2">
						<tr>
							<td valign="top" align="left">
								<dl class="clearfix">
									<dt><a href="{:U('mall/goods/info', array('id'=>$vo2[goods_id]))}"><img src="__UPLOAD__/{$vo2.goods_img}" width="60" height="60"></a></dt>
									<dd>
										<h3><a href="{:U('mall/goods/info', array('id'=>$vo2[goods_id]))}">{$vo2.goods_name}</a></h3>
										<!--<p><em style="background:#FF3F55;"></em><em style="background:#00BF00;"></em></p>-->
										<!--<p>此类商品性质不支持7天退货<a href="#">详情</a></p>-->
										<notempty name="vo2.delivery_time"><p><span>发货时间：付款后{$vo2.delivery_time}天内</span></p></notempty>
										<notempty name="vo2.service_id"><span>【商品服务】{$vo2.service_name} ￥{$vo2.service_price}</span></notempty>
									</dd>
								</dl>
							</td>
							<td valign="top" align="left">
								<p>规格：{$vo2.product_name}</p>
							</td>
							<td valign="top" align="center">{$vo2.distribution_points}</td>
							<td valign="top" align="center">¥{$vo2.goods_price}
								<eq name="vo2.is_seckill" value="1"><p style="color:red">（秒杀）</p></eq>
								<if condition="($vo2[is_seckill] eq 0) AND ($user[rank][discount] gt 0)"><p style="color:red">（会员折扣：{$user.rank.discount}折）</p></if>
							</td>
							<td valign="top" align="center"><div class="spinner">X{$vo2.goods_number}</div></td>
							<!--<td valign="top" align="center">省¥12345：省钱小生 <a href="#"><img src="__PUBLIC__/main/images/icon98.png"></a></td>-->
							<td valign="top" align="center"><span>¥{:sprintf("%.2f", $vo2[goods_price] * $vo2[goods_number] + $vo2[service_price])}</span></td>
						</tr>
					</volist>
				</volist>
			</table>
			<div class="pay_order_btn">
				<empty name='teamp_post_info'>
				<gt name="info.total_service_money" value="0"><p>商品服务费用：<span>¥{$info.total_service_money}</span></p></gt>
				<p>运费：<span>¥{$info.total_shipping_fee}</span></p>
				<gt name="user.rank.discount" value="0"><p>享受会员折扣：<span>{$user.rank.discount}折</span></p></gt>
				<gt name="info.total_points_money" value="0"><p>积分抵扣：<span>¥{$info.total_points_money}</span></p></gt>
				</empty>
				<p val='{$info.orders.order_type}'>
					<em>实付金额：</em>
					<font>￥{$info.total_order_amount}</font>
					<a href="javascript:;" class="payordernow">确认付款</a>
					<input type="hidden" name="id" value="{$get.id}" />
				</p>
			</div>
		</div>
	</form>
</div>
<!-------支付订单结束----->


<!-------右侧快速导航栏开始------->
<include file="Public/vip_nav"/>
<!-------右侧快速导航栏结束------->



<!-------底部开始----->
<include file="Public/footer"/>
<!-------底部结束----->

<script>
$(document).ready(function(){
	$('.payordernow').bind('click', function(){
		var form = $(this).parents('form');
		$.post(form.attr('action'), form.serialize(), function(d){
			layer.open({time:1,content:d.info});
			if(d.status == 1){
				 window.location.href = d.url;
			}
		}, 'json');
		return false;
	})
	
	var pay_id = $('.pay_id:checked').val();
	if(pay_id == 1 || pay_id == 2){
		$('.pay_list').css('display', 'block');
	}
});
</script>