<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading">分类列表（最多只能添加二级分类）
			<a id="rec_add" href="{:U('add')}" class="btn btn-info btn-sm alink_r">添加分类</a>
			<div style="clear:both"></div>
		</h3>
		<div class="row sepH_c">
			<div class="col-sm-12 col-md-12">
				<table class="table_vam table table-striped table-bordered">
                    <thead>
                        <tr>
							<th>分类名称</th>
							<th>排序</th>
							<!--<th>是否显示</th>-->
							<th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
						{$all_cat_list}
                    </tbody>
                </table>
				<div id="pwrap">{$pager}</div>
			</div>
		</div>
	</div>
</div>