<!-------头部开始----->
<include file="Public/header"/>
<!-------头部结束----->





<!-------获得积分开始----->
<div class="main w1200">
	<div class="site_position"><a href="{:U('index/index/index')}">首页</a><span>></span><a href="{:U('user/index/index')}">会员中心</a><span>></span>获得积分</div>
	<div class="vip clearfix">
		<include file="Public/user_sidebar"/>
		<div class="vip_r fr">
			<div class="my_subordinate">
				<div class="tabmenu">
					<span><a class='ncm-btn ncm-btn-orange' href="{:U('User/pointgift/index')}">积分商城</a><a href="{:U('article/page/info', array('id'=>7))}" class='ncm-btn ncm-btn-orange' style="margin-left:5px;">积分常见问题</a></span>
					<ul class="tab pngFix">
						<!--<li><a href="{:U('user/recommend/index')}">我推荐的人</a></li>
						<li><a href="{:U('user/capital/comission')}">获得分利</a></li>-->
						<li class="on"><a href="{:U('user/capital/point')}">积分记录</a></li>
						<li><a href="{:U('user/Pointgift/order')}">兑换商品列表</a></li>
					</ul>
				</div>
				<div class="alert">
                    	<span class="mr30">我的积分：<strong class="mr5 red" style="font-size: 18px;">{$user.pay_points}</strong>分</span>
                    </div>
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<th width="33%">积分类型</th>
						<th width="33%">时间</th>
						<th>积分变动</th>
					</tr>
					<volist name="list" id="vo">
						<tr>
							<td align="center"><em>{$vo.ref_user}</em>{$vo.change_desc}</td>
							<td align="center">{$vo.add_time|date="Y-m-d H:i",###}</td>
							<td align="center">
								<span><strong><if condition="$vo.point_change gt 0">+</if>{$vo.point_change}</strong></span>
							</td>
						</tr>
					</volist>
				</table>
				<div class="pages1">{$pages}</div>
			</div>
		</div>
	</div>
</div>
<!-------获得积分结束----->



<!-------底部开始----->
<include file="Public/footer"/>
<!-------底部结束----->