<div class="red_box">
	<p style="text-align:center;color:#999999;padding-top:20px;padding-bottom:20px;">暂无记录</p>
	<!--<ul>
		<li>
			<dl class="clearfix">
				<dt><font>50</font>元</dt>
				<dd>云壶红包</dd>
			</dl>
			<div class="time">
				<p>发送时间：</p>
				<p>2016-08-29 09:00</p>
				<p><a href="#">领取</a></p>
			</div>
		</li>
		<li class="pass">
			<dl class="clearfix">
				<dt><font>50</font>元</dt>
				<dd>云壶红包</dd>
			</dl>
			<div class="time">
				<p>发送时间：</p>
				<p>2016-07-29 09:00</p>
				<p><a href="#">已领取</a></p>
			</div>
		</li>
	</ul>-->
</div>