<div>
    <div class="col-sm-12 col-md-12">
        <h3 class="heading">人员权限（可查看其它人的财务情况）</h3>
		<form class="form-horizontal cs_ajax_form" method="post" action="{:U('')}">
			<input type="hidden" name="id" value="{$info.role_id}" />
			<fieldset>
				<div class="form-group">
					<label for="u_fname" class="control-label col-sm-2">平台角色</label>
					<div class="col-sm-9">
						
							<div class="col-sm-12 purviewwrap" style="padding:5px 0;">
								<div class="col-sm-2">
									<span style="display:inline-block;width:120px;">
									<input class="purviewgroup" type="checkbox">全部权限</span>
								</div>
								<div class="col-sm-10">
									<foreach name="role_list" key="ko" item="vo">
										<span style='display:inline-block;width:130px;'>
											<input {:m_checked($vo[role_id], $info['personnel_role'])} class="purview" type="checkbox" name="personnel_role[]" value="{$vo[role_id]}">
											{$vo.role_name}
										</span>
									</foreach>
								</div>
							</div>
						
					</div>
				</div>
				
				<div class="form-group">
					<label for="u_fname" class="control-label col-sm-2">店铺角色</label>
					<div class="col-sm-9">
						
							<div class="col-sm-12 purviewwrap" style="padding:5px 0;">
								<div class="col-sm-2">
									<span style="display:inline-block;width:120px;">
									<input class="purviewgroup" type="checkbox">全部权限</span>
								</div>
								<div class="col-sm-10">
									<foreach name="distributor_role_list" key="ko" item="vo">
										<if condition="$vo[role_id] neq $info[role_id]">
											<span style='display:inline-block;width:130px;'>
												<input {:m_checked($vo[role_id], $info['personnel_role'])} class="purview" type="checkbox" name="personnel_role[]" value="{$vo[role_id]}">
												{$vo.role_name}
											</span>
										</if>
									</foreach>
								</div>
							</div>
						
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-2">
						<button href="" class="btn btn-default" type="submit">确认并保存</button>
					</div>
				</div>
			</fieldset>
		</form>
    </div>
</div> 

<script type="text/javascript">
function purviewgroupchk(obj){
	var prt = $(obj).parents('.purviewwrap');
	var chk = prt.find('input.purview').length == prt.find('input.purview:checked').length;
	var grp = prt.find('.purviewgroup');
	if(chk) grp.attr('checked', 'checked');
	else grp.removeAttr('checked');
}
$('.purviewgroup').each(function(){
	purviewgroupchk(this);
	$(this).bind('click', function(){
		var obj = $(this);
		var pls = obj.parents('.purviewwrap').find('.purview');
		if(obj.is(':checked')) pls.attr('checked', 'checked');
		else pls.removeAttr('checked');
	});
});
$('.purview').bind('click', function(){
	purviewgroupchk(this);
});
</script>
	