<!-------头部开始----->
<include file="Public/header"/>
<!-------头部结束----->





<div class="distribution_banner"></div>
<!-------申请分销开始----->
<div class="main w1200">
	<div class="distribution_form">
		<h1>申请分销员<img src="__PUBLIC__/main/images/pic94.png"></h1>
		<form action="" onSubmit="">
			<ul>
				<li class="clearfix"><label>所在城市<font>*</font></label><input name="" type="text"></li>
				<li class="clearfix"><label>姓名<font>*</font><br><span>（真实填写）</span></label><input name="" type="text"></li>
				<li class="clearfix"><label>电话<font>*</font></label><input name="" type="text"></li>
				<li class="clearfix"><label>微信号<font>*</font><br><span>（可收款）</span></label><input name="" type="text"></li>
				<li class="clearfix"><label>分销品牌<font>*</font><br><span>（任选1个）</span></label><select name=""><option>请选择</option></select></li>
				<li class="clearfix"><label>申请理由<font>*</font></label><input name="" type="text"></li>
				<li class="clearfix"><label>建议：<br><span>（选填）</span></label><textarea name="" cols="" rows="5"></textarea></li>
				<li class="clearfix last-btn"><button type="submit">提 交</button></li>
			</ul>
		</form>
	</div>
</div>
<!-------申请分销结束----->



<!-------底部开始----->
<include file="Public/footer"/>
<!-------底部结束----->