<div class="client_detaild_exchange_records mui-scroll-wrapper" id="pullrefresh">
	<div class="mui-scroll">
		<a href="javascript:;" id="click" style=" text-align:center; display:block; padding-top:10px; font-size:15px; display:none;">筛选</a>
		<empty name="list">
			<p style="text-align:center;color:#999999;padding:20px;">暂无兑换记录</p>
		<else/>
			<div class="div">
				<include file="User/Exchange/_index"/>
			</div>
		</empty>
	</div>
</div>

<div class="filter_new_pop">
	<form action="{:U('')}">
		<input type="hidden" name="user_id" value="{$get.user_id}" />
		<div class="mui-input-row mui-search">
			<input type="search" name="keyword" value="{$get.keyword}" class="mui-input-clear" placeholder="搜索">
		</div>
		<h2>日期</h2>
		<ol>
			<li><span>开始时间：</span><input name="start_time" value="{$get.start_time}" type="text" readonly class="time" id="StartTime1" data-options='{}'></li>
			<li><span>结束时间：</span><input name="end_time" value="{$get.end_time}" type="text" readonly class="time" id="EndTime1" data-options='{}'></li>
		</ol>
		<div class="btn">
			<a href="javascript:;" class="mui-btn mui-btn-block mui-btn-default" id="btn_reset">清除筛选</a>
			<a href="javascript:;" class="mui-btn mui-btn-block mui-btn-primary" id="btn_search">完成</a>
		</div>
	</form>
</div>
<div class="mask"></div>

<link rel="stylesheet" href="__PUBLIC__/home/css/mui.picker.min.css">
<script src="__PUBLIC__/home/js/mui.picker.min.js"></script>
<script>
	(function($) {
		$.init();
		var btns = $('.time');
		btns.each(function(i, btn) {
			btn.addEventListener('tap', function() {
				var optionsJson = this.getAttribute('data-options') || '{}';
				var options = JSON.parse(optionsJson);
				var id = this.getAttribute('id');
				/*
				 * 首次显示时实例化组件
				 * 示例为了简洁，将 options 放在了按钮的 dom 上
				 * 也可以直接通过代码声明 optinos 用于实例化 DtPicker
				 */
				var picker = new $.DtPicker(options);
				picker.show(function(rs) {
					/*
					 * rs.value 拼合后的 value
					 * rs.text 拼合后的 text
					 * rs.y 年，可以通过 rs.y.vaue 和 rs.y.text 获取值和文本
					 * rs.m 月，用法同年
					 * rs.d 日，用法同年
					 * rs.h 时，用法同年
					 * rs.i 分（minutes 的第二个字母），用法同年
					 */
					btn.value = rs.text;
					
					picker.dispose();
				});
			}, false);
		});
	})(mui);
	
	$(function(){
		$("#click").click(function(){
			$(".filter_new_pop").addClass("on")	
			$(".mask").fadeIn()
		})
		
		$(".filter_new_pop ul li a").click(function(){
			$(this).addClass("on")	
		})
		
		$(".filter_new_pop a.mui-btn-primary").click(function(){
			$(".filter_new_pop").removeClass("on")	
			$(".mask").fadeOut()
		})
		
		$(".filter_new_pop a.mui-btn-default").click(function(){
			$(".filter_new_pop ul li a").removeClass("on")
			$(".filter_new_pop ol li input").val('')
		})
		
	})
	
</script>

<php>$jscall = \Common\Basic\JsConst::tbar('筛选', 'show');</php>
<script type="text/javascript">
//搜索
app.setTitleRight('筛选', 'show');
function show(){
	//$(".filter_new_pop").addClass("on")	
	//$(".mask").fadeIn()
	$(".filter_new_pop").toggleClass("on")	
	$(".mask").fadeToggle()
}

document.getElementById("btn_reset").addEventListener("tap",function(event){
	//$(".filter_new_pop ul li input").val('')
	$(this).parents('form').find(":input").val('')
})

document.getElementById("btn_search").addEventListener("tap",function(event){
	var form = $(this).parents('form')
	form[0].submit();
})

$(document).ready(function(){
	$('.mask').click(function(){
		$(".filter_new_pop").removeClass("on")
		$(".mask").fadeOut()
	});
});
</script>

<if condition='$count gt count($list)'>
	<script src="__PUBLIC__/home/js/mui.pullToRefresh.js"></script>
	<script src="__PUBLIC__/home/js/mui.pullToRefresh.material.js"></script>
	<script>
		var page = 2;
		var keyword = "{$get.keyword}";
		var start_time = "{$get.start_time}";
		var end_time = "{$get.end_time}";
		
		mui.init({
			pullRefresh: {
				container: '#pullrefresh',
				up: {
					contentrefresh: '正在加载...',
					contentnomore:'没有更多数据了',
					callback: pullupRefresh
				}
			}
		});
		
		function pullupRefresh() {
			var $this=this;
			mui.ajax("{:U('')}",{
				type:'post',
				data:{p:page, keyword:keyword, start_time:start_time, end_time:end_time},
				dataType:'json',
				success:function(res){
					if(res.html != ''){
						$(".mui-scroll .div").append(res.html)
						page++;
						$this.endPullupToRefresh();
					}else{
						$this.endPullupToRefresh(true);
					}
				}
			})
		}
	</script>
<else/>
	<script>
		mui('.mui-scroll-wrapper').scroll({});
	</script>
</if>