<div class="orders_management_list">
	<div id="slider" class="mui-slider mui-fullscreen">
		<div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
			<div class="mui-scroll" id="mui-scroll">
				<a class="mui-control-item <empty name="get.type">mui-active</empty>" href="#item1mobile">全部</a>
				<a class="mui-control-item <eq name="get.type" value="2">mui-active</eq>" href="#item2mobile" type="2">待付款</a>
				<a class="mui-control-item <eq name="get.type" value="3">mui-active</eq>" href="#item3mobile" type="3">待发货</a>
				<a class="mui-control-item <eq name="get.type" value="4">mui-active</eq>" href="#item4mobile" type="4">已完成</a>
				<a class="mui-control-item <eq name="get.type" value="5">mui-active</eq>" href="#item5mobile" type="5">已取消</a>
				<a class="mui-control-item <eq name="get.type" value="6">mui-active</eq>" href="#item6mobile" type="6">退货</a>
				<a class="mui-control-item <eq name="get.type" value="7">mui-active</eq>" href="#item7mobile" type="7">已评价</a>
			</div>
		</div>
		<div class="mui-slider-group">
			<!--<a href="javascript:;" id="click" style=" text-align:center; display:block; padding-top:10px; font-size:15px; position:relative;">筛选</a>-->
			<div id="item1mobile" class="mui-slider-item mui-control-content <empty name="get.type">mui-active</empty>">
				<div class="mui-scroll-wrapper">
					<empty name="list">
						<form action="{:U('')}">
							<div class="mui-input-row mui-search">
								<input type="search" name="keyword" value="{$get.keyword}" class="mui-input-clear" placeholder="手机号码/会员名称/订单编号">
								<input type="hidden" name="type" value="{$get.type}" />
							</div>
						</form>
						<p style="text-align:center;color:#999999;padding:20px;">暂无相关订单</p>
					<else/>
						<div class="mui-scroll" type="" p="2">
							<form action="{:U('')}">
								<div class="mui-input-row mui-search">
									<input type="search" name="keyword" value="{$get.keyword}" class="mui-input-clear" placeholder="手机号码/会员名称/订单编号">
									<input type="hidden" name="type" value="{$get.type}" />
								</div>
							</form>
							<ul>
								<include file="Order/Index/_list"/>
							</ul>
						</div>
					</empty>
				</div>
			</div>
			<div id="item2mobile" class="mui-slider-item mui-control-content <eq name="get.type" value="2">mui-active</eq>">
				<div class="mui-scroll-wrapper">
					<php>$list = $nopay_list;</php>
					<empty name="list">
						<form action="{:U('')}">
							<div class="mui-input-row mui-search">
								<input type="search" name="keyword" value="{$get.keyword}" class="mui-input-clear" placeholder="手机号码/会员名称/订单编号">
								<input type="hidden" name="type" value="{$get.type}" />
							</div>
						</form>
						<p style="text-align:center;color:#999999;padding:20px;">暂无相关订单</p>
					<else/>
						<div class="mui-scroll" type="2" p="2">
							<form action="{:U('')}">
								<div class="mui-input-row mui-search">
									<input type="search" name="keyword" value="{$get.keyword}" class="mui-input-clear" placeholder="手机号码/会员名称/订单编号">
									<input type="hidden" name="type" value="{$get.type}" />
								</div>
							</form>
							<ul>
								<include file="Order/Index/_list"/>
							</ul>
						</div>
					</empty>
				</div>
			</div>
			<div id="item3mobile" class="mui-slider-item mui-control-content <eq name="get.type" value="3">mui-active</eq>">
				<div class="mui-scroll-wrapper">
					<php>$list = $wait_list;</php>
					<empty name="list">
						<form action="{:U('')}">
							<div class="mui-input-row mui-search">
								<input type="search" name="keyword" value="{$get.keyword}" class="mui-input-clear" placeholder="手机号码/会员名称/订单编号">
								<input type="hidden" name="type" value="{$get.type}" />
							</div>
						</form>
						<p style="text-align:center;color:#999999;padding:20px;">暂无相关订单</p>
					<else/>
						<div class="mui-scroll" type="3" p="2">
							<form action="{:U('')}">
								<div class="mui-input-row mui-search">
									<input type="search" name="keyword" value="{$get.keyword}" class="mui-input-clear" placeholder="手机号码/会员名称/订单编号">
									<input type="hidden" name="type" value="{$get.type}" />
								</div>
							</form>
							<ul>
								<include file="Order/Index/_list"/>
							</ul>
						</div>
					</empty>
				</div>
			</div>
			<div id="item4mobile" class="mui-slider-item mui-control-content <eq name="get.type" value="4">mui-active</eq>">
				<div class="mui-scroll-wrapper">
					<php>$list = $finish_list;</php>
					<empty name="list">
						<form action="{:U('')}">
							<div class="mui-input-row mui-search">
								<input type="search" name="keyword" value="{$get.keyword}" class="mui-input-clear" placeholder="手机号码/会员名称/订单编号">
								<input type="hidden" name="type" value="{$get.type}" />
							</div>
						</form>
						<p style="text-align:center;color:#999999;padding:20px;">暂无相关订单</p>
					<else/>
						<div class="mui-scroll" type="4" p="2">
							<form action="{:U('')}">
								<div class="mui-input-row mui-search">
									<input type="search" name="keyword" value="{$get.keyword}" class="mui-input-clear" placeholder="手机号码/会员名称/订单编号">
									<input type="hidden" name="type" value="{$get.type}" />
								</div>
							</form>
							<ul>
								<include file="Order/Index/_list"/>
							</ul>
						</div>
					</empty>
				</div>
			</div>
			<div id="item5mobile" class="mui-slider-item mui-control-content <eq name="get.type" value="5">mui-active</eq>">
				<div class="mui-scroll-wrapper">
					<php>$list = $cancel_list;</php>
					<empty name="list">
						<form action="{:U('')}">
							<div class="mui-input-row mui-search">
								<input type="search" name="keyword" value="{$get.keyword}" class="mui-input-clear" placeholder="手机号码/会员名称/订单编号">
								<input type="hidden" name="type" value="{$get.type}" />
							</div>
						</form>
						<p style="text-align:center;color:#999999;padding:20px;">暂无相关订单</p>
					<else/>
						<div class="mui-scroll" type="5" p="2">
							<form action="{:U('')}">
								<div class="mui-input-row mui-search">
									<input type="search" name="keyword" value="{$get.keyword}" class="mui-input-clear" placeholder="手机号码/会员名称/订单编号">
									<input type="hidden" name="type" value="{$get.type}" />
								</div>
							</form>
							<ul>
								<include file="Order/Index/_list"/>
							</ul>
						</div>
					</empty>
				</div>
			</div>
			<div id="item6mobile" class="mui-slider-item mui-control-content <eq name="get.type" value="6">mui-active</eq>">
				<div class="mui-scroll-wrapper">
					<php>$list = $back_list;</php>
					<empty name="list">
						<form action="{:U('')}">
							<div class="mui-input-row mui-search">
								<input type="search" name="keyword" value="{$get.keyword}" class="mui-input-clear" placeholder="手机号码/会员名称/订单编号">
								<input type="hidden" name="type" value="{$get.type}" />
							</div>
						</form>
						<p style="text-align:center;color:#999999;padding:20px;">暂无相关订单</p>
					<else/>
						<div class="mui-scroll" type="6" p="2">
							<form action="{:U('')}">
								<div class="mui-input-row mui-search">
									<input type="search" name="keyword" value="{$get.keyword}" class="mui-input-clear" placeholder="手机号码/会员名称/订单编号">
									<input type="hidden" name="type" value="{$get.type}" />
								</div>
							</form>
							<ul>
								<include file="Order/Index/_backlist"/>
							</ul>
						</div>
					</empty>
				</div>
			</div>
			<div id="item7mobile" class="mui-slider-item mui-control-content <eq name="get.type" value="7">mui-active</eq>">
				<div class="mui-scroll-wrapper">
					<php>$list = $comment_list;</php>
					<empty name="list">
						<form action="{:U('')}">
							<div class="mui-input-row mui-search">
								<input type="search" name="keyword" value="{$get.keyword}" class="mui-input-clear" placeholder="手机号码/会员名称/订单编号">
								<input type="hidden" name="type" value="{$get.type}" />
							</div>
						</form>
						<p style="text-align:center;color:#999999;padding:20px;">暂无相关订单</p>
					<else/>
						<div class="mui-scroll" type="7" p="2">
							<form action="{:U('')}">
								<div class="mui-input-row mui-search">
									<input type="search" name="keyword" value="{$get.keyword}" class="mui-input-clear" placeholder="手机号码/会员名称/订单编号">
									<input type="hidden" name="type" value="{$get.type}" />
								</div>
							</form>
							<ul>
								<include file="Order/Index/_list"/>
							</ul>
						</div>
					</empty>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	.orders_management_list ul li a h2 span{ -webkit-box-flex:1; -webkit-flex:1; flex:1; }
</style>
<script src="__PUBLIC__/home/js/mui.pullToRefresh.js"></script>
<script src="__PUBLIC__/home/js/mui.pullToRefresh.material.js"></script>
<script>
	mui.init();
	
	var order_id = "{$get.order_id}";
	var start_time = "{$get.start_time}";
	var end_time = "{$get.end_time}";
	var min_order_amount = "{$get.min_order_amount}";
	var max_order_amount = "{$get.max_order_amount}";
	var store_id = "{$get.store_id}";
	var user_id = "{$get.user_id}";
	
	(function($) {
		//阻尼系数
		var deceleration = mui.os.ios?0.003:0.0009;
		$('.mui-scroll-wrapper').scroll({
			bounce: true,
			indicators: true, //是否显示滚动条
			deceleration:deceleration
		});
		$.ready(function() {
			//循环初始化所有下拉刷新，上拉加载。
			$.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
				$(pullRefreshEl).pullToRefresh({
					up: {
						callback: function() {
							var self = this;
							var jqobj = jQuery(pullRefreshEl);
							
							var type = jqobj.attr('type');
							var p = jqobj.attr('p');
							
							var data = {
								order_id:order_id,
								start_time:start_time,
								end_time:end_time,
								min_order_amount:min_order_amount,
								max_order_amount:max_order_amount,
								store_id:store_id,
								user_id:user_id,
								type:type,
								p:p
							};
							mui.post("{:U('list')}",data,function(data){
									//服务器返回响应，根据响应结果，分析是否登录成功；
									if(data.html != ''){
										jqobj.attr('p', data.p);
										var list = jqobj.find('ul');
										list.append(data.html);
										self.endPullUpToRefresh();
									}else{
										self.endPullUpToRefresh(true);
									}
								},'json'
							);
						}
					}
				});
			});
		});
	})(mui);
</script>

<div class="filter_new_pop">
	<form action="{:U('')}">
		<input type="hidden" name="type" value="{$get.type}" />
		<h2>日期</h2>
		<ol>
			<li><span>开始时间：</span><input name="start_time" value="{$get.start_time}" type="text" readonly class="time" id="StartTime" data-options='{}'></li>
			<li><span>结束时间：</span><input name="end_time" value="{$get.end_time}" type="text" readonly class="time" id="EndTime" data-options='{}'></li>
		</ol>
		<h2>订单金额</h2>
		<h3><input name="min_order_amount" value="{$get.min_order_amount}" type="text" placeholder="最低价"><span>-</span><input name="max_order_amount" value="{$get.max_order_amount}" type="text" placeholder="最高价"></h3>
		<notempty name="distributor_list">
			<h2>所店铺</h2>
			<ul>
				<li class="right-after">
					<select name="store_id">
						<option value="">全部店铺</option>
						<volist name="distributor_list" id="vo">
							<option value="{$vo.distributor_id}" {:m_selected($vo[distributor_id], $get[store_id])}>{$vo.distributor_name}</option>
						</volist>
					</select>
				</li>
			</ul>
		</notempty>
		<!--<h2>所属客户</h2>
		<ul>
			<li class="right-after">
				<select name="user_id">
					<option value="">全部客户</option>
					<volist name="user_list" id="vo">
						<option value="{$vo.user_id}" {:m_selected($vo[user_id], $get[user_id])}>{$vo.user_name}</option>
					</volist>
				</select>
			</li>
		</ul>-->
		<h2>订单跟进人</h2>
		<ul>
			<li class="right-after">
				<select name="user_id">
					<option value="">全部</option>
					<volist name="user_list" id="vo">
						<option value="{$vo.user_id}" {:m_selected($vo[user_id], $get[user_id])}>{$vo.user_name}</option>
					</volist>
				</select>
			</li>
		</ul>
		<div class="btn">
			<a href="javascript:;" class="mui-btn mui-btn-block mui-btn-default">清除筛选</a>
			<a href="javascript:;" class="mui-btn mui-btn-block mui-btn-primary" id="btn_search">完成</a>
		</div>
	</form>
</div>
<div class="mask"></div>

<link rel="stylesheet" href="__PUBLIC__/home/css/mui.picker.min.css">
<script src="__PUBLIC__/home/js/mui.picker.min.js"></script>
<script>
	(function($) {
		$.init();
		var btns = $('.time');
		btns.each(function(i, btn) {
			btn.addEventListener('tap', function() {
				var optionsJson = this.getAttribute('data-options') || '{}';
				var options = JSON.parse(optionsJson);
				var id = this.getAttribute('id');
				/*
				 * 首次显示时实例化组件
				 * 示例为了简洁，将 options 放在了按钮的 dom 上
				 * 也可以直接通过代码声明 optinos 用于实例化 DtPicker
				 */
				var picker = new $.DtPicker(options);
				picker.show(function(rs) {
					/*
					 * rs.value 拼合后的 value
					 * rs.text 拼合后的 text
					 * rs.y 年，可以通过 rs.y.vaue 和 rs.y.text 获取值和文本
					 * rs.m 月，用法同年
					 * rs.d 日，用法同年
					 * rs.h 时，用法同年
					 * rs.i 分（minutes 的第二个字母），用法同年
					 */
					btn.value = rs.text;
					
					picker.dispose();
				});
			}, false);
		});
	})(mui);
	
	$(function(){
		/*$("#click").click(function(){
			$(".filter_new_pop").addClass("on")	
			$(".mask").fadeIn()
		})*/
		
		$(".filter_new_pop ul li a").click(function(){
			$(this).addClass("on")	
		})
		
		$(".filter_new_pop a.mui-btn-primary").click(function(){
			$(".filter_new_pop").removeClass("on")	
			$(".mask").fadeOut()
		})
		
		$(".filter_new_pop a.mui-btn-default").click(function(){
			$(".filter_new_pop ul li a").removeClass("on")
			$(".filter_new_pop ol li input").val('')
		})
		
		/*$(".mui-control-item").click(function(){
			$('input[name=type]').val($(this).attr('type'))
		})*/
	})
	
</script>

<php>$jscall = \Common\Basic\JsConst::tbar('筛选', 'show');</php>
<script type="text/javascript">
//搜索
app.setTitleRight('筛选', 'show');
function show(){
	//$(".filter_new_pop").addClass("on")	
	//$(".mask").fadeIn()
	$(".filter_new_pop").toggleClass("on")	
	$(".mask").fadeToggle()
}

$(document).ready(function(){
	$('.mask').click(function(){
		$(".filter_new_pop").removeClass("on")	
		$(".mask").fadeOut()
	});
	
	$('#btn_search').bind('click', function(){
		$('input[name=type]').val($('#mui-scroll .mui-active').attr('type'))
		
		var form = $(this).parents('form')
		form[0].submit();
	})
});

document.onkeydown = function(e){
	if(!e){
		e = window.event;
	}
	if((e.keyCode || e.which) == 13){
		$('input[name=type]').val($('#mui-scroll .mui-active').attr('type'))
	}
}
</script>

<script>
	$(function(){
		$(".cancel").click(function(){
			var obj = $(this);
			var btnArray = ['否', '是'];
			mui.confirm('确认取消订单吗？', '取消订单', btnArray, function(e) {
				if (e.index == 1) {
					$.post(obj.attr('href'), {}, function(d){
						mui.toast(d.info);
						if(d.status == 1){
							window.location.reload()
						}
					}, 'json');
				}
			})
			return false;
		})
		
		$(".check").click(function(){
			var obj = $(this);
			var btnArray = ['否', '是'];
			mui.confirm('确认审核吗？', '退货审核', btnArray, function(e) {
				if (e.index == 1) {
					$.post(obj.attr('href'), {}, function(d){
						mui.toast(d.info);
						if(d.status == 1){
							window.location.reload()
						}
					}, 'json');
				}
			})
			return false;
		})
	})
</script>