<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading">罚款详情</h3>
			<form class="form-horizontal">
				<fieldset>
					<input type="hidden" name="id" value="{$info.id}">
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">违规类型</label>
						<div class="col-sm-8">
							<select name='fine_type' class='form-control' style="height:30px;padding-top:0;padding-bottom:0" disabled>
                                <foreach name='fine_type' item='val'>
                                <option <if condition='$info[fine_type] eq $val[id]'>selected='selected'</if> value='{$val.id}'>{$val['fine_name']}</option>
                                </foreach>
                            </select>
						</div>
					</div>
 					<div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">违规品牌</label>
						<div class="col-sm-8">
							<input name="brand_id" class="input-xlarge form-control" type="text" value="{$info.brand_id}" readonly>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">违规店铺</label>
						<div class="col-sm-8">
							<input name="shop_id" class="input-xlarge form-control" type="text" value="{$info.shop_id}" readonly>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">罚款细则</label>
						<div class="col-sm-8">
							<input name="fine_rules" class="input-xlarge form-control" type="text" value="{$info.fine_rules}" readonly>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">罚款凭证</label>
						<div class="col-sm-8">
							<input class="hy_upload_single" hy_field="fine_pic" value="上传图片" style="width:100px;height:60px;" src="{$info.fine_pic}"/>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">违规次数</label>
						<div class="col-sm-8">
							<input name="fine_count" class="input-xlarge form-control" type="text" value="{$info.fine_count}" readonly>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">违规扣分</label>
						<div class="col-sm-8">
							<input name="fine_score" class="input-xlarge form-control" type="text" value="{$info.fine_score}" readonly>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">违规罚款</label>
						<div class="col-sm-8">
							<input name="fine_money_sum" class="input-xlarge form-control" type="text" value="{$info.fine_money_sum}" readonly>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">已支付罚款金额</label>
						<div class="col-sm-8">
							<input name="fine_money_sum" class="input-xlarge form-control" type="text" value="{$info.fine_money_pay}" readonly>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">已发/收到信息</label>
						<div class="col-sm-8">
							<input name="message" class="input-xlarge form-control" type="text" value="{$info.message}" readonly>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">申诉内容</label>
						<div class="col-sm-8">
							<input name="appeal" class="input-xlarge form-control" type="text" value="{$info.appeal}" readonly>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">一审状态</label>
						<div class="col-sm-8">
							<?php
                            switch($info['status_first'])
                            { 
                            	case 0 : $status_first = '待审核' ; break;
                                case 1 : $status_first = '通过' ; break;
                                case 2 : $status_first = '失败' ; break;
                            }
                            ?>
                            <input name="status_first" class="input-xlarge form-control" type="text" value="{$status_first}" readonly>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">一审备注</label>
						<div class="col-sm-8">
							<input name="note_first" class="input-xlarge form-control" type="text" value="{$info.note_first}" readonly>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">终审状态</label>
						<div class="col-sm-8">
							<?php
                            switch($info['status_second'])
                            { 
                            	case 0 : $status_second = '待审核' ; break;
                                case 1 : $status_second = '通过' ; break;
                                case 2 : $status_second = '失败' ; break;
                            }
                            ?>
                            <input name="status_second" class="input-xlarge form-control" type="text" value="{$status_second}" readonly>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-3">终审备注</label>
						<div class="col-sm-8">
							<input name="note_second" class="input-xlarge form-control" type="text" value="{$info.note_second}" readonly>
						</div>
					</div>
				</fieldset>
			</form>
    </div>
</div> 