<div class="row hy_page_content" href="{:U('',$get)}">
    <div class="col-sm-12 col-md-12">       
        <table class="table table-striped table-bordered hy_idsel_in_iframe">
            <thead>
			    <tr>
					<th></th>
					<th>店铺</th>
			    </tr>
			</thead>
			<tbody>
				<volist name="list" id="vo">
			    	<tr>
						<td><input type='checkbox' value='{$vo.distributor_id}' title="{$vo.distributor_name}" /></td>
				        <td>{$vo.distributor_name}</td>					
				    </tr>
				</volist>
			</tbody>        
		</table>
		<div id="pwrap">{$pager}</div>
    </div>
</div>