<div class="shaopcar_statistics mui-scroll-wrapper" id="pullrefresh">
    <div class="mui-scroll">
        <h2><span>商品信息</span><em>排行</em></h2>
        <div class="load-data">
            <include file="Statistics/Goods/_index"/>
        </div>
    </div>
</div>
<if condition='$count gt count($list)'>
    <script src="__PUBLIC__/home/js/mui.pullToRefresh.js"></script>
    <script src="__PUBLIC__/home/js/mui.pullToRefresh.material.js"></script>
    <script type="text/javascript">
        var page = 2;
        mui.init({
            pullRefresh: {
                container: '#pullrefresh',
                up: {
                    contentrefresh: '正在加载...',
                    contentnomore: '没有更多数据了',
                    callback: pullupRefresh
                }
            }
        });

        function pullupRefresh() {
            var $this = this;
            mui.ajax("{:U('')}", {
                type: 'post',
                data: {p: page},
                dataType: 'json',
                success: function (res) {
                    if (res.html != '') {
                        $(".load-data").append(res.html);
                        page++;
                        $this.endPullupToRefresh();
                    } else {
                        $this.endPullupToRefresh(true);
                    }
                }
            })
        }
    </script>
    <else/>
    <script type="text/javascript">
        mui('.mui-scroll-wrapper').scroll({});
    </script>
</if>