<style>body{ background:#EEE;}</style>
<div class="user">
    <div class="user_bd">
    	<div class="weui_cells weui_cells_access">
            <a class="weui_cell" href="{:U('verified')}">
                <div class="weui_cell_hd"><img src="__PUBLIC__/wap/images/icon32.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>实名信息</p>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
            <a class="weui_cell" href="{:U('user/address')}">
                <div class="weui_cell_hd"><img src="__PUBLIC__/wap/images/icon33.png" alt="" style="height:25px;margin-right:5px;display:block"></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>我的收货地址</p>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
        </div>
        <div class="weui_cells weui_cells_access">
            <a class="weui_cell" href="{:U('chpwd')}">
                <div class="weui_cell_hd"><img src="__PUBLIC__/wap/images/icon34.png" alt="" style="height:25px;margin-right:5px;display:block"></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>修改登录密码</p>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
            <a class="weui_cell" href="{:U('chpaypwd')}">
                <div class="weui_cell_hd"><img src="__PUBLIC__/wap/images/icon35.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>修改交易密码</p>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
        </div>
    </div>
</div>

