<style>body{ background:#EEE;}</style>
<div class="verified_end">
	<div class="verified_end_list">
    	<div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">真实姓名</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input"  value="{$user.real_name}">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">身份证号码</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" value="{:substr($user['id_info'], 0, 6)} **** **** **{:substr($user['id_info'], 8, 2)}">
                </div>
            </div>
        </div>
    </div>
	<div class="verified_end_tips">{$tips.after_real}</div>
</div>
