<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{$page_title|default='谷安居微信端'}</title>
<meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="__PUBLIC__/wap/css/swiper.min.css">
<link rel="stylesheet" href="__PUBLIC__/wap/css/weui.css">
<link rel="stylesheet" href="__PUBLIC__/wap/css/public.css">
<link rel="stylesheet" href="__PUBLIC__/wap/css/service.css">
<script src="__PUBLIC__/wap/js/jquery-1.8.3.js"></script>
<script src="__PUBLIC__/wap/js/swiper.min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/css/layer.css" type="text/css">
<script src="__PUBLIC__/js/layer.m.js"></script>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
	wx.config({
		debug: false,
		appId: '{$signPackage["appId"]}',
		timestamp: '{$signPackage["timestamp"]}',
		nonceStr: '{$signPackage["nonceStr"]}',
		signature: '{$signPackage["signature"]}',
		jsApiList: [
			'checkJsApi',
			'onMenuShareTimeline',
			'onMenuShareAppMessage',
			'onMenuShareQQ',
			'onMenuShareWeibo',
			'hideMenuItems',
			'getLocation',
			'openLocation',
		]
	});
  
	wx.ready(function () {
		var nick_name = "{$user.nick_name}";
		
		var title = nick_name+"{$sysconfig.wxtitle}";
		var sharetitle = "{$share.title}";
		if(sharetitle){
			title=sharetitle;
		}
		
		var desc = "{$sysconfig.wxdesc}";
		var sharedesc = "{$share.desc}";
		if(sharedesc){
			desc=sharedesc;
		}
		
		//var hosturl = "{$sysconfig.wxhosturl}";
		var hosturl = "{$wxhosturl}";
		var shareurl = "{$share.url}";
		if(shareurl){
			hosturl=shareurl;
		}
		
		var img = '{:picurl($sysconfig[wximg])}';
		var shareimg = "{$share.img}";
		if(shareimg){
			img=shareimg;
		}
		
		wx.onMenuShareAppMessage({
			title: title, // 分享标题
			desc: desc, // 分享描述
			link: hosturl, // 分享链接
			imgUrl: img, // 分享图标
			type: '', // 分享类型,music、video或link，不填默认为link
			dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
			success: function () { 
				// 用户确认分享后执行的回调函数
				$.ajax({
					type:'POST',
					url:"__SELF__",
					data:{page:window.location.href},
					dataType:"json",
					success:function(res){
						
					}
				})
				alert("分享成功！");
				//document.getElementById('mcover').style.display='none';
			},
			cancel: function () { 
				// 用户取消分享后执行的回调函数
			}
		});
		
		wx.onMenuShareTimeline({
			title: title, // 分享标题
			link: hosturl, // 分享链接
			imgUrl: img, // 分享图标
			success: function () { 
				// 用户确认分享后执行的回调函数
				$.ajax({
					type:'POST',
					url:"__SELF__",
					data:{page:window.location.href},
					dataType:"json",
					success:function(res){
						
					}
				})
				alert("分享成功！");
				//document.getElementById('mcover').style.display='none';
			},
			cancel: function () { 
				// 用户取消分享后执行的回调函数
			}
		});
		
		wx.onMenuShareQQ({
			title: title, // 分享标题
			desc: desc, // 分享描述
			link: hosturl, // 分享链接
			imgUrl: img, // 分享图标
			success: function () {
				$.ajax({
					type:'POST',
					url:"__SELF__",
					data:{page:window.location.href},
					dataType:"json",
					success:function(res){
						
					}
				})
				alert("分享成功！");
			   // 用户确认分享后执行的回调函数
			},
			cancel: function () { 
			   // 用户取消分享后执行的回调函数
			}
		});
	});
</script>
</head>

<body>

	{__CONTENT__}
</body>
</html>
<script>
	var swiper1 = new Swiper('.home_banner .swiper-container',{
		pagination:'.home_banner .swiper-pagination',
		paginationClickable:true,
		autoplay:5000,
		autoplayDisableOnInteraction:false,
	});
	
	var swiper2 = new Swiper('.home_big_sort .swiper-container', {
        slidesPerView:4,
        spaceBetween:0,
        freeMode:true
    });
	
	$(function(){
		//单行应用@Mr.Think
		var _wrap=$('ul.line');//定义滚动区域
		var _interval=4000;//定义滚动间隙时间
		var _moving;//需要清除的动画
		_wrap.hover(function(){
			clearInterval(_moving);//当鼠标在滚动区域中时,停止滚动
		},function(){
		_moving=setInterval(function(){
			var field=_wrap.find('li:first');//此变量不可放置于函数起始处,li:first取值是变化的
			var _h=field.height();//取得每次滚动高度
			field.animate({'marginTop':-_h+'px'},600,function(){
			field.css('marginTop',0).appendTo(_wrap);
		  })
		},_interval)//滚动间隔时间取决于_interval
		}).trigger('mouseleave');//函数载入时,模拟执行mouseleave,即自动滚动
	})
	
	var swiper3 = new Swiper('.home_scroll_pro .swiper-container',{
        pagination: '.home_scroll_pro .swiper-pagination',
        slidesPerView:3,
        paginationClickable: true,
        spaceBetween:20
    });
	
	var swiper4 = new Swiper('.home_scroll_pro1 .swiper-container',{
        pagination: '.home_scroll_pro1 .swiper-pagination',
        slidesPerView:3,
        paginationClickable: true,
        spaceBetween:20
    });
	
</script>