<style>
.red{color:#ff0000;}
.self_label{display:inline-block;margin-right:17px;margin-bottom:11px;}
textarea.form-control{height:100px;}
</style>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading">设计师设置</h3>
		
			<form class="form-horizontal cs_ajax_form" method="post" action="">
				<fieldset>
					<volist name='config' id='val'>
					<if condition="$val[field_type] eq 'text'">
						<div class="form-group">
							<label for="u_fname" class="control-label col-sm-2">{$val.ftitle}</label>
							<div class="col-sm-3">
								<textarea name="{$val.fkey}" class="input-xlarge form-control">{$val.fval}</textarea>
							</div>
							<div>{$val.fdesc}</div>
						</div>
					<else/>
						<div class="form-group">
							<label for="u_fname" class="control-label col-sm-2">{$val.ftitle}</label>
							<div class="col-sm-3">
								<input name="{$val.fkey}" class="input-xlarge form-control" type="text" value="{$val.fval}">
							</div>
							<div>{$val.fdesc}</div>
						</div>
					</if>
					</volist>
					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-2">
							<button href="" class="btn btn-default" type="submit">确认并保存</button>
						</div>
					</div>
				</fieldset>
			</form>
    </div>
</div> 

<script type="text/javascript">
function purviewgroupchk(obj){
	var prt = $(obj).parents('.purviewwrap');
	var chk = prt.find('input.purview').length == prt.find('input.purview:checked').length;
	var grp = prt.find('.purviewgroup');
	if(chk) grp.attr('checked', 'checked');
	else grp.removeAttr('checked');
}
$('.purviewgroup').each(function(){
	purviewgroupchk(this);
	$(this).bind('click', function(){
		var obj = $(this);
		var pls = obj.parents('.purviewwrap').find('.purview');
		if(obj.is(':checked')) pls.attr('checked', 'checked');
		else pls.removeAttr('checked');
	});
});
$('.purview').bind('click', function(){
	purviewgroupchk(this);
});
</script>
	