<div class="store_decoration_release">
	<form action="{:U('')}">
		<input type="hidden" name="user_id" value="{$get.user_id}" />
		<div class="mui-input-group">
			<div class="mui-input-row right-after">
				<label>跟进人</label>
				<select name="admin_id">
					<option value="">请选择</option>
					<volist name="list" id="vo">
						<option value="{$vo.admin_id}">{$vo.admin_name}</option>
					</volist>
				</select>
			</div>
		</div>
		
		<div class="apply_management_textarea" style="margin-bottom:10px">
			<textarea name="designate_remark" rows="3" placeholder="备注"></textarea>
		</div>
		
		<div class="btn"><a href="javascript:;" class="mui-btn mui-btn-block mui-btn-primary" id="btn_submit">提交</a></div>
	</form>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('#btn_submit').bind('click', function(){
		var form = $(this).parents('form')
		mui.post(form.attr('action'),form.serialize(),function(data){
				mui.toast(data.info);
				if(data.url){
					window.location.href = data.url
				}
			},'json'
		);
	})
});
</script>