<volist name="list" id="vo">
	<tr class="rowlink">
		<td><input type="checkbox" value="{$vo.goods_id}" class="checkid" name="checkid[]"></td>
		<td><notempty name="vo.goods_image"><img height="37" src="__UPLOAD__/{$vo.goods_image}"/></notempty></td>
		<td>{$vo.goods_sn}</td>
		<td>{$vo.goods_name}<eq name="vo.is_self_sale" value="1"><font color="red">（自营商品）</font></eq></td>
		<td>{$vo.cat_name}</td>
		<td>{$vo.brand_name}</td>
		<td>
			<eq name="vo.is_custom" value="1">
				<font color="red">是</font>
			<else/>
				<font color="green">否</font>
			</eq>
		</td>
		<td>{$vo.sort_order}</td>
		<td>{:date('Y-m-d', $vo[add_time])}</td>
		<td>
			<a href="{:U('add', array('goods_id'=>$vo[goods_id]))}" class="cs_del_confirm" cs_tip="确定添加？">添加</a>
			<a class="cs_ajax_link" href="{:U('product', array('goods_id'=>$vo[goods_id]))}">查看货品</a>
		</td>
	</tr>
</volist>