<div class="col-sm-12 col-md-12">
       <div class="well clearfix">
		<form class="form-horizontal cs_ajax_form" method="get" action="{:U('')}">
           <div class="pull-left">
			商品名称:
			<input type="text" class="form-control input-sm" placeholder="名称" style="display:inline-block;width:auto;" value="{$get.keyword}" name='keyword'/>
			<button class="btn btn-default btn-sm"  style='margin-left:20px;' type="submit">查询</button>
		</div>
           </form>
       </div>
	<div class="row sepH_c">
		<div class="col-sm-12 col-md-12">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>货品图片</th>
						<th>货品名称</th>
						<th>优惠价</th>
						<th>原价</th>
						<th>货品重量</th>
						<th>库存数量</th>
						<th>预警数量</th>
					</tr>
				</thead>
				<tbody id='tblc'>
					<volist name="list" id="vo">
						<tr class="rowlink line_sel" distributor_product_id="{$vo.id}" product_name="{$vo.product_name}">
							<td>
								<notempty name="vo.product_image">
									<img src="__UPLOAD__/{$vo.product_image}" height="40" border="0">
								</notempty>
							</td>
							<td>{$vo.product_name}</td>
							<td>{$vo.product_price}</td>
							<td>{$vo.market_price}</td>
							<td><gt name="vo.product_weight" value="0">{$vo.product_weight}kg</gt></td>
							<td>{$vo.stock_num}</td>
							<td>{$vo.notify_num}</td>
						</tr>
					</volist>
				</tbody>
			</table>
			<div id="pwrap">{$pager}</div>
		</div>
	</div>
</div>

<script type="text/javascript">
var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
//给父页面传值
$('.line_sel').on('click', function(){
	var obj = parent.$('#select_wrap');
	obj.find('input[name=distributor_product_id]').val($(this).attr('distributor_product_id'));
	obj.find('input[name=product_name]').val($(this).attr('product_name'));
    parent.layer.close(index);
});
</script>