<div class="platform_analysis">
    <!--<a href="javascript:;" id="click" style="text-align:center; display:block; line-height: 40px; font-size:15px;">筛选</a>-->
    <div class="shop_analysis_hd">
        <dl>
            <dt><img src="{$distributorInfoFind[distributor_image]}" width="100" height="100"></dt>
            <dd>
                <h2>{$distributorInfoFind[distributor_name]}</h2>
                <a href="tel:">{$distributorInfoFind[distributor_tel]}</a>
            </dd>
            <dt><p>{$distributorInfoFind[region_name]}</p></dt>
        </dl>
    </div>
    <div class="platform_analysis_hd">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th width="40%" align="left">数据类型</th>
                <th width="20%" align="center"><!--昨日-->{$showFrontName}</th>
                <th width="20%" align="center"><!--今日-->{$showToName}</th>
                <th width="20%" align="center">对比</th>
            </tr>
            </thead>
            <tbody>
                <volist name="list_front_to_value" id="vo">
                    <tr>
                        <td align="left">{$vo[title]}</td>
                        <td align="center">{$vo[front_value]}</td>
                        <td align="center">{$vo[to_value]}</td>
                        <td align="center">{$vo[diff_value]}</td>
                    </tr>
                </volist>
            </tbody>
        </table>
    </div>
    <div class="platform_analysis_bd">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell"><a class="right-after" href="#">店铺访问排名</a></li>
            <li class="mui-table-view-cell"><a class="right-after" href="#">代理商排名</a></li>
            <li class="mui-table-view-cell"><a class="right-after" href="#">店铺销售排名</a></li>
            <li class="mui-table-view-cell"><a class="right-after" href="#">客服排名</a></li>
            <li class="mui-table-view-cell"><a class="right-after" href="#">分销员排名</a></li>
            <li class="mui-table-view-cell"><a class="right-after" href="#">业务员排名</a></li>
            <li class="mui-table-view-cell"><a class="right-after" href="#">会员数量排名</a></li>
            <li class="mui-table-view-cell"><a class="right-after" href="#">会员积分排名</a></li>
            <li class="mui-table-view-cell"><a class="right-after" href="#">作者排名</a></li>
            <li class="mui-table-view-cell"><a class="right-after" href="#">设计师排名</a></li>
            <li class="mui-table-view-cell"><a class="right-after" href="#">热卖TOP10</a></li>
            <li class="mui-table-view-cell"><a class="right-after" href="#">购物车排名</a></li>
            <li class="mui-table-view-cell"><a class="right-after" href="#">收藏产品排名</a></li>
        </ul>
    </div>
</div>
<div class="filter_new_pop">
    <form action="{:U('')}" method="post">
        <input type="hidden" name="distributor_id" value="{$distributor_id}"/>
        <h2>前日期</h2>
        <ol>
            <li><span>开始时间：</span><input placeholder="请选择时间" name="front_start_time" value="{$front_start_time}" type="text" readonly class="time input-class" id="StartTime1" data-options='{}'></li>
            <li><span>结束时间：</span><input placeholder="请选择时间" name="front_end_time" value="{$front_end_time}" type="text" readonly class="time input-class" id="EndTime1" data-options='{}'></li>
        </ol>
        <h2>后日期</h2>
        <ol>
            <li><span>开始时间：</span><input placeholder="请选择时间" name="to_start_time" value="{$to_start_time}" type="text" readonly class="time input-class" id="StartTime" data-options='{}'></li>
            <li><span>结束时间：</span><input placeholder="请选择时间" name="to_end_time" value="{$to_end_time}" type="text" readonly class="time input-class" id="EndTime" data-options='{}'></li>
        </ol>
        <div class="btn">
            <a href="javascript:;" class="mui-btn mui-btn-block mui-btn-default">清除筛选</a>
            <input type="submit" value="完成" class="mui-btn mui-btn-block mui-btn-primary input-button-class"/>
        </div>
    </form>
</div>
<div class="mask"></div>
<link rel="stylesheet" href="__PUBLIC__/home/css/mui.picker.min.css">
<script type="text/javascript" src="__PUBLIC__/home/js/mui.picker.min.js"></script>
<script type="text/javascript">
    (function ($) {
        $.init();
        var btns = $('.time');
        btns.each(function (i, btn) {
            btn.addEventListener('tap', function () {
                var optionsJson = this.getAttribute('data-options') || '{}';
                var options = JSON.parse(optionsJson);
                var id = this.getAttribute('id');
                /*
                 * 首次显示时实例化组件
                 * 示例为了简洁，将 options 放在了按钮的 dom 上
                 * 也可以直接通过代码声明 optinos 用于实例化 DtPicker
                 */
                //var picker = new $.DtPicker(options);
                var picker = new $.DtPicker({"type": "date"});
                picker.show(function (rs) {
                    /*
                     * rs.value 拼合后的 value
                     * rs.text 拼合后的 text
                     * rs.y 年，可以通过 rs.y.vaue 和 rs.y.text 获取值和文本
                     * rs.m 月，用法同年
                     * rs.d 日，用法同年
                     * rs.h 时，用法同年
                     * rs.i 分（minutes 的第二个字母），用法同年
                     */
                    btn.value = rs.text;
                    picker.dispose();
                });
            }, false);
        });
    })(mui);
    app.setTitleRight('筛选', 'showAppSidebar');
    function showAppSidebar(){
        $(".filter_new_pop").addClass("on");
        $(".mask").fadeIn();
    }
    $(function () {

        $('input[type=submit]').click(function () {
            var front_start_time = $('input[name=front_start_time]').val();
            var front_end_time = $('input[name=front_end_time]').val();
            var to_start_time = $('input[name=to_start_time]').val();
            var to_end_time = $('input[name=to_end_time]').val();
            if (front_start_time) {
                if (front_end_time == "") {
                    mui.toast('请选择前日期结束时间');
                    return false;
                } else if (compareDate(front_start_time, front_end_time) == false) {
                    mui.toast('请重新选择前日期时间');
                    return false;
                }
            }
            if (to_start_time) {
                if (to_end_time == "") {
                    mui.toast('请选择后日期结束时间');
                    return false;
                } else if (compareDate(to_start_time, to_end_time) == false) {
                    mui.toast('请重新选择后日期时间');
                    return false;
                }
                return true;
            }
        });

        $("#click").click(function () {
            $(".filter_new_pop").addClass("on");
            $(".mask").fadeIn();
        });

        $(".filter_new_pop ul li a").click(function () {
            $(this).addClass("on");
        });

        $(".mask").click(function () {
            $(".filter_new_pop").removeClass("on");
            $(".mask").fadeOut();
        });

        $(".filter_new_pop a.mui-btn-default").click(function () {
            $(".filter_new_pop ul li a").removeClass("on");
            $(".input-class").val('');
        });

    })
</script>