<!-------头部开始----->
<include file="Public/header"/>
<!-------头部结束----->





<!-------我推荐的人开始----->
<div class="main w1200">
	<div class="site_position"><a href="{:U('index/index/index')}">首页</a><span>></span><a href="{:U('user/index/index')}">会员中心</a><span>></span>我推荐的人</div>
	<div class="vip clearfix">
		<include file="Public/user_sidebar"/>
		<div class="vip_r fr">
			<div class="my_password">
				<div class="tabmenu">
					<ul class="tab pngFix">
						<li class="on"><a href="javascript:;">修改密码</a></li>
					</ul>
				</div>
				<form action="{:U('')}" method="post" onSubmit="">
					<ul class="change_password">
						<li><span>旧&nbsp;&nbsp;密&nbsp;码</span><input name="old_password" type="password"></li>
						<li><span>新&nbsp;&nbsp;密&nbsp;码</span><input name="password" type="password"></li>
						<li><span>确认密码</span><input name="password2" type="password"></li>
						<li><span>验&nbsp;&nbsp;证&nbsp;码</span><input name="code" type="text" class="yz_code"><img id="verify_c" src="{:U('verify_c',array())}"><em>看不清？<a class="ch_code" href="javascript:;">换一张</a></em></li>
						<li><button type="button" id="btn_submit">提交</button></li>
					</ul>
				</form>
			</div>
		</div>
	</div>
</div>
<!-------我推荐的人结束----->



<!-------底部开始----->
<include file="Public/footer"/>
<!-------底部结束----->

<script type="text/javascript">
$(document).ready(function(){
	//提交咨询
	$('#btn_submit').click(function(){
		if(!$("input[name='old_password']").val()){
			layer.open({time:1,content:'旧密码不能为空'});return false;
		}
		if(!$("input[name='password']").val()){
			layer.open({time:1,content:'新密码不能为空'});return false;
		}
		if($("input[name='password2']").val() != $("input[name='password']").val()){
			layer.open({time:1,content:'确认密码不正确'});return false;
		}
		var form = $(this).parents('form');
		$.post(form.attr('action'), form.serialize(), function(d){
			layer.open({time:1,content:d.info});
			if(d.status == 1){
				form[0].reset();
			}
		}, 'json');
	});
	
	// 验证码生成
	$('.ch_code').click(function(){  
		var url = "{:U('verify_c',array('random'=>mt_rand()))}";
		$('#verify_c').attr("src", url+'&random='+Math.random());
	});
});
</script>