<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading">分类列表
			<a id="rec_add" href="{:U('add')}" class="btn btn-info btn-sm alink_r">添加分类</a>
			<div style="clear:both"></div>
		</h3>
		<div class="row sepH_c">
			<div class="col-sm-12 col-md-12">
				<table class="table_vam table table-striped table-bordered">
                    <thead>
                        <tr>
							<th>分类名称</th>
							<th>是否显示</th>
							<th>排序</th>
							<th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
						<volist name="list" id="vo">
							<tr class="rowlink">
							    <td>{$vo.cat_name}</td>
								<td><eq name="vo.is_show" value="1">是<else/>否</eq></td>
								<td>{$vo.sort_order}</td>
								<td>
									<a href="{:U('edit', array('id'=>$vo[cat_id]))}">编辑</a>
									<a href="{:U('del', array('id'=>$vo[cat_id]))}" class="cs_del_confirm" cs_tip="确定删除？">删除</a>
								</td>
							</tr>
						</volist>
                    </tbody>
                </table>
			</div>
		</div>
		
		
	</div>
</div>