<div class="exchange_review">
	<div class="exchange_review_hd">
		<form action="{:U('')}">
			<input type="hidden" name="type" value="{$get.type}" />
			<div class="mui-input-row mui-search">
				<input type="search" name="keyword" value="{$get.keyword}" class="mui-input-clear" placeholder="订单搜索">
			</div>
		</form>
	</div>
	<div class="exchange_review_bd_new">
		<div id="slider" class="mui-slider mui-fullscreen">
			<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
				<a class="mui-control-item <eq name="get.type" value="1">mui-active</eq>" href="#item1mobile">待审核</a>
				<a class="mui-control-item <eq name="get.type" value="2">mui-active</eq>" href="#item2mobile">已审核</a>
			</div>
			<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>
			<div class="mui-slider-group">
				<div id="item1mobile" class="mui-slider-item mui-control-content <eq name="get.type" value="1">mui-active</eq>">
					<div id="scroll1" class="mui-scroll-wrapper">
						<php>$list = $wait_list;</php>
						<empty name="list">
							<p style="text-align:center;color:#999999;padding:20px;">暂无相关记录</p>
						<else/>
							<div class="mui-scroll" type="1" p="2">
								<div class="div">
									<include file="Finance/Point/_index"/>
								</div>
							</div>
						</empty>
					</div>
				</div>
				<div id="item2mobile" class="mui-slider-item mui-control-content <eq name="get.type" value="2">mui-active</eq>">
					<div id="scroll2" class="mui-scroll-wrapper">
						<php>$list = $checked_list;</php>
						<empty name="list">
							<p style="text-align:center;color:#999999;padding:20px;">暂无相关记录</p>
						<else/>
							<div class="mui-scroll" type="2" p="2">
								<div class="div">
									<include file="Finance/Point/_index"/>
								</div>
							</div>
						</empty>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="__PUBLIC__/home/js/mui.pullToRefresh.js"></script>
<script src="__PUBLIC__/home/js/mui.pullToRefresh.material.js"></script>
<script>
	mui.init();
	
	var keyword = "{$get.keyword}";
	var city = "{$get.city}";
	var store_id = "{$get.store_id}";
	
	(function($) {
		//阻尼系数
		var deceleration = mui.os.ios?0.003:0.0009;
		$('.mui-scroll-wrapper').scroll({
			bounce: false,
			indicators: true, //是否显示滚动条
			deceleration:deceleration
		});
		$.ready(function() {
			//循环初始化所有下拉刷新，上拉加载。
			$.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
				$(pullRefreshEl).pullToRefresh({
					up: {
						callback: function() {
							var self = this;
							var jqobj = jQuery(pullRefreshEl);
							
							var type = jqobj.attr('type');
							var p = jqobj.attr('p');
							
							var data = {
								type:type,
								keyword:keyword,
								city:city,
								store_id:store_id,
								p:p
							};
							mui.post("{:U('list')}",data,function(data){
									//服务器返回响应，根据响应结果，分析是否登录成功；
									if(data.html != ''){
										jqobj.attr('p', data.p);
										var list = jqobj.find('.div');
										list.append(data.html);
										self.endPullUpToRefresh();
									}else{
										self.endPullUpToRefresh(true);
									}
								},'json'
							);
						}
					}
				});
			});
		});
		
		var btns = $('.time');
		btns.each(function(i, btn) {
			btn.addEventListener('tap', function() {
				var optionsJson = this.getAttribute('data-options') || '{}';
				var options = JSON.parse(optionsJson);
				var id = this.getAttribute('id');
				/*
				 * 首次显示时实例化组件
				 * 示例为了简洁，将 options 放在了按钮的 dom 上
				 * 也可以直接通过代码声明 optinos 用于实例化 DtPicker
				 */
				var picker = new $.DtPicker(options);
				picker.show(function(rs) {
					/*
					 * rs.value 拼合后的 value
					 * rs.text 拼合后的 text
					 * rs.y 年，可以通过 rs.y.vaue 和 rs.y.text 获取值和文本
					 * rs.m 月，用法同年
					 * rs.d 日，用法同年
					 * rs.h 时，用法同年
					 * rs.i 分（minutes 的第二个字母），用法同年
					 */
					btn.value = rs.text;
					
					picker.dispose();
				});
			}, false);
		});
	})(mui);
</script>