<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading"><gt name="info.source_id" value="0">编辑来源<else/>添加来源</gt></h3>
		<form class="form-horizontal cs_ajax_form" action="{:U('')}" method="post">
			<input type="hidden" name="source_id" value="{$info.source_id}" />
			<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-2">名称</label>
					<div class="col-sm-6 col-md-6">
						<input name="source_name" class="input-xlarge form-control" type="text" value="{$info.source_name}">
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-2">
						<button class="btn btn-default" type="submit">确认并保存</button>
					</div>
				</div>
			</fieldset>
		</form>
    </div>
</div>