
<div>
    <div class="col-sm-12 col-md-12">
        <h3 class="heading">管理员增加</h3>
        <php>$action=$info['admin_id'] > 0 ? U('edit', array('id'=>$info['admin_id'])) : U('add');</php>
			<form class="form-horizontal cs_ajax_form" method="post" action="{$action}">
				<fieldset>
					<div class="form-group">
						<label for="u_username" class="control-label col-sm-2">管理员账号</label>
						<div class="col-sm-8">
							<input name="username" class="input-xlarge form-control" type="text" value="{$info.username}" placeholder="请输入5-15位英文字母开头，英文字母或数字的账号">
						</div>
					</div>
					<div class="form-group">
						<label for="u_fname" class="control-label col-sm-2">姓名</label>
						<div class="col-sm-8">
							<input name="name" class="input-xlarge form-control" type="text" value="{$info.admin_name}">
						</div>
					</div>
					<div class="form-group">
						<label for="u_fname" class="control-label col-sm-2">角色</label>
						<div class="col-sm-8">
							<select name="role_id" class="input-xlarge form-control">
								<option value="">请先择</option>
								<volist name="role_list" id="vo">
									<option value="{$vo.role_id}" {:m_selected($vo['role_id'], $info['role_id'])}>
										{$vo.role_name}</option>
								</volist>
							</select>
						</div>
					</div>
					<!--<div class="form-group">
						<label for="u_fname" class="control-label col-sm-2">OA角色</label>
						<div class="col-sm-8">
							<select name="oa_role_id" class="input-xlarge form-control">
								<option value="0">请先择</option>
								<volist name="oa_role_list" id="vo">
									<option value="{$vo.role_id}" {:m_selected($vo['role_id'], $info['oa_role_id'])}>
										{$vo.role_name}</option>
								</volist>
							</select>
						</div>
					</div>-->
					<div class="form-group">
						<label for="u_phone" class="control-label col-sm-2">手机</label>
						<div class="col-sm-8">
							<input name="mobile" class="input-xlarge form-control" type="text" value="{$info.mobile}">
						</div>
					</div>
					<div class="form-group">
						<label for="u_email" class="control-label col-sm-2">Email</label>
						<div class="col-sm-8">
							<input name="email" class="input-xlarge form-control" type="text" value="{$info.email}">
						</div>
					</div>
					
					<div class="form-group">
						<label for="u_password" class="control-label col-sm-2">密码</label>
						<div class="col-sm-8">
							<div class="sepH_b">
								<input name="password" class="input-xlarge form-control" type="password">
								<span class="help-block">输入密码</span>
							</div>
							<input name="password2" class="input-xlarge form-control" type="password">
							<span class="help-block">再输一遍密码</span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="u_fname" class="control-label col-sm-2">所属部门</label>
						<div class="col-sm-9">
							<foreach name="department_list" key="ko" item="vo">
								<span style='display:inline-block;width:130px;'>
									<input {:m_checked($vo[department_id], $info['departments'])} class="purview" type="checkbox" name="departments[]" value="{$vo.department_id}">
									{$vo.department_name}
								</span>
							</foreach>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-2">
							<button class="btn btn-default" type="submit">确认并保存</button>
						</div>
					</div>
				</fieldset>
			</form>
    </div>
</div> 
	