<div class="row">
	<div class="col-sm-6 col-md-6">
		<h3 class="heading">菜谱材料
			<a id="rec_add" href="{:U('add')}" class="btn btn-info btn-sm alink_r">添加材料</a>
			<div style="clear:both"></div>
		</h3>
		<div class="row sepH_c">
			<div class="col-sm-12 col-md-12">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th width="50">材料图片</th>
							<th>材料名称</th>
							<th>是否显示</th>
							<th>排序</th>
							<th class="col-md-2 center">操作</th>
						</tr>
					</thead>
					<tbody>
						<volist name="list" id="vo">
							<tr class="rowlink">
								 <td><notempty name="vo.picture"><img src="__UPLOAD__/thumbs/b90/{$vo.picture}" height="32"></notempty></td>
								<td>{$vo.name}</td>
								<td><eq name="vo.is_open" value="1">是<else/>否</eq></td>
								<td>{$vo.sort_order}</td>
								<td style="text-align:center;">
									<a href="{:U('edit', array('label_id'=>$vo[label_id]))}" class="">编辑</a>
									<a href="{:U('del', array('label_id'=>$vo[label_id]))}" class="cs_del_confirm" cs_tip="确定删除？">删除</a>
								</td>
							</tr>
						</volist>
					</tbody>
				</table>
				<div id="pwrap">{$pager}</div>
			</div>
		</div>
	</div>
</div>