<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading">App反馈列表</h3>
		<!-- start搜索 -->
		<div class="well clearfix">
			<div class="pull-left">
			<form class="cs_ajax_form form-inline" action="{:U('')}" method="get">
				
				反馈时间：
				<input type='text' style='width:100px;display:inline;' placeholder="开始时间" value="{$get.start_time}" name='start_time' class='form-control input-sm hy_dp' /> - <input value="{$get.end_time}" placeholder="结束时间" style='width:100px;display:inline;' class='form-control input-sm hy_dp' type='text' name='end_time' />
				<button class="btn btn-default btn-sm">搜索</button>
			</form>
			</div>
		</div>
		<!-- end搜索 -->
		<div class="row sepH_c">
			<div class="col-sm-12 col-md-12">
				<table class="table_vam table table-striped table-bordered">
                    <thead>
                        <tr>
							<th>用户</th>
							<th>内容</th>
							<th>上传凭证</th>
							<th>反馈时间</th>
                        </tr>
                    </thead>
                    <tbody>
						<volist name="list" id="vo">
							<tr class="rowlink">
								<php>$admin = $admin_list[$vo['admin_id']];</php>
								<td>{$admin.admin_name}</td>
								<td><div style="width:300px; word-wrap:break-word">{$vo.content}</div></td>
								<td>
									<volist name="vo.pictures" id="vo2">
										<a href="__UPLOAD__/{$vo2}" target="_blank" style="margin:0 3px"><img src="__UPLOAD__/thumbs/b90/{$vo2}" height="32"></a>
									</volist>
								</td>
								<td>{$vo.add_time|date="Y-m-d H:i:s",###}</td>
							</tr>
						</volist>
                    </tbody>
                </table>
				<div id="pwrap">{$pager}</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="remark" style="width:100%">
	<div class="modal-dialog" style="width:800px;height:auto;">
		<div class="modal-content" id="order_content" style="padding:20px;height:480px; overflow:scroll">
			
		</div>
	</div>
</div>