<div class="row search_page">
	<div class="col-sm-6 col-md-6">
		<h3 class="heading">进货价方案
			<a href="{:U('add')}" class="btn btn-info btn-sm alink_r cs_ajax_link cs_show_modal" cs_id="cs_modal">添加进货价方案</a>
		</h3>
		<div class="row sepH_c">
			<div class="col-sm-12 col-md-12 dataTables_wrapper">
				<table class="table table-striped table-bordered">
					<thead>
						<tr class="sort">
							<th>方案名称</th>
							<th>方案内容</th>
							<th class="center">操作</th>
						</tr>
					</thead>
					<tbody id="tblc">
						<volist name="list" id="vo">
							<tr class="rowlink"> 
								<td>{$vo.distribution_name}</td>
								<td>
									<volist name="vo.distribution_info" id="vo2">
										<p>{$rank_list[$vo2[rank_id]][rank_name]}：{$vo2.discount} %</p>
									</volist>
								</td>
								<td>
									<a class="cs_ajax_link cs_show_modal" cs_id="cs_modal" href="{:U('edit', array('distribution_id'=>$vo['distribution_id']))}">编辑</a>
								</td>
							</tr>
						</volist>
					</tbody>
				</table>
				<div id="pwrap">{$pager}</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="cs_modal" href="{$Think.server.request_uri}">
	<div class="modal-dialog" style="width:600px;">
		<div class="modal-content" style="height:500px;overflow-y:scroll;padding:15px;">
			
		</div>
	</div>
</div>