<script src="__PUBLIC__/wap/js/dropload/dropload.js"></script>
<link href="__PUBLIC__/wap/js/dropload/dropload.css" rel="stylesheet" type="text/css" />
<div class="warp">
	<div class="user_address_list">

		<empty name="list">
			<!-----地址无数据时---->
			<div class="no_data">
				<p>您还没有填写收货地址</p>
				<!--<p><img src="__PUBLIC__/wap/images/icon57.png"></p>-->
			</div>
		<else/>
			<!-----地址有数据时---->
			<div class="more_content">
				<include file="User/Address/_index"/>
			</div>
			<div id="pages" class="more"><a id="load_more" href="javascript:;"><img src="__PUBLIC__/editor/themes/common/loading.gif"></a></div>
			<div class="loading"></div>
		</empty>
		<div class="btn"><a class="weui-btn weui-btn_primary get_page_two" href="{:U('add')}">+添加地址</a></div>
	</div> 
</div>

<script>
function del_addr(address_id,obj){
	var $this = address_id;
	if(address_id<0){return;}
	layer.open({
		content: '确认要删除该地址吗？',
		btn: ['确认', '取消'],
		shadeClose: true,
		yes: function(index){
			var address_id = $this;						
			$.post("{:U('del')}",{id:address_id},function(data){
				layer.open({time:1,content:data.info});
				if(data.status == 1){
					//window.location.reload();
					$(obj).parents('.user_address_item').remove();
					return;
				}
			},'json');
			layer.close(index);
		}, no: function(index){
			layer.close(index);
		}
	});
}

function set_defaddr(id){
	$.post("{:U('addressDef')}",{id:id},function(d){
		//layer.open({time:1,content:data.info});
		if(d.url){
			window.location.href = d.url;
		}

	},'json');
}
</script>

<style type="text/css">
	#pages{display:none; text-align:center;}
	.loading{text-align: center;font-size: 14px;padding:20px 0}
</style>
<script src="__PUBLIC__/js/debug.js"></script>
<script src="__PUBLIC__/js/jquery.infinitescroll.js"></script>
<!--<script type="text/javascript">
	$('.more_content').infinitescroll({
		loading: {
			msgText: "",
			img: "__PUBLIC__/editor/themes/common/loading.gif",
			finishedMsg: '没有新数据了哦...',
			selector: '.loading' //loading选择器
		},
		navSelector: "#pages", //导航的选择器，会被隐藏
		nextSelector: "#load_more", //包含下一页链接的选择器
		itemSelector: ".item", //你将要取回的选项(内容块)
		debug: false, //启用调试信息，若启用必须引入debug.js
		dataType: 'html', //格式要和itemSelector保持一致
		maxPage: 10, //最大加载的页数
			//animate: true, //当有新数据加载进来的时候，页面是否有动画效果，默认没有
		extraScrollPx: 150, //滚动条距离底部多少像素的时候开始加载，默认150
			//bufferPx: 40, //载入信息的显示时间，时间越大，载入信息显示时间越短
		errorCallback: function() { //加载完数据后的回调函数
			
		},
		path: function(index) { //获取下一页方法
			
			var url = "{:U('',array('p'=>'sp'))}";
			url = url.replace('sp', index);
			
			return url;
		},
	}, function(newElements, data, url) { //回调函数
		//console.log(data);
		//alert(url);
	});
</script>-->
<!--<script>
var page=2;
var dropload = $('.integral_bd_bd').dropload({
	scrollArea : window,
	loadDownFn : function(me){
			$.ajax({
				type:'POST',
				url:"{:U('')}",
				data:{p:page},
				dataType:"json",
				success:function(res){
					if(res.html!=''){
						setTimeout(function(){
							$(".point_list").append(res.info);
							// 每次数据加载完，必须重置
							me.resetload();
						},1000);
						page++;
					}else{
						
						// 数据加载完
						//tab1LoadEnd = true;
						// 锁定
						me.lock('down');
						// 无数据
						me.noData();
						me.resetload();
						//dropload.lock('down');
						//dropload.noData();
						
					}
				}
			})
		}
	})
</script>-->