<div class="shop_statistics">
    <dl>
        <dt><img src="__PUBLIC__/home/images/pic1.jpg"></dt>
        <dd>
            <h2>天河分店</h2>
            <p>广州天河区</p>
        </dd>
    </dl>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell"><a href="#">PC流量来源<em>null%</em></a></li>
        <li class="mui-table-view-cell"><a href="#">无线流量来源<em>null%</em></a></li>
        <li class="mui-table-view-cell"><a href="#">访客数<em>null</em></a></li>
        <li class="mui-table-view-cell"><a href="#">会员数<em>null</em></a></li>
        <li class="mui-table-view-cell"><a href="#">浏览量<em>null</em></a></li>
        <li class="mui-table-view-cell"><a href="#">支付金额<em>null</em></a></li>
        <li class="mui-table-view-cell"><a href="#">支付订单数<em>null</em></a></li>
        <li class="mui-table-view-cell"><a href="#">支付买家数<em>null</em></a></li>
        <li class="mui-table-view-cell"><a href="#">转化率<em>null</em></a></li>
    </ul>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell"><a class="right-after" href="#">店铺排名</a></li>
        <li class="mui-table-view-cell"><a class="right-after" href="#">客服排名</a></li>
        <li class="mui-table-view-cell"><a class="right-after" href="#">业务员排名</a></li>
        <li class="mui-table-view-cell"><a class="right-after" href="#">分销员排名</a></li>
        <li class="mui-table-view-cell"><a class="right-after" href="#">会员积分排名</a></li>
        <li class="mui-table-view-cell"><a class="right-after" href="#">设计师排名</a></li>
        <li class="mui-table-view-cell"><a class="right-after" href="#">热卖TOP10</a></li>
        <li class="mui-table-view-cell"><a class="right-after" href="#">购物车产品排名</a></li>
        <li class="mui-table-view-cell"><a class="right-after" href="#">收藏产品排名</a></li>
    </ul>
</div>