<div class="row">
	<div class="col-sm-12 col-md-12">
		<?php $action = $info['material_id'] > 0 ? U('edit',array('id'=>$info['material_id'])):U('add');?>
		<form class="form-horizontal cs_ajax_form" method="post" action="{$action}">
			<input type="hidden" name="material_id" value="{$info.material_id}">
			<input type="hidden" name="is_show" value="1" />
			<h3 class="heading" style="position:fixed; width:73%; z-index:9999; background:#fff; top:40px; padding-top:20px;">
				<gt name="info.material_id" value="0">编辑素材<else/>添加素材</gt>
				<button class="btn btn-default" type="submit" style="float:right; margin-top:3px; margin-right:22px;">确认并保存</button>
			</h3>
			<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-1"></label>
					<div class="col-sm-4">
						
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-1"></label>
					<div class="col-sm-4">
						
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-1"></label>
					<div class="col-sm-4">
						
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-1">素材名称</label>
					<div class="col-sm-8">
						<input id="material_title" name="material_title" class="input-xlarge form-control" type="text"  value="{$info.material_title}">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-1">素材分类</label>
					<div class="col-sm-6 col-md-6">
						<select class="form-control" name="cat_id" id="cat_id">
							<option value="">选择分类</option>
							{$categorys}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-1">设计师</label>
					<div class="col-sm-6 col-md-6">
						<select class="form-control" name="designer_id">
							<option value="">选择设计师</option>
							<volist name="designer_list" id="vo">
								<option value="{$vo.designer_id}" {:m_selected($vo[designer_id], $info[designer_id])}>{$vo.designer_name}</option>
							</volist>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-1">素材标签</label>
					<div class="col-sm-9">
						<foreach name="label_list" key="ko" item="vo">
							<div class="col-sm-12 purviewwrap" style="padding:5px 0;">
								<div class="col-sm-1">
									<label style="display:inline-block;width:120px;"><input class="purviewgroup" type="checkbox" value="{$vo.label_id}"><b>{$vo.label_name}</b></label>
								</div>
								<div class="col-sm-10">
									<foreach name="vo.children" item="vo2">
										<label style='display:inline-block;width:100px;'>
											<input {:m_checked($vo2[label_id], $info[label])} class="purview" type="checkbox" name="label[]" value="{$vo2.label_id}">{$vo2.label_name}
										</label>
									</foreach>
								</div>
							</div>
						</foreach>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-1">素材类型</label>
					<div class="col-sm-11" id="type_list">
						<volist name="spec_list" id="vo">
							<div class="form-group">
								<label class="control-label col-sm-1">{$vo.spec_name}</label>
								<div class="col-sm-4">
									<eq name="vo.spec_type" value="1">
										<select name="material_spec[{$vo.spec_id}]" class="form-control input-xlarge">
											<option value="">请选择</option>
											<volist name="vo.spec_values" id="vo2">
												<option {:m_selected($vo2[is_selected], 1)} value="{$vo2.spec_value}">{$vo2.spec_value}</option>
											</volist>
										</select>
									<else/>
										<input name="material_spec[{$vo.spec_id}]" class="input-xlarge form-control" type="text" value="{$vo.spec_value}">
									</eq>
								</div>
							</div>
						</volist>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-1">下载所需积分</label>
					<div class="col-sm-2">
						<input name="down_points" class="input-xlarge form-control" type="text"  value="{$info.down_points}">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-1">格式</label>
					<div class="col-sm-2">
						<input name="type" class="input-xlarge form-control" type="text"  value="{$info.type}">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-1">模式</label>
					<div class="col-sm-2">
						<select class="form-control" name="pattern">
							<option value="">选择模式</option>
							<option value="1" {:m_selected($info[pattern], 1)}>单图</option>
							<option value="2" {:m_selected($info[pattern], 2)}>多图</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-1">体积</label>
					<div class="col-sm-2">
						<input name="size" class="input-xlarge form-control" type="text"  value="{$info.size}">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-1">排序</label>
					<div class="col-sm-2">
						<input name="sort_order" class="input-xlarge form-control" type="text"  value="{$info.sort_order|default=50}">
					</div>
				</div>
				
				<div class="row" style="margin-top:12px;padding-top:12px;border-top:1px dashed #CCC;">
					<input id="mainpic" name="material_image" type="hidden"/>
				</div>
				<div class="form-group uploadify_field">
					<label class="control-label col-sm-1">素材主图</label>
					<div class="col-sm-4">
						<div class="uploadify" id="file_img"> <span id="uploadButton22" value="素材主图" /></div>
					</div>
				</div>
				<div class="form-group uploadify_field">
					<label class="control-label col-sm-1">素材相册</label>
					<div class="col-sm-10">
						<div id="file_flash" class="uploadify">
							<input type="button" id="J_selectImage" value="批量上传" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-1"></label>
					<div class="col-sm-10">
						<input id="flashpic" name="material_gallery" type="hidden"/>
					</div>
				</div>
				
				<div class="form-group div_flash">
					<label class="control-label col-sm-1">文件</label>
					<div class="col-sm-8" id="media_list">
						<empty name="info.file_list">
							<div style="position:relative">
								<input name="path[]" class="input-xlarge form-control input-xlarge2 path" type="text" value="" readonly="readonly" />
								<input name="file_name[]" class="input-xlarge form-control input-xlarge2" type="text" value="" placeholder="素材名称" />
								<input name="file_size[]" class="input-xlarge form-control input-xlarge2" type="text" value="" placeholder="素材尺寸" />
								<div class="" id="upload_file0"></div>
								<a href="javascript:;" class="glyphicon glyphicon-plus" style="font-size:22px; margin-left:10px; top:3px;" title="添加素材" id="plus" key="2"></a>
							</div>
							<script>
								$(function(){
									add_media(0);
								})
							</script>
						<else/>
							<volist name="info.file_list" id="vo" key="ko">
								<eq name="ko" value="1">
									<div style="position:relative">
										<input name="files[{$vo.file_id}][upload_path]" class="input-xlarge form-control input-xlarge2 path" type="text" value="{$vo.upload_path}" readonly="readonly" />
										<input name="files[{$vo.file_id}][file_name]" class="input-xlarge form-control input-xlarge2" type="text" value="{$vo.file_name}" placeholder="素材名称" />
										<input name="files[{$vo.file_id}][file_size]" class="input-xlarge form-control input-xlarge2" type="text" value="{$vo.file_size}" placeholder="素材尺寸" />
										<div class="" id="upload_file{$ko}"></div>
										<php>$file_count = count($info[file_list]);</php>
										<a href="javascript:;" class="glyphicon glyphicon-plus" style="font-size:22px; margin-left:10px; top:3px;" title="添加素材" id="plus" key="{$file_count + 1}"></a>
									</div>
								<else/>
									<div style="position:relative">
										<input name="files[{$vo.file_id}][upload_path]" class="input-xlarge form-control input-xlarge2 path" type="text" value="{$vo.upload_path}" readonly="readonly" />
										<input name="files[{$vo.file_id}][file_name]" class="input-xlarge form-control input-xlarge2" type="text" value="{$vo.file_name}" placeholder="素材名称" />
										<input name="files[{$vo.file_id}][file_size]" class="input-xlarge form-control input-xlarge2" type="text" value="{$vo.file_size}" placeholder="素材尺寸" />
										<div class="" id="upload_file{$ko}"></div>
										<a href="javascript:;" class="glyphicon glyphicon-minus" style="font-size:22px; margin-left:10px; top:3px;" title="删除素材"></a>
									</div>
								</eq>
								<script>
									$(function(){
										add_media('{$ko}');
										init_path('{$vo.upload_path}','{$vo.file_name}','{$ko}','{$vo.file_size}');
									})
								</script>
							</volist>
						</empty>
					</div>
				</div>
				
				<!--<div class="form-group">
					<label class="control-label col-sm-1">是否显示</label>
					<div class="col-sm-8">
						<label class="radio-inline">
							<input <empty name="info">checked="checked"<else/>{:m_checked($info[is_show],1)}</empty> type="radio" name="is_show" value="1">
							是
						</label>
						<label class="radio-inline">
							<input <notempty name="info">{:m_checked($info[is_show],0)}</notempty> type="radio" name="is_show" value="0">
							否
						</label>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-1">是否推荐</label>
					<div class="col-sm-8">
						<label class="radio-inline">
							<input {:m_checked($info[is_recommend],1)} type="radio" name="is_recommend" value="1">
							是
						</label>
						<label class="radio-inline">
							<input {:m_checked($info[is_recommend],0)} type="radio" name="is_recommend" value="0">
							否
						</label>
					</div>
				</div>-->
				
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-1">
						<button class="btn btn-default" type="submit">确认并保存</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

<css href="__PUBLIC__/uploadify/uploadify.css"/>
<script src="__PUBLIC__/lib/uploadify/jquery.uploadify.js"></script>

<style>
.uploadify-button{background:#3993ba;color:#fff;text-align:center;border-radius:5px;}
.input-xlarge2{width:230px;display:inline-block; margin-left:5px;}
.uploadify{display:inline-block; margin-left:5px;}
.uploadify-queue{margin:0;position:absolute;left:462px;top:-8px;width:280px;}
#media_list .glyphicon{text-decoration:none;}
</style>

<script>
//删除事件
$('.glyphicon-minus').bind('click',function(){
	var obj = $(this).parent();
	obj.remove();
});

function del_media(id){
	var str='<div class="del_path" style="background:#999;color:#fff;display:inline-block;padding:8px 10px;border-radius:5px;margin-left:10px;cursor:pointer;">删除文件</div>';
	$("#upload_file"+id).html('').css({display:'none'});
	$("#upload_file"+id).after(str);
	window.setTimeout(function(){$(".uploadify-queue").remove()},1000);
}

function init_media(id){
	var upload_path = 	'<div style="position:relative">' +
							'<input name="path[]" class="input-xlarge form-control input-xlarge2 path" readonly="readonly" type="text" value="">' +
							'<input name="file_name[]" class="input-xlarge form-control input-xlarge2" type="text" value="" placeholder="素材名称" />' +
							'<input name="file_size[]" class="input-xlarge form-control input-xlarge2" type="text" value="" placeholder="素材尺寸" />' +
							'<div class="upload_file" id="upload_file'+id+'"></div>' +
							'<a href="javascript:;" class="glyphicon glyphicon-minus" style="font-size:22px; margin-left:10px; top:3px;" title="删除素材"></a>' +
						'</div>';
	$('#media_list').append(upload_path);
	
	//删除事件
	$('.glyphicon-minus').bind('click',function(){
		var obj = $(this).parent();
		obj.remove();
	});
	
	$("#upload_file"+id).uploadify({
		swf : '__PUBLIC__/lib/uploadify/uploadify.swf',
		uploader : "{:U('Site/Upload/uploadFile')}",
		fileObjName  : 'Filedata',
		//removeCompleted : true,
		formData        : {},
		buttonText      : '上传文件',   
		onUploadSuccess : function(file, data, response){
			data=jQuery.parseJSON(data)
			init_path(data.path,data.file_name,id)
		}
	})
}

function add_media(id){
	$("#upload_file"+id).uploadify({
		swf : '__PUBLIC__/lib/uploadify/uploadify.swf',
		uploader : "{:U('Site/Upload/uploadFile')}",
		fileObjName  : 'Filedata',
		//removeCompleted : true,
		formData        : {},
		buttonText      : '上传文件',   
		onUploadSuccess : function(file, data, response){
			data=jQuery.parseJSON(data)
			init_path(data.path,data.file_name,id)
		}
	})
}

function del_path(path){
	$.ajax({
		type:'POST',
		url:"{:U('Site/Upload/del_path')}",
		data:{'path':path},
		dataType:"json",
		success:function(res){
			add_media(id);
		}
	})
}

function init_path(path,name,id,size){
	$("#upload_file"+id).prev().prev().prev().val(path);
	$("#upload_file"+id).prev().prev().val(name);
	$("#upload_file"+id).prev().val(size);
	//del_media(id);
	
	/*$(".del_path").click(function(){
		if(window.confirm('您确认要删除该文件')){
			del_path(path)
		}
	})*/
}

$(document).ready(function(){	
	$('#plus').click(function(){
		var key = $(this).attr('key');
		
		init_media(key);
		key = parseInt(key) + 1;
		$(this).attr('key', key);
	});
});
</script>

<script>
$(document).ready(function(){
	var K = KindEditor;
	
	var uploadbutton = K.uploadbutton({
		button : K('#uploadButton22')[0],
		fieldName : 'imgFile',
		url : '{:U("site/upload")}',
		afterUpload : function(data) {
			if (data.error === 0) {
				mainPicShow(data.short_url);
			} else {
				alert(data.message);
			}
		},
		afterError : function(str) {
			alert('自定义错误信息: ' + str);
		}
	});
	uploadbutton.fileBox.change(function(e) {
		uploadbutton.submit();
	});
	K('.ke-upload-area').css({width:'100%', height:'100%'});
	
	var editor2 = K.editor({
		uploadJson : '{:U("site/upload")}',
		allowFileManager : true
	});
	K('#J_selectImage').click(function() {
		editor2.loadPlugin('multiimage', function() {
			editor2.plugin.multiImageDialog({
				clickFn : function(urlList) {
					K.each(urlList, function(i, data) {
						listPicShow(data.short_url);
					});
					editor2.hideDialog();
				}
			});
		});
	});
	
	//初始化显示图片
	<notempty name="info.material_image">
		mainPicShow('/{$info.material_image}');
	</notempty>
	<notempty name="info.material_gallery">
		<volist name="info.material_gallery" id="vo">
			listPicShow('/{$vo}');
		</volist>
	</notempty>
});

function mainPicShow(data){
	var wrap = $('#file_img');
	wrap.children().hide();
	wrap.append('<img src="'+'__UPLOAD__/'+data+'" onload="gresize(this)"/>');
	$('#mainpic').val(data);
	
	$('<a class="btn btn-danger" href="#'+data+'">X</a>')
	.css({'position':'absolute', 'bottom':'1px', 'right':'1px', 'font-size':'12px', 'padding':'3px 5px'})
	.appendTo(wrap).bind('click',function(){
		$('#mainpic').val('');
		var pobj = $(this).parent();
		$(this).remove();
		pobj.children('img').remove();
		pobj.children().show();
	});
}

function listPicShow(data){
	var fp_input = $('#flashpic');
	var fp_input_val = fp_input.val();
	if(fp_input_val.length < 1){
		fp_input_val = '#';
	}
	var t = fp_input_val + data + '#';
	fp_input.val(t);
	
	var ref_obj = $('#file_flash');
	var obj_new = $('<div></div>').css({'width':'130px','height':'130px','border':'1px solid #CCC','padding':'5px','overflow':'hidden','float':'left','margin-right':'15px','position':'relative'}).insertBefore(ref_obj)
	.append('<img src="__UPLOAD__/'+data+'" onload="gresize(this)"/>');
	
	$('<a class="btn btn-danger" href="#'+data+'">X</a>')
	.css({'position':'absolute', 'bottom':'1px', 'right':'1px', 'font-size':'12px', 'padding':'3px 5px'})
	.appendTo(obj_new).bind('click',function(){
		var ci = $(this).attr('href');
		var pobj = $(this).parent().remove();
		
        var flashpic = $('#flashpic'); 
        var a=flashpic.val().replace(ci,'');
		flashpic.val(a);
	});
}

function gresize(obj){
	var w = $(obj).width();
	var h = $(obj).height();
	if(w > h){
		$(obj).css({'height':'100%'});
	} else {
		$(obj).css({'width':'100%'});
	}
}

$(document).ready(function(){	
	$('.uploadify_field .uploadify').css({'width':'130px','height':'130px','border':'1px solid #CCC','padding':'5px','overflow':'hidden'});
});
</script>

<script type="text/javascript">
function purviewgroupchk(obj){
	var prt = $(obj).parents('.purviewwrap');
	var chk = prt.find('input.purview').length == prt.find('input.purview:checked').length;
	var grp = prt.find('.purviewgroup');
	if(chk) grp.attr('checked', 'checked');
	else grp.removeAttr('checked');
}
$('.purviewgroup').each(function(){
	purviewgroupchk(this);
	$(this).bind('click', function(){
		var obj = $(this);
		var pls = obj.parents('.purviewwrap').find('.purview');
		if(obj.is(':checked')) pls.attr('checked', 'checked');
		else pls.removeAttr('checked');
	});
});
$('.purview').bind('click', function(){
	purviewgroupchk(this);
});
</script>

<script>
$(document).ready(function(){
	//类型
	var all_type_list = {:json_encode($all_type_list)};
	var cat_type_list = {:json_encode($cat_type_list)};
	
	$('#cat_id').change(function(){
		var cat_id = $(this).val();
		var type_id = cat_type_list[cat_id];
		
		var type_list = '';
		
		var typeobj = all_type_list[type_id];
		
		$(typeobj).each(function(index,value){
			if(value.spec_type == 1){
				var form_group = '<div class="form-group"><label class="control-label col-sm-1">'+value.spec_name+'</label><div class="col-sm-4"><select name="material_spec['+value.spec_id+']" class="form-control input-xlarge"><option value="">请选择</option>'+value.spec_values+'</select></div></div>';
			}else{
				var form_group = '<div class="form-group"><label class="control-label col-sm-1">'+value.spec_name+'</label><div class="col-sm-4"><input name="material_spec['+value.spec_id+']" class="input-xlarge form-control" type="text" value=""></div></div>';
			}
			type_list += form_group;
		});
		
		$('#type_list').html(type_list);
	});
});
</script>