<div class="financial_management">
	<ul class="mui-table-view">
		<li class="mui-table-view-cell"><a class="right-after" href="{:U('order/custom')}">定制单审核</a></li>
		<li class="mui-table-view-cell"><a class="right-after" href="{:U('finance/capital')}">账户明细</a></li>
		<li class="mui-table-view-cell"><a class="right-after" href="{:U('finance/commission')}">分利明细</a></li>
		<eq name="sys_id" value="1">
			<li class="mui-table-view-cell"><a class="right-after" href="{:U('finance/cashapply')}">提现审核</a></li>
			<li class="mui-table-view-cell"><a class="right-after" href="{:U('finance/grant')}">佣金发放</a></li>
			<li class="mui-table-view-cell"><a class="right-after" href="{:U('finance/point')}">积分兑换审核</a></li>
		</eq>
		<li class="mui-table-view-cell"><a class="right-after" href="{:U('finance/store')}">店铺结算</a></li>
		<li class="mui-table-view-cell"><a class="right-after" href="{:U('finance/history')}">历史结算</a></li>
		<!--<li class="mui-table-view-cell"><a class="right-after" href="{:U('finance/card')}">银行列表</a></li>-->
		<li class="mui-table-view-cell"><a class="right-after" href="{:U('finance/salary')}">人员薪酬结算</a></li>
	</ul>
</div>