<if condition="$list">
    <volist name="list" id="vo">
        <a href="#">
            <dl>
                <dt><img src="{$vo[user_img]}"></dt>
                <dd>
                    <h2>{$vo[user_name]}</h2>
                    <time>会员号：{$vo[user_id]}</time>
                </dd>
                <dt>
                    <span>{$vo[mobile]}</span><p>{$vo[user_type_name]}</p>
                </dt>
            </dl>
        </a>
    </volist>
<else/>
    <p style="text-align:center;color:#999999;padding:40px;">暂无数据</p>
</if>
