<div class="area_manager mui-scroll-wrapper"  id="pullrefresh">
    <div class="mui-scroll">
        <div class="area_manager_hd">
            <form action="{:U('')}" method="post">
                <div class="mui-input-row mui-search">
                    <input type="search" name="content" value="{$info[content]}" class="mui-input-clear" placeholder="搜索">
                </div>
            </form>
        </div>
        <div class="area_manager_bd load-data">
            <include file="Platform/Regionalmanager/_index"/>
        </div>
    </div>
</div>
<if condition='$count gt count($list)'>
    <script src="__PUBLIC__/home/js/mui.pullToRefresh.js"></script>
    <script src="__PUBLIC__/home/js/mui.pullToRefresh.material.js"></script>
    <script type="text/javascript">
        var page = 2;
        var content = "{$info[content]}";
        var user_type = "{$info[user_type]}";
        mui.init({
            pullRefresh: {
                container: '#pullrefresh',
                up: {
                    contentrefresh: '正在加载...',
                    contentnomore: '没有更多数据了',
                    callback: pullupRefresh
                }
            }
        });

        function pullupRefresh() {
            var $this = this;
            mui.ajax("{:U('')}", {
                type: 'post',
                data: {p: page, content: content,user_type: user_type},
                dataType: 'json',
                success: function (res) {
                    if (res.html != '') {
                        $(".load-data").append(res.html);
                        page++;
                        $this.endPullupToRefresh();
                    } else {
                        $this.endPullupToRefresh(true);
                    }
                }
            })
        }
    </script>
    <else/>
    <script type="text/javascript">
        mui('.mui-scroll-wrapper').scroll({});
    </script>
</if>
<script type="text/javascript">
    mui.init();
    mui('body').on('tap', 'a.link', function () {
        var href = this.getAttribute('href');
        if (!mui.os.plus) {
            location.href = href;
            return;
        }
    });
</script>