<div class="install_master_detaild">
    <dl>
        <dt><img src="{$designerFind[designer_image]}"></dt>
        <dd>
            <h2>{$designerFind[designer_name]}</h2>
            <p>编号:{$designerFind[designer_id]}</p>
        </dd>
    </dl>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell"><a href="#">安装数量<em>null</em></a></li>
        <li class="mui-table-view-cell"><a href="#">好评率<em>null%</em></a></li>
    </ul>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell"><a class="right-after" href="#">设计订单</a></li>
    </ul>
</div>
