<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading"><?php if($info['id']){?>编辑<?php }else{?>添加<?php }?></h3>
			<form class="form-horizontal cs_ajax_form" method="post" action="{:U('lists_edit')}">
				<fieldset>
					<input type="hidden" name="id" value="{$info.id}">
					<div class="form-group">
						<label class="control-label col-sm-2">所属组别</label>
						<div class="col-sm-8">
							<select name="group_id" class="form-control" required>
                            	<option value="">请选择组别</option>
                                <?php
                                if($group)
                                {
                                	foreach($group as $v)
                                    {
                                ?>
                                <option value="{$v.id}" <?php if($info['group_id'] == $v['id']){?>selected<?php }?>>{$v.group_name}</option>
                                <?php
                                	}
                                }
                                ?>
                            </select>
						</div>
					</div>
                    <div class="form-group">
						<label class="control-label col-sm-2">所属岗位</label>
						<div class="col-sm-8">
							<select name="department_id" class="form-control" required>
                            	<option value="">请选择岗位</option>
                            </select>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-2">姓名</label>
						<div class="col-sm-8">
							<input name="fullname" class="input-xlarge form-control" type="text" value="{$info.fullname}" required>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-2">电话</label>
						<div class="col-sm-8">
							<input name="mobile" class="input-xlarge form-control" type="text" value="{$info.mobile}" required>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-2">销售额</label>
						<div class="col-sm-8">
							<input name="mobile" class="input-xlarge form-control" type="text" value="{$info.mobile}" required>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-2">工资</label>
						<div class="col-sm-8">
							<input name="wages" class="input-xlarge form-control" type="text" value="{$info.wages}" required>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-2">提成奖励</label>
						<div class="col-sm-8">
							<input name="commission" class="input-xlarge form-control" type="text" value="{$info.commission}" required>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-2">差旅费</label>
						<div class="col-sm-8">
							<input name="travel_expense" class="input-xlarge form-control" type="text" value="{$info.travel_expense}" required>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-2">办公费</label>
						<div class="col-sm-8">
							<input name="office_expenses" class="input-xlarge form-control" type="text" value="{$info.office_expenses}" required>
						</div>
					</div>
                    <div class="form-group">
						<label for="u_fname" class="control-label col-sm-2">业绩创收</label>
						<div class="col-sm-8">
							<input name="achievement" class="input-xlarge form-control" type="text" value="{$info.achievement}" required>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-2">
							<button href="" class="btn btn-default" type="submit">确认并保存</button>
						</div>
					</div>
				</fieldset>
			</form>
    </div>
</div> 
<script>
$(function (){ 
	// 选择组别显示岗位
	$('select[name=group_id]').change(function (){ 
		$.post('{:U("get_department")}','group_id='+$('select[name=group_id]').val(),function(data)
		{ 
			$('select[name=department_id]').html('<option value="">请选择岗位</option>'+data);
		});
	});
	// 
	$.post('{:U("get_department")}','group_id={$info.group_id}&department={$info.department_id}',function(data)
	{ 
		$('select[name=department_id]').html('<option value="">请选择岗位</option>'+data);
	});
})
</script>