<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading">区域列表
			<a href="{:U('add')}" class="btn btn-info btn-sm alink_r">添加区域</a>
			<div style="clear:both"></div>
		</h3>
		<div class="row sepH_c">
			<div class="col-sm-12 col-md-12">
				<table class="table_vam table table-striped table-bordered">
                    <thead>
                        <tr>
							<th>区域名称</th>
							<th>排序</th>
							<th>负责人</th>
							<th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
						<volist name="list" id="vo">
							<php>$admin = $admin_list[$vo['admin_id']]; </php>
							<tr class="rowlink">
							    <td>{$vo.area_name}</td>
								<td>{$vo.sort_order}</td>
								<td>{$admin.admin_name}</td>
								<td>
									<a href="{:U('edit', array('id'=>$vo[area_id]))}">编辑</a>
									<a href="{:U('admin', array('id'=>$vo[area_id]))}">设置负责人</a>
									<a href="{:U('del', array('id'=>$vo[area_id]))}" class="cs_del_confirm" cs_tip="确定删除？">删除</a>
								</td>
							</tr>
						</volist>
                    </tbody>
                </table>
				<div id="pwrap">{$pager}</div>
			</div>
		</div>
		
		
	</div>
</div>