<div class="warp">
	<div class="ranking">
		<div id="slider" class="mui-slider mui-fullscreen">
			<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
				<a class="mui-control-item  mui-active" href="#item1mobile">文章排行</a>
				<a class="mui-control-item" href="#item2mobile">视频排行</a>
				<a class="mui-control-item" href="#item3mobile">打赏排行</a>
			</div>
			<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
			<div class="mui-slider-group">
				<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
					<div id="scroll1" class="mui-scroll-wrapper">
						<empty name="video_list">
							<p style="text-align:center;color:#999999;padding:20px;">暂无相关文章</p>
						<else/>
							<div class="mui-scroll" type="0" p="2">
								<div class="mui-table-view">
									<include file="User/Top/_news"/>
								</div>
							</div>
						</empty>
					</div>
				</div>
				<div id="item2mobile" class="mui-slider-item mui-control-content">
					<div id="scroll2" class="mui-scroll-wrapper">
						<empty name="video_list">
							<p style="text-align:center;color:#999999;padding:20px;">暂无相关视频</p>
						<else/>
							<div class="mui-scroll" type="1" p="2">
								<div class="mui-table-view">
									<include file="User/Top/_video"/>
								</div>
							</div>
						</empty>
					</div>
				</div>
				<div id="item3mobile" class="mui-slider-item mui-control-content">
					<div id="scroll3" class="mui-scroll-wrapper">
						<empty name="video_list">
							<p style="text-align:center;color:#999999;padding:20px;">暂无相关记录</p>
						<else/>
							<div class="mui-scroll" p="2">
								<div class="mui-table-view">
									<include file="User/Top/_index"/>
								</div>
							</div>
						</empty>
						<!--<div class="mui-scroll">
							<ul class="cooking">
								<li>
									<a href="#">
										<h2><span>糖藕粑粑</span><em>第1名</em></h2>
										<p><img src="__PUBLIC__/news/images/pic9.jpg"></p>
										<h3><img src="__PUBLIC__/news/images/pic6.jpg">王强</h3>
									</a>
								</li>
								<li>
									<a href="#">
										<h2><span>糖藕粑粑</span><em>第2名</em></h2>
										<p><img src="__PUBLIC__/news/images/pic9.jpg"></p>
										<h3><img src="__PUBLIC__/news/images/pic6.jpg">王强</h3>
									</a>
								</li>
								<li>
									<a href="#">
										<h2><span>糖藕粑粑</span><em>第3名</em></h2>
										<p><img src="__PUBLIC__/news/images/pic9.jpg"></p>
										<h3><img src="__PUBLIC__/news/images/pic6.jpg">王强</h3>
									</a>
								</li>
								<li>
									<a href="#">
										<h2><span>糖藕粑粑</span><em>第4名</em></h2>
										<p><img src="__PUBLIC__/news/images/pic9.jpg"></p>
										<h3><img src="__PUBLIC__/news/images/pic6.jpg">王强</h3>
									</a>
								</li>
								<li>
									<a href="#">
										<h2><span>糖藕粑粑</span><em>第5名</em></h2>
										<p><img src="__PUBLIC__/news/images/pic9.jpg"></p>
										<h3><img src="__PUBLIC__/news/images/pic6.jpg">王强</h3>
									</a>
								</li>
								<li>
									<a href="#">
										<h2><span>糖藕粑粑</span><em>第6名</em></h2>
										<p><img src="__PUBLIC__/news/images/pic9.jpg"></p>
										<h3><img src="__PUBLIC__/news/images/pic6.jpg">王强</h3>
									</a>
								</li>
								<li>
									<a href="#">
										<h2><span>糖藕粑粑</span><em>第7名</em></h2>
										<p><img src="__PUBLIC__/news/images/pic9.jpg"></p>
										<h3><img src="__PUBLIC__/news/images/pic6.jpg">王强</h3>
									</a>
								</li>
								<li>
									<a href="#">
										<h2><span>糖藕粑粑</span><em>第8名</em></h2>
										<p><img src="__PUBLIC__/news/images/pic9.jpg"></p>
										<h3><img src="__PUBLIC__/news/images/pic6.jpg">王强</h3>
									</a>
								</li>
							</ul>
						</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/news/js/mui.pullToRefresh.js"></script>
<script src="__PUBLIC__/news/js/mui.pullToRefresh.material.js"></script>
<script>
	document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
	mui.init();
	(function($) {
		//阻尼系数
		var deceleration = mui.os.ios?0.003:0.0009;
		$('.mui-scroll-wrapper').scroll({
			bounce: true,
			indicators: true, //是否显示滚动条
			deceleration:deceleration
		});
		
		$.ready(function() {
			//循环初始化所有下拉刷新，上拉加载。
			$.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
				$(pullRefreshEl).pullToRefresh({
					up: {
						callback: function() {
							var self = this;
							var jqobj = jQuery(pullRefreshEl);
							var type = jqobj.attr('type');
							var p = jqobj.attr('p');
							var data = {
								type:type,
								p:p
							};
							mui.post("{:U('list')}",data,function(data){
									//服务器返回响应，根据响应结果，分析是否登录成功；
									if(data.html != ''){
										jqobj.attr('p', data.p);
										var list = jqobj.find('.mui-table-view');
										list.append(data.html);
										self.endPullUpToRefresh();
									}else{
										self.endPullUpToRefresh(true);
									}
								},'json'
							);
						}
					}
				});
			});
		});
		
	})(mui);						
</script>