<div class="fine_statistics_deta_info">
	<h2>此次操作属于用户不熟悉流程导致，店铺已做好沟通，请撤销罚款此次操作属于用户不熟悉流程导致，店铺已做好沟通，请撤销罚款此次操作属于用户不熟悉流程导致，店铺已做好沟通，请撤销罚款此次操作属于
用户不熟悉流程导致，店铺已做好沟通，请撤销罚款</h2>
	<p>
		<img src="__PUBLIC__/home/images/pic6.jpg" data-preview-src="__PUBLIC__/home/images/pic6.jpg" data-preview-group="1">
		<img src="__PUBLIC__/home/images/pic6.jpg" data-preview-src="__PUBLIC__/home/images/pic6.jpg" data-preview-group="1">
		<img src="__PUBLIC__/home/images/pic6.jpg" data-preview-src="__PUBLIC__/home/images/pic6.jpg" data-preview-group="1">
	</p>
</div>

<script src="__PUBLIC__/home/js/mui.zoom.js"></script>
<script src="__PUBLIC__/home/js/mui.previewimage.js"></script>
<script>
	mui.previewImage();
</script>