<div class="fine_statistics_deta">
	<div class="fine_statistics_deta_1">
		<dl>
			<dd>
				<p>违规类型：品质违规</p>
				<p><span>扣分:2</span><span>罚款：2000</span></p>
			</dd>
			<dt><span>审核中</span></dt>
		</dl>
		<time><span>罚单号:13585232215</span><em>2017-06-08 20:00</em></time>
	</div>
	<div class="fine_statistics_deta_2">
		<h2>由于店铺违规操作刷积分，扣2分，罚款2000，详细信息请查看一下图片</h2>
		<p><img src="__PUBLIC__/home/images/pic6.jpg" data-preview-src="__PUBLIC__/home/images/pic6.jpg" data-preview-group="1"></p>
	</div>
	<div class="fine_statistics_deta_4">
		<h2>审核流程</h2>
		<ul>
			<li>
				<span><img src="__PUBLIC__/home/images/icon21.png"></span>
				<dl>
					<dt><img src="__PUBLIC__/home/images/pic1.jpg"></dt>
					<dd>
						<p>伊特莱平台</p>
						<time>06/07 12:00</time>
					</dd>
					<dt>发布罚款</dt>
				</dl>
			</li>
			<li>
				<span><img src="__PUBLIC__/home/images/icon21.png"></span>
				<dl>
					<dt><img src="__PUBLIC__/home/images/pic1.jpg"></dt>
					<dd>
						<p>伊特莱平台</p>
						<time>06/07 12:00</time>
					</dd>
					<dt>发布罚款</dt>
				</dl>
			</li>
			<li>
				<span><img src="__PUBLIC__/home/images/icon21.png"></span>
				<dl>
					<dt><img src="__PUBLIC__/home/images/pic1.jpg"></dt>
					<dd>
						<p>伊特莱平台</p>
					</dd>
					<dt><em>终审中</em></dt>
				</dl>
			</li>
		</ul>
	</div>
	<div class="fine_statistics_deta_5 btn">
		<a href="{:U('appeal', array('fine_id'=>$info[fine_id]))}" class="mui-btn mui-btn-block mui-btn-primary">申诉</a>
	</div>
</div>

<script src="__PUBLIC__/home/js/mui.zoom.js"></script>
<script src="__PUBLIC__/home/js/mui.previewimage.js"></script>
<script>
	mui.previewImage();
</script>