<div class="row hy_page_content" href="{:U('', $get)}">
	<div class="col-sm-12 col-md-12">
		<h3 class="heading">角色管理
			<a href="{:U('add')}" hy_w="800" class="btn btn-info btn-sm alink_r cs_ajax_link hy_show_modal {:CheckPurview('admin_role_add')}">添加管理角色</a>
			<div style="clear:both"></div>
		</h3>
		<div class="row sepH_c">
			<div class="col-sm-12 col-md-12">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>角色名称</th>
							<th>角色简介</th>
							<th>所属部门</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<volist name="list" id="vo">
							<tr class="rowlink">
								<td>{$vo.role_name}</td>
								<td>{$vo.role_describe}</td>
								<td>{$vo.department_name}</td>
								<td>
									<a href="{:U('edit', array('id'=>$vo[role_id]))}" hy_w="800" class="cs_ajax_link hy_show_modal {:CheckPurview('admin_role_edit')}">编辑</a>
									<notin name="vo.role_id" value="49,50,53,54,55,57,65,66">
										<a href="{:U('del', array('id'=>$vo[role_id]))}" class="cs_del_confirm {:CheckPurview('admin_role_del')}" cs_tip="确定删除？">删除</a>
									</notin>
									<a href="{:U('target', array('id'=>$vo[role_id]))}" hy_w="800" class="cs_ajax_link hy_show_modal {:CheckPurview('admin_role_edit')}">目标权限</a>
									<a href="{:U('personnel', array('id'=>$vo[role_id]))}" hy_w="800" class="cs_ajax_link hy_show_modal {:CheckPurview('admin_role_edit')}">人员权限</a>
								</td>
							</tr>
						</volist>
					</tbody>
				</table>
				<div>{$page}</div>
			</div>
		</div>
	</div>
</div>