<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading">客户需求申请列表
			<!--<a id="rec_add" href="{:U('add',array('designer_id'=>$info['designer_id']))}" class="btn btn-info btn-sm alink_r">添加案例</a>-->
			<div style="clear:both"></div>
		</h3>
		<!-- and搜索 -->
		<!--<div class="well clearfix">
			<div class="pull-left">
			<form class="cs_ajax_form form-inline" action="{:U('')}" method="get">关键词:<input class="form-control input-sm" name="keyword" value="{$get.keyword}" placeholder="名称" style="display:inline-block;width:auto;" type="text">
			<button class="btn btn-default btn-sm">搜索</button>
			</form>
			</div>
		</div>-->
		<!-- end搜索 -->
		
		<div class="row sepH_c">
			<div class="col-sm-12 col-md-12">
				<table class="table_vam table table-striped table-bordered">
                    <thead>
                        <tr>
							<th>昵称</th>
							<th>手机号码</th>
							<th>地区</th>
							<th>空间类型</th>
							<th>风格</th>
							<th>项目面积</th>
							<th>预算</th>
							<th>IP</th>
							<th>提交时间</th>
							<th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
						<volist name="list" id="vo">
							<tr class="rowlink">
								<td>{$vo.nick_name}</td>
								<td>{$vo.mobile}</td>
							    <td>{$vo.region}</td>
								<td>{$vo.space_type}</td>
								<td>{$vo.style}</td>
								<td>{$vo.area}</td>
								<td>{$vo.budget}</td>
								<td>{$vo.ip}</td>
								<td>{$vo.add_time|date="Y-m-d H:i",###}</td>
								<td>
									<!--<a href="{:U('edit', array('designer_id'=>$vo[designer_id],'id'=>$vo['case_id']))}">编辑</a>-->
									<a href="{:U('del', array('id'=>$vo[id],'id'=>$vo['id']))}" class="cs_del_confirm" cs_tip="确定删除？">删除</a>
								</td>
							</tr>
						</volist>
                    </tbody>
                </table>
				<div id="pwrap">{$pager}</div>
			</div>
		</div>
		
		
	</div>
</div>