<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading">专题列表
			<a id="rec_add" href="{:U('add')}" class="btn btn-info btn-sm alink_r">添加专题</a>
			<div style="clear:both"></div>
		</h3>
		<div class="well clearfix">
			<div class="pull-left">
			<form class="cs_ajax_form form-inline" action="{:U('')}" method="get">
				关键词：
				<input class="form-control input-sm" name="keyword" value="{$get.keyword}" placeholder="专题标题" style="display:inline-block;width:auto;" type="text">
				
				<button class="btn btn-default btn-sm">搜索</button>
			</form>
			</div>
		</div>
		<div class="row sepH_c">
			<div class="col-sm-12 col-md-12">
				<table class="table_vam table table-striped table-bordered">
                    <thead>
                        <tr>
                        	<th width="50">图片</th>
							<th>标题</th>
							<!--<th width="100">分类</th>-->
							<th width="80">来源</th>
							<th width="80">作者</th>
							<th width="50">显示</th>
							<th width="50">推荐</th>
							<th width="60">阅读数</th>
							<th width="60">评论数</th>
							<th width="150">添加时间</th>
							<th width="80">操作</th>
                        </tr>
                    </thead>
                    <tbody>
						<volist name="list" id="vo">
							<tr class="rowlink">
							    <td><notempty name="vo.picture"><img src="__UPLOAD__/thumbs/b90/{$vo.picture}" height="32"></notempty></td>
								<td>{$vo.title}</td>
								<!--<td>{$vo.cat_name}</td>-->
								<td>{$vo.source_name}</td>
								<td>{$vo.author_name}</td>
								<td class="center">
									<eq name="vo.is_open" value="1">
										<a class='cs_ajax_link label label-success' href="{:U('open',array('news_id'=>$vo['news_id']))}">是</a>
									<else/>
										<a class='cs_ajax_link label label-danger' href="{:U('open',array('news_id'=>$vo['news_id']))}">否</a>
									</eq>
								</td>
								<td>
									<eq name="vo.is_recommend" value="1">
										<a class='cs_ajax_link label label-success cs_flesh_page' href="{:U('recommend',array('news_id'=>$vo['news_id']))}">是</a>
									<else/>
										<a class='cs_ajax_link label label-danger cs_flesh_page' href="{:U('recommend',array('news_id'=>$vo['news_id']))}">否</a>
									</eq>
								</td>
								<td align="center">{$vo.read_count}</td>
								<td align="center">{$vo.comment_count}</td>
								<td>{$vo.add_time|date="Y-m-d H:i:s",###}</td>
								<td>
									<a href="{:U('edit', array('news_id'=>$vo[news_id]))}">编辑</a>
									<a href="{:U('del', array('news_id'=>$vo[news_id]))}" class="cs_del_confirm" cs_tip="确定删除？">删除</a>
								</td>
							</tr>
						</volist>
                    </tbody>
                </table>
				<div id="pwrap">{$pager}</div>
			</div>
		</div>
	</div>
</div>