<div class="row">
	<div class="col-sm-12 col-md-12">
		<h3 class="heading">商品分类
			<a id="rec_add" href="{:U('add')}" class="btn btn-info btn-sm alink_r">添加分类</a>
			<div style="clear:both"></div>
		</h3>
		<div class="row sepH_c">
			<div class="col-sm-12 col-md-12">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<!--<th>分类ID</th>-->
							<th>图片</th>
							<th>分类名称</th>
							<!--<th>分类简介</th>-->
							<th>是否显示</th>
							<!--<th>是否楼层显示</th>-->
							<th>楼层名称</th>
							<th>商品参数</th>
							<th>排序</th>
							<th>添加时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						{$categorys}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
