<script src="__PUBLIC__/wap/js/dropload/dropload.min.js"></script>
<link href='__PUBLIC__/wap/js/dropload/dropload.css' rel="stylesheet" type="text/css">
<div class="warp designer_box">
	<div class="point_service">
		<div class="point_service_hd">
			<ul class="clearfix">
				<volist name="catlist" id="vo">
				<li><a href="{:U('', array('cat_id'=>$vo[cat_id]))}" <if condition="$vo[cat_id] eq $get[cat_id]">class="on"</if> >{$vo.cat_name}</a></li>
				</volist>
			</ul>
		</div>
		<div class="point_service_bd db_list">
			<include file='Serve/Index/_index' />
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$('.like').click(function(){
		var like = $(this);
		var serve_id = $(this).attr('serve_id');
		$.post("{:U('like')}",{serve_id:serve_id},function(data){
			layer.open({time:1,content:data.info});
			if(data.status == 1){
				like.find('.good_num').html(data.good_num);
			}
			if(data.url){
				window.location.href = data.url;
			}
		},'json');
	});
	$('.clap').click(function(){
		var clap = $(this);
		var serve_id = $(this).attr('serve_id');
		$.post("{:U('clap')}",{serve_id:serve_id},function(data){
			layer.open({time:1,content:data.info});
			if(data.status == 1){
				clap.find('.bad_num').html(data.bad_num);
			}
			if(data.url){
				window.location.href = data.url;
			}
		},'json');
	});
});
</script>
<script>
	var page=2;
	var dropload = $('.designer_box').dropload({
	scrollArea : window,
	loadDownFn : function(me){
		
		$.ajax({
			type: 'POST',
			url: "{:U('',array('cat_id'=>$cat_id))}",
			data:{p:page},
			dataType: 'json',
			success: function(data){
				
				// 为了测试，延迟1秒加载
				setTimeout(function(){
					if(data.html!=''){
						$('.db_list').append(data.html);
						page++;
					}else{
						me.lock();
						// 无数据
						me.noData();
					}
					// 每次数据加载完，必须重置
					me.resetload();
				},1000);
			},
			error: function(xhr, type){
				alert('Ajax error!');
				// 即使加载出错，也得重置
				me.resetload();
			}
		});
	}})
</script>