<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading">添加业务员
			<div style="clear:both"></div>
		</h3>
		<form class="form-horizontal cs_ajax_form" method="post" action="{:U('')}">
			<fieldset>
				<div class="form-group">
					<label for="u_fname" class="control-label col-sm-2">手机号</label>
					<div class="col-sm-6">
						<input name="mobile" class="input-xlarge form-control" type="text" value="{$info.mobile}">
					</div>
				</div>
				<div class="form-group">
					<label for="u_fname" class="control-label col-sm-2">备注</label>
					<div class="col-sm-6">
						<input name="remark" class="input-xlarge form-control" type="text" value="{$info.remark}">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-2">
						<button class="btn btn-default" type="submit">确认并保存</button>
						<input type="hidden" name="user_id" value="{$info.user_id}" />
					</div>
				</div>
			</fieldset>
		</form>
    </div>
</div>