<div class="shop">
        	<header>
            	<div class="logo"><a href="#"><img src="__PUBLIC__/v8/images/logo.png"></a></div>
                <div class="search"><a href="#"><img src="__PUBLIC__/v8/images/icon13.png">搜索</a></div>
            </header>
        </div>
        
        <div class="sort_l">
        	<ul>
            	<li><a href="#">特价推荐</a></li>
                <li><a href="#">保健类</a></li>
                <li><a href="#">保健器械</a></li>
                <li><a href="#" class="on">干果类</a></li>
                <li><a href="#">植物根类</a></li>
                <li><a href="#">无糖食品</a></li>
            </ul>
        </div>
        
        <div class="sort_r">
        	<a href="#">
            	<dl>
                	<dt><img src="__PUBLIC__/v8/images/pic8.jpg"></dt>
                    <dd>
                    	<h2>休闲零食干果新疆特产红枣子大枣和田骏枣</h2>
                        <p><span>评论 1300条</span><em>月销 1.4万笔</em></p>
                        <p><font>99壶币</font><del>￥129.0</del></p>
                    </dd>
                </dl>
            </a>
            <a href="#">
            	<dl>
                	<dt><img src="__PUBLIC__/v8/images/pic8.jpg"></dt>
                    <dd>
                    	<h2>休闲零食干果新疆特产红枣子大枣和田骏枣</h2>
                        <p><span>评论 1300条</span><em>月销 1.4万笔</em></p>
                        <p><font>99壶币</font><del>￥129.0</del></p>
                    </dd>
                </dl>
            </a>
            <a href="#">
            	<dl>
                	<dt><img src="__PUBLIC__/v8/images/pic8.jpg"></dt>
                    <dd>
                    	<h2>休闲零食干果新疆特产红枣子大枣和田骏枣</h2>
                        <p><span>评论 1300条</span><em>月销 1.4万笔</em></p>
                        <p><font>99壶币</font><del>￥129.0</del></p>
                    </dd>
                </dl>
            </a>
            <a href="#">
            	<dl>
                	<dt><img src="__PUBLIC__/v8/images/pic8.jpg"></dt>
                    <dd>
                    	<h2>休闲零食干果新疆特产红枣子大枣和田骏枣</h2>
                        <p><span>评论 1300条</span><em>月销 1.4万笔</em></p>
                        <p><font>99壶币</font><del>￥129.0</del></p>
                    </dd>
                </dl>
            </a>
            <a href="#">
            	<dl>
                	<dt><img src="__PUBLIC__/v8/images/pic8.jpg"></dt>
                    <dd>
                    	<h2>休闲零食干果新疆特产红枣子大枣和田骏枣</h2>
                        <p><span>评论1300条</span><em>月销1.4万笔</em></p>
                        <p><font>99壶币</font><del>￥129.0</del></p>
                    </dd>
                </dl>
            </a>
            <a href="#">
            	<dl>
                	<dt><img src="__PUBLIC__/v8/images/pic8.jpg"></dt>
                    <dd>
                    	<h2>休闲零食干果新疆特产红枣子大枣和田骏枣</h2>
                        <p><span>评论 1300条</span><em>月销 1.4万笔</em></p>
                        <p><font>99壶币</font><del>￥129.0</del></p>
                    </dd>
                </dl>
            </a>
        </div>
        
        <include file="Public/footer"/>