<!-------头部开始----->
<include file="Public/header"/>
<!-------头部结束----->





<!-------活动列表开始----->
<div class="activity_list w1200">
	<div class="special_position"><a href="{:U('index')}">首页</a> > 活动专场 </div>
	<ul class="clearfix">
		<volist name="list" id="vo">
			<li>
				<a href="{:U('info', array('id'=>$vo[activity_id]))}">
					<img src="__UPLOAD__/{$vo.picture}">
					<h2>{$vo.title}</h2>
					<p>日期：{:date('Y年m月d日', $vo[start_time])}--{:date('m月d日', $vo[end_time])}  {:date('H:i', $vo[start_time])}--{:date('H:i', $vo[end_time])}</p>
					<p>地址：{$vo.place}</p>
				</a>
			</li>
		</volist>
	</ul>
	<div class="pages1">
		{$pager}
	</div>
</div>
<!-------活动列表结束----->



<!-------底部开始----->
<include file="Public/footer"/>
<!-------底部结束----->