<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading"><gt name="info.story_id" value="0">故事会审核<else/>增加故事会</gt></h3>
			<php>$action = $info['story_id'] > 0 ? U('edit', array('id'=>$info['story_id'])) : U('add');</php>
		<form class="form-horizontal" action="{$action}" method="post" enctype="multipart/form-data">
			<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-2">封面图片</label>
					<div class="col-sm-8">
						<!-- *请上传280*220的图片 -->
						<input class="hy_upload_single" hy_field="story_image" value="上传图片" style="width:200px;height:150px;" src="{$info.story_image}"/>
					</div>
					<div class="help-block col-sm-offset-2" style="clear:both; padding-left:15px;">尺寸：600X600像素</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2">标题</label>
					<div class="col-sm-6 col-md-6">
						<input name="story_title" class="input-xlarge form-control" type="text" value="{$info.story_title}" <gt name="info.story_id" value="0">readOnly="true"</gt>>
					</div>
				</div>
				
				<div class="form-group">
					<label for="u_email" class="control-label col-sm-2">分类</label>
					<div class="col-sm-6 col-md-6">
						<select class="form-control" name="cat_id">
							<option value="">选择分类</option>
							<volist name="catlist" id="vo">
								<option value="{$vo.cat_id}">{$vo.cat_name}</option>
								<volist name="vo.children" id="vo2">
									<option {:m_selected($vo2[cat_id], $info[cat_id])} value="{$vo2.cat_id}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└─ {$vo2.cat_name}</option>
								</volist>
							</volist>	
						</select>
					</div>
				</div>

				<!--<div class="form-group">
						<label class="control-label col-sm-2">是否发布</label>
						<div class="col-sm-8">
							<label class="radio-inline">
								<input value="1" id="s_yes" name="is_show" {:m_checked($info[is_show], 1)} type="radio">
								是
							</label>
							<label class="radio-inline">
								<input value="0" id="s_no" name="is_show" {:m_checked($info[is_show], 0)} type="radio">
								否
							</label>
						</div>
					</div>-->
				<div class="form-group">
					<label class="control-label col-sm-2">游览量设置</label>
					<div class="col-sm-6 col-md-6">
						<input name="view_fake" class="input-xlarge form-control" type="text" value="{$info.view_fake}" <gt name="info.story_id" value="0">readOnly="true"</gt>>
					</div>
				</div>
				
				<div class="form-group">
					<label for="u_fname" class="control-label col-sm-2">文章简介</label>
					<div class="col-sm-9">
						<textarea name="story_intro" style="width:66%;height:100px;" <gt name="info.story_id" value="0">readOnly="readOnly"</gt>>{$info.story_intro}</textarea>
					</div>
				</div>
				
				<div class="form-group">
					<label for="u_fname" class="control-label col-sm-2">文章内容</label>
					<div class="col-sm-9">
						<textarea id="editor_id" name="story_content" style="width:66%;height:400px;" <gt name="info.story_id" value="0">readOnly="readOnly"</gt>>{$info.story_content}</textarea>
						<!--<div style='border:1px solid #ccc;padding:10px;overflow:auto;height:250px;width:66%;background:#eee;'>{$info.story_content}</div>-->
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2">排序</label>
					<div class="col-sm-2 col-md-2">
						<input name="sort_order" class="input-xlarge form-control" type="text" value="{$info.sort_order}"  <gt name="info.story_id" value="0">readOnly="true"</gt>>
					</div>
				</div>
				
				<gt name="info.story_id" value="0">
				<div class="form-group">
						<label class="control-label col-sm-2">审核</label>
						<div class="col-sm-8">
							<label class="radio-inline">
								<input value="1" id="s_yes" name="status" {:m_checked($info[status], 1)} type="radio">
								通过
							</label>
							<label class="radio-inline">
								<input value="0" id="s_no" name="status" {:m_checked($info[status], 0)} type="radio">
								不通过
							</label>
						</div>
					</div>
				</gt>
				
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-2">
						<button class="btn btn-default" type="submit">确认并保存</button>
					</div>
				</div>
			</fieldset>
		</form>
    </div>
</div>
<script charset="utf-8" src="__PUBLIC__/editor/kindeditor.js"></script>
<script charset="utf-8" src="__PUBLIC__/editor/lang/zh_CN.js"></script>
<script>
        KindEditor.ready(function(K) {
            window.editor = K.create('#editor_id', {uploadJson : '{:U("site/upload")}'});
        });
</script>

<script type="text/javascript">
	window.editor2 = KindEditor.editor({
		uploadJson : '{:U("site/upload")}',
		allowFileManager : true
	});
	$('#J_selectImage').unbind('click').bind('click',function(){
		window.editor2.loadPlugin('multiimage', function() {
			window.editor2.plugin.multiImageDialog({
				clickFn : function(urlList) {
					KindEditor.each(urlList, function(i, data) {
						listPicShow(data.short_url);
					});
					window.editor2.hideDialog();
				}
			});
		});
	});

	function gresize(obj){
		var w = $(obj).width();
		var h = $(obj).height();
		if(w > h){
			$(obj).css({'height':'100%'});
		} else {
			$(obj).css({'width':'100%'});
		}
	}

	function listPicShow(file){
		var fp_input = $('#flashpic');
		var t = fp_input.val() + ',' + file;
		fp_input.val(t);

		var ref_obj = $('#file_flash');
		var obj_new = $('<div></div>').css({'width':'130px','height':'130px','border':'1px solid #CCC','padding':'5px','overflow':'hidden','float':'left','margin-right':'15px','position':'relative'}).insertBefore(ref_obj)
		.append('<img src="__UPLOAD__/'+file+'" onload="gresize(this)"/>');
		//
		$('<a class="btn btn-danger" ci=",'+file+'" href="#">X</a>')
		.css({'position':'absolute', 'bottom':'1px', 'right':'1px', 'font-size':'12px', 'padding':'3px 5px'})
		.appendTo(obj_new).bind('click',function(){
			var pobj = $(this).parent().remove();
	        var flashpic = $('#flashpic'); 
	        var a = flashpic.val().replace($(this).attr('ci'),'');
			flashpic.val(a);
		});
	}
	<php>$gallery=explode(',', $info['product_duo']);</php>
	<volist name="gallery" id="vo">
		<notempty name="vo">listPicShow('{$vo}');</notempty>
	</volist>
</script>	