<div class="warp">
	
	<div class="pay_result">
		<div class="pay_result_box">
			<dl>
				<dt><i class="weui-icon-warn weui-icon_msg"></i></dt>
				<dd>
					<h1>{$error} <b id="wait">{$waitSecond}</b>秒 <a id="href" href="{$jumpUrl}">跳转</a></h1>
				</dd>
			</dl>
		</div>
	</div>
	
</div>

<script type="text/javascript">
(function(){
var wait = document.getElementById('wait'),href = document.getElementById('href').href;
var interval = setInterval(function(){
	var time = --wait.innerHTML;
	if(time <= 0) {
		location.href = href;
		clearInterval(interval);
	};
}, 1000);
})();
</script>