<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><notempty name="page_title">{$page_title} - </notempty>{$sysconfig.name}</title>
<meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="__PUBLIC__/wap/css/swiper.min.css">
<link rel="stylesheet" href="__PUBLIC__/wap/css/weui.css">
<link rel="stylesheet" href="__PUBLIC__/wap/css/public.css">
<script src="__PUBLIC__/wap/js/jquery-1.7.1.min.js"></script>
<script src="__PUBLIC__/wap/js/swiper.min.js"></script>
</head>
