<div class="blank52"></div>
<div class="shop_home_menu">
	<ul class="clearfix">
		<!--<li><a href="{:U('store/category/index', array('store_id'=>$get[store_id]))}">商品分类</a></li>
		<li><a href="{:U('Design/Index/bespeak',array('store_id'=>$get[store_id]))}">在线报名</a></li>
		<li><a href="{:U('design/index/case',array('store_id'=>$get[store_id]))}">真实案例</a></li>
		<li><a href="{:U('store/brand/index', array('store_id'=>$get[store_id]))}">关于我们</a></li>-->
		<li><a href="{:U('index/index/index',array('store_id'=>$get[store_id]))}">首页</a></li>
		<li><a href="{:U('store/category/index', array('store_id'=>$get[store_id]))}">分类</a></li>
		<li><a href="http://wpa.qq.com/msgrd?v=3&uin={$distributor_config.qq}&site={$distributor.qq}&menu=yes" target="_blank">在线客服</a></li>
		<li><a href="{:U('user/index/index')}">我的</a></li>
	</ul>
</div>