<style>
a:hover{ text-decoration:none;}
.gallery{position:realtive;}
.gallery .g_add{margin-right:10px;float:left;}
.gallery_add{text-align:right;margin-top:10px;}
.gallery_add font{font-size:18px;border:1px solid #ccc;padding:3px 0px;width:30px;cursor:pointer;display:inline-block;text-align:center;border-radius:5px;}
.gallery dl{display:inline-block;border:1px solid #ccc;padding:10px;border-radius:5px;}
.galllery_close{position:absolute;right:10px;top:5px;line-height:20px;}
.galllery_close a{font-size:28px;color:#ff0000;}

.g_input{width:30%;display:inline-block;}
.case_pic img{margin-top:10px!important;margin-left:0px!important;}
</style>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading"><gt name="info.designer_id" value="0">修改案例<else/>增加案例</gt><a href="{:U('index',array('designer_id'=>$_GET['designer_id']))}" class='btn btn-info btn-sm' style='float:right;'>返回列表</a></h3>
			
		<form class="form-horizontal cs_ajax_form" action="" method="post" enctype="multipart/form-data">
			<fieldset>
				<div class="tabbable">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab1" data-toggle="tab">基础信息</a></li>
						<li><a href="#tab2" data-toggle="tab">商品相册</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab1">
							<div class="form-group">
								<label class="control-label col-sm-2">案例名称</label>
								<div class="col-sm-2 col-md-2">
									<input name="case_name" class="input-xlarge form-control" type="text" value="{$info.case_name}">
								</div>
							</div>
							
							
							<div class="form-group">
								<label class="control-label col-sm-2">装饰风格</label>
								<div class="col-sm-2 col-md-2">
									<select class="form-control" name='decorate_type'>
										<volist name='type_list[1]["list"]' id='val'>
										<option <if condition="$val['id'] eq $info['decorate_type']">selected='selected'</if> value='{$val[id]}'>{$val[name]}</option>
										</volist>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2">户型</label>
								<div class="col-sm-2 col-md-2">
									<select class="form-control" name='layout_type'>
										<volist name='type_list[2]["list"]' id='val'>
										<option <if condition="$val['id'] eq $info['layout_type']">selected='selected'</if> value='{$val[id]}'>{$val[name]}</option>
										</volist>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2">国家</label>
								<div class="col-sm-2 col-md-2">
									<select class="form-control" name='country'>
										<volist name='type_list[3]["list"]' id='val'>
										<option <if condition="$val['id'] eq $info['country']">selected='selected'</if> value='{$val[id]}'>{$val[name]}</option>
										</volist>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-2">家居区域</label>
								<div class="col-sm-2 col-md-2">
									<select class="form-control" name='district'>
										<volist name='type_list[4]["list"]' id='val'>
										<option <if condition="$val['id'] eq $info['district']">selected='selected'</if> value='{$val[id]}'>{$val[name]}</option>
										</volist>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-2">定制模式</label>
								<div class="col-sm-2 col-md-2">
									<select class="form-control" name='custom_type'>
										<option value='0'>选择定制模式</option>
										<option <if condition="$info['custom_type'] eq 1">selected='selected'</if> value='1'>半包</option>
										<option <if condition="$info['custom_type'] eq 2">selected='selected'</if> value='2'>全包</option>
										<option <if condition="$info['custom_type'] eq 3">selected='selected'</if> value='3'>清包</option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-2">进度</label>
								<div class="col-sm-2 col-md-2">
									<select class="form-control" name='progress'>
										<option value='0'>预约中</option>
										<option <if condition="$info['progress'] eq 1">selected='selected'</if> value='1'>准备开工</option>
										<option <if condition="$info['progress'] eq 2">selected='selected'</if> value='2'>水电阶段</option>
										<option <if condition="$info['progress'] eq 3">selected='selected'</if> value='3'>泥木阶段</option>
										<option <if condition="$info['progress'] eq 4">selected='selected'</if> value='4'>油漆阶段</option>
										<option <if condition="$info['progress'] eq 5">selected='selected'</if> value='5'>竣工阶段</option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-2">面积</label>
								<div class="col-sm-2 col-md-2">
									<input name="area" class="input-xlarge form-control" type="text" value="{$info.area}">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2">预算</label>
								<div class="col-sm-2 col-md-2">
									<input name="budget" class="input-xlarge form-control" type="text" value="{$info.budget}">
								</div>
							</div>				
							
							<div class="form-group">
								<label for="u_fname" class="control-label col-sm-2">案例简介</label>
								<div class="col-sm-9">
									<textarea name="intro" class="input-xlarge form-control" style="width:66%;height:100px;">{$info.intro}</textarea>
								</div>
							</div>
			
							<!--<div class="form-group">
								<label for="u_fname" class="control-label col-sm-2">案例详情</label>
								<div class="col-sm-9">
									<textarea id="editor_id" name="description" style="width:66%;height:400px;">{$info.description}</textarea>
								</div>
							</div>-->
							
							<div class="form-group">
								<label for="u_fname" class="control-label col-sm-2">热门案例</label>
								<div class="col-sm-9" style='padding-top:7px;'>
									<input type='radio' name='is_hot' <if condition="($info[is_hot] eq 1) OR ($info[case_id] eq '')">checked='checked'</if> value='1' />&nbsp;&nbsp;是&nbsp;
									<input type='radio' name='is_hot' <if condition="$info.is_hot eq 0">checked='checked'</if> value='0' />&nbsp;&nbsp;否
								</div>
							</div>
								
							<div class="form-group">
								<label class="control-label col-sm-2">排序</label>
								<div class="col-sm-2 col-md-2">
									<input name="sort_order" class="input-xlarge form-control" type="text" value="{$info.sort_order|default=1}">
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab2">
							<div class="form-group">
								<label class="control-label col-sm-2">封面图</label>
								<div class="col-sm-8 case_pic" >
									<!-- *请上传280*220的图片 -->
									<input class="hy_upload_single" hy_field="picture" name='picture' value="上传图片" style="width:200px;height:150px;" src="{$info.picture}"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2">
									<h4 style='font-weight:normal;'>图片相册</h4>
									<div style='margin-top:5px;margin-right:-5px;'><font style='color:#ff0000;'>（760x610）</font></div>
									<div class='gallery_add'><font onclick='add_gallery()'>+</font></div>
								</label>
								
								<div class="col-sm-9">
									<div style='' class='gallery'>
										<empty name='info.gallery_array'>
										<div style='position:relative;' class='g_add'>
											<dl style=''>
												<dt>
													<input class="hy_upload_single" hy_field="gallery_pic[]" value="上传图片" style="width:320px;height:120px;" src=""/>
												</dt>
												<dd>标题:<input class='input-xlarge form-control g_input' type='text' name='gallery_title[]' /> 排序：<input type='text' class='input-xlarge form-control g_input' name='gallery_sort[]' /></dd>
											</dl>
											<div class='galllery_close' onclick='del_gallery(this)'><a href="javascript:;">×</a></div>
										</div>
										<else/>
										<volist name='info.gallery_array' id='val'>
										<div style='position:relative;' class='g_add'>
											<dl style=''>
												<dt>
													<input class="hy_upload_single" hy_field="gallery_pic[]" value="上传图片" style="width:320px;height:120px;" src="{$val.pic}"/>
												</dt>
												<dd>标题:<input class='input-xlarge form-control g_input' type='text' name='gallery_title[]' value="{$val.title}" /> 排序：<input type='text' class='input-xlarge form-control g_input' name='gallery_sort[]' value="{$val.sort}" /></dd>
											</dl>
											<div class='galllery_close' onclick='del_gallery(this)'><a href="javascript:;">×</a></div>
										</div>
										</volist>
										</empty>
									</div>
								</div>
								<input type='hidden' name='id[{$info.id}]' value='{$info.id}' />
							</div>
						</div>
					</div>
				</div>
				
				
				
				
				<input type='hidden' name='case_id' value="{$info.case_id}" />
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-2">
						<button class="btn btn-default" type="submit">确认并保存</button>
					</div>
				</div>
			</fieldset>
		</form>
    </div>
</div>
<div id='g_del' style='display:none;'>
	
    <div style='position:relative;' class='g_add'>
        <dl style='display:inline-block;border:1px solid #ccc;padding:10px;'>
            <dt>
                <input class="hy_upload_single_add" hy_field="gallery_pic[]" value="上传图片" style="width:320px;height:120px;" src=""/>
            </dt>
            <dd>标题:<input class='input-xlarge form-control g_input' type='text' name='gallery_title[]' /> 排序：<input type='text' class='input-xlarge form-control g_input' name='gallery_sort[]'  /></dd>
        </dl>
        <div class='galllery_close' onclick='del_gallery(this)'><a href="javascript:;">×</a></div>
    </div>
    
</div>
<script charset="utf-8" src="__PUBLIC__/editor/kindeditor.js"></script>
<script charset="utf-8" src="__PUBLIC__/editor/lang/zh_CN.js"></script>
<script>
        KindEditor.ready(function(K) {
            window.editor = K.create('#editor_id', {uploadJson : '{:U("site/upload")}'});
        });
</script>
<script type="text/javascript">
	window.editor2 = KindEditor.editor({
		uploadJson : '{:U("site/upload")}',
		allowFileManager : true
	});
	$('#J_selectImage').unbind('click').bind('click',function(){
		window.editor2.loadPlugin('multiimage', function() {
			window.editor2.plugin.multiImageDialog({
				clickFn : function(urlList) {
					KindEditor.each(urlList, function(i, data) {
						listPicShow(data.short_url);
					});
					window.editor2.hideDialog();
				}
			});
		});
	});

	function gresize(obj){
		var w = $(obj).width();
		var h = $(obj).height();
		if(w > h){
			$(obj).css({'height':'100%'});
		} else {
			$(obj).css({'width':'100%'});
		}
	}

	function listPicShow(file){
		var fp_input = $('#flashpic');
		var t = fp_input.val() + ',' + file;
		fp_input.val(t);

		var ref_obj = $('#file_flash');
		var obj_new = $('<div></div>').css({'width':'130px','height':'130px','border':'1px solid #CCC','padding':'5px','overflow':'hidden','float':'left','margin-right':'15px','position':'relative'}).insertBefore(ref_obj)
		.append('<img src="__UPLOAD__/'+file+'" onload="gresize(this)"/>');
		
		$('<a class="btn btn-danger" ci=",'+file+'" href="#">X</a>')
		.css({'position':'absolute', 'bottom':'1px', 'right':'1px', 'font-size':'12px', 'padding':'3px 5px'})
		.appendTo(obj_new).bind('click',function(){
			var pobj = $(this).parent().remove();
	        var flashpic = $('#flashpic'); 
	        var a = flashpic.val().replace($(this).attr('ci'),'');
			flashpic.val(a);
		});
	}
	<php>$gallery=explode(',', $info['product_duo']);</php>
	<volist name="gallery" id="vo">
		<notempty name="vo">listPicShow('{$vo}');</notempty>
	</volist>
</script>
<script>
	function add_gallery(){
		var html=$("#g_del").html();
		$(".gallery").append(html);
		$(".gallery").find('.hy_upload_single_add:last-child').hySingleUpload("{:U('site/upload/index')}", '__UPLOAD__');
	}
	function del_gallery(obj){
		if(window.confirm('确定要删除该图片')==false){return;}
		$(obj).parent(".g_add").remove();
	} 
	KindEditor.ready(function(K) {
		window.editor = K.create('#editor_id', {uploadJson : '{:U("site/upload")}'});
	});
	function upload_img(id,img_data,url){
		var $this=$("#"+id);
		var $path_obj=$("input[name='gallery']")[0];
		var img_list=[];
		var prev="__UPLOAD__//";
		
		if(img_data==undefined || img_data==''){
			img_list=[];
		}else{
			img_data=img_data.split(',');
			for(i in img_data){
				img_list[img_list.length]="<img height='160' src='"+prev+img_data[i]+"'>";
			}
			
		}
		$("#"+id).fileinput({
			uploadExtraData: {kvId: '10'},uploadUrl:"{:U('Site/upload')}",initialPreview: img_list
		});
		
		$("#"+id).on("fileuploaded", function(event, data, previewId, index){
			//alert(data.response)
			$path_obj.value=trim($path_obj.value+","+data.response)
		})
		
		$("#"+id).on("fileclear",function(event, data, previewId, index){
			
			$path_obj.value='';
		})
		
	}
	function trim(str,sign){
		sign=(sign==undefined?',':sign);
		var first_num=0;
		var last_num=str.length;
		if(str.substr(0,1)==sign){
			first_num=1;
		}
		if(str.substr(str.length-1,1)==sign){
			last_num=str.length-2;
		}
		return str.substr(first_num,last_num);
	}
	
	//upload_img("upload_{$info.id}","{$info.gallery}");
		
</script>	